/* css de los mensajes y cuadros de diálogo */

/* definición del div de mensajes */
.alerta {
    position: absolute;
    border: 3px solid rgba(15, 15, 15, 0);
    padding: 1em;
    margin: 1em 0 1em 4em;
    width: 300px;
    top: 10px;
    left: 850px;
    border-radius: 4px;
    box-shadow: 0px 0px 3px 0px #000000;
    z-index:1200;
}

/* definición del div emergente */
.emergente {
    position: absolute;
    border: 2px solid rgba(15, 15, 15, 0);
    padding: 0px;
    margin: 0 0 0 0;
    border-radius: 4px;
    height: 300px;
    width: 300px;
    box-shadow: 0px 0px 3px 0px #000000;
    background-color:#E5E5E5;
    border-top-color:#2B84EB;
    border-left-color:#2B84EB;
    border-right-color:#2B84EB;
    border-bottom-color:#2B84EB;
    display: none;
    z-index:1200;
}

/* la posición del botón cerrar del canvas */
.emergenteclose{
    float:right;
    width:20px;
    height:20px;
    background:transparent;
    background-repeat: no-repeat;
    background-position: right;
    margin-top: 0px;
    margin-right: 0px;
    cursor:pointer;
}

/* el layer opaco que impide pulsar sobre la pantalla */
.overlay{
    background:transparent url(../imagenes/overlay.png) repeat top left;
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 100;
    display: none;
}
