/* css de la barra de progreso */

/* definición del contenedor de la barra */
.myProgress {
    position: absolute;
    width: 800px;
    background-color: grey;
    z-index:1200;
    border-radius: 4px;
    box-shadow: 0px 0px 3px 0px #000000;
}

/* definición de la barra de progreso */
.myBar {
    width: 1%;
    height: 30px;
    background-color: green;
}