/* css del tabulador */

/* estilo del tabulador */
 div.tab {
    overflow: hidden;
    border: 0px solid #ccc;
    background-color: inherit;
}

/* estilo de los botones dentro del tabulador */
div.tab button {
    background-color: #d8daec;
    color: #000000;
    float: left;
    font-weight: bold;
    cursor: pointer;
    padding: 10px 12px;
    transition: 0.3s;
    border-radius: 7px 7px 0px 0px;
    -moz-border-radius: 7px 7px 0px 0px;
    -webkit-border-radius: 7px 7px 0px 0px;
    border: 0px solid #000000;
    text-align: center;
}

/* cambia el fondo con el mouse hover */
div.tab button:hover {
    background-color: #bec3ee;
    color: #000000;
}

/* clase del tab activo */
div.tab button.active {
    background-color: #97c3f566;
    color: #000000;
    border: 0px solid #000000;
}

/* estilo del contenido del tab */
.tabcontent {
    display: none;
    background-color: #97c3f566;
    padding: 12px 12px;
    border: 0px solid rgb(5, 5, 5);
    border-top: none;
    min-height: 410px;
}
