<!--

    Archivo: form_marcas.html
    Autor: Claudio Invernizzi
    Fecha: 25-12-2016
    E-Mail: cinvernizzi@gmail.com
    Proyecto: CCE
    Licencia: GPL
    Comentarios: Método que arma el formulario de edición de marcas con un
                 formato a dos columnas

-->

<!-- presentamos el título -->
<h2>Seleccione la técnica y luego podrá editar la nómina de  marcas para esa técnica</h2>

<!-- definimos la primer columna -->
<div id='columna1'>

<!-- Definimos el título -->
<h2>Técnica</h2>

<!-- definimos el formulario -->
<form name='nomina_tecnicas'>

<!-- definimos el combo -->
<span class='tooltip'
      title='Seleccione la técnica del listado'>
<select name='lista_tecnicas'
        size='1'
        id='lista_tecnicas'
        onClick='marcas.nominaMarcas()'>
</select>
</span>
</form>

<!-- cerramos el div -->
</div>

<!-- definimos la segunda columna que luego cargamos por ajax -->
<div id='columna2'></div>

<SCRIPT>

    // instanciamos los tooltips
    new jBox('Tooltip', {
        attach: '.tooltip',
        theme: 'TooltipBorder'
    });

    // cargamos la nómina de técnicas
    marcas.cargaTecnicas();

</SCRIPT>