<!--

    Archivo: form_agenda.html
    Proyecto: Diagnóstico
    Autor: Claudio Invernizzi
    E-Mail: cinvernizzi@gmail.com
    Institución: INP - Dr. Mario Fatala Chaben
    Fecha: 01/07/2019
    Version: 1.0
    Licencia: GPL
    Comentarios: Procedimiento que arma el formulario de citas
                 de la agenda

-->

<!-- define el formulario -->
<form name='form_agenda' id='form_agenda'>

<!-- define la tabla -->
<table id='grilla_agenda' width='99%'>

<!-- define los encabezados -->
<thead>

<!--- agrega la primer fila -->
<tr>
<th>Profesional</th>
<th>Protocolo</th>
<th>Paciente</th>
<th>Documento</th>
<th>Fecha</th>
<th>Hora</th>
<th>Vino</th>
<th>Usuario</th>
<th></th>
</tr>

<!-- presenta la segunda fila del encabezado -->
<tr>

<!-- pide el profesional -->
<th>
<span class='tooltip'
      title='Seleccione el profesional de la lista'>
<select name='profesional'
        id='profesional'
        size='1'>

<!-- los elementos los cargamos por javascript -->

<!-- cerramos los tags -->
</select>
</span>
</th>

<!-- presenta el protocolo solo lectura -->
<th>
<span class='tooltip'
      title='Protocolo del paciente'>
<input type='text'
       name='protocolo_agenda'
       id='protocolo_agenda'
       size='7'>
</span>
</th>

<!-- presenta el texto con el paciente -->
<th>
<span class='tooltip'
      title='Ingrese parte del nombre y pulse <b>Buscar</b>'>
<input type='text'
       name='nombre_agenda'
       id='nombre_agenda'
       size='20'>

<!-- presenta el botón buscar -->
<input type='button'
       name='btnBuscaAgenda'
       id='btnBuscaAgenda'
       class='botonbuscar'
       onClick='agenda.buscaPaciente()'>
</span>
</th>

<!-- presenta el número de documento -->
<th>
<span class='tooltip'
      title="Núumero de documento del paciente">
<input type='text'
       name='documento_agenda'
       id='documento_agenda'
       size='8'>
</span>
</th>

<!-- presenta el campo fecha -->
<th>
<span class='tooltip'
      title='Seleccione la fecha de la cita'>
<input type='text'
       name='fecha_agenda'
       id='fecha_agenda'
       size='12'
       class='datepicker'>
</span>
</th>

<!-- presenta la hora -->
<th>
<span class='tooltip'
      title='Seleccione la hora de la visita'>
<input type='text'
       name='hora_agenda'
       id='hora_agenda'
       size="8">
</span>
</th>

<!-- presenta el check si concurrió -->
<th>
<span class='tooltip'
      title='Marque si concurrió a la entrevista'>
<input type='checkbox'
       name='concurio_agenda'
       id='concurrio_agenda'
       value='Si'>
</span>
</th>

<!-- presenta el usuario -->
<th>
<span class='tooltip'
      title='Usuario que ingresó el registro'>
<input type='text'
       name='usuario_agenda'
       id='usuario_agenda'
       size='8'
       readonly>
</span>
</th>

<!-- muestra el botón grabar -->
<th>
<input type='button'
       name='btnGrabaAgenda'
       id='btnGrabaAgenda'
       class='botongrabar'
       title='Graba el Registro'
       onClick='agenda.validaCita()'>
</th>

<!-- cierra la segunda fila-->
</tr>

<!-- cierra el encabezado -->
</thead>

<!-- cerramos la tabla -->
</table>

<!-- cerramos el formulario -->
</form>

<script>

    // carga el combo con los profesionales que tienen
    // horarios asignados
    usuarios.nominaProfHorarios("profesional");

    // instanciamos los tooltips
    new jBox('Tooltip', {
        attach: '.tooltip',
        theme: 'TooltipBorder',
        zIndex: 15000
    });

    // define el campo fecha
    $('#fecha_agenda').Zebra_DatePicker({
        days: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
        format: "d/m/Y",
        months: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Augosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre']
    });

    // define el campo hora
    $('#hora_agenda').timepicker({
    	'disableTimeRanges': [
	    	['12am', '8am'],
    		['6pm', '12pm']
	    ],
        'timeFormat': 'H:i',
        'step': 15
    });

    // carga el usuario
    document.getElementById("usuario_agenda").value = sessionStorage.getItem("Usuario");

    // instanciamos aquí la tabla y así la tenemos disponible
    // en la clase javascript
    $('#grilla_agenda').DataTable({
        responsive: true,
        "language":{
            "url": "script/dataTables.spanish.lang"
        }});

    // cargamos los datos de la agenda
    agenda.getDatosAgenda();

</script>