<!--

    Archivo: form_temperaturas.html
    Proyecto: Diagnóstico
    Autor: Claudio Invernizzi
    E-Mail: cinvernizzi@gmail.com
    Institución: INP - Dr. Mario Fatala Chaben
    Fecha: 16/05/2018
    Version: 1.0
    Licencia: GPL
    Comentarios: Procedimiento que arma el formulario para la carga de
                 temperaturas

-->

<!-- definimos la tabla -->
<table width='420px' align='center' border='0'>

<!-- presenta el select de heladeras -->
<tr>
<td colspan='2'>
<label>Heladera / Freezer:
<span class='tooltip'
      title='Seleccione de la lista'>
<select name='heladera_temperaturas'
        id='heladera_temperaturas'
        size='1'
        onclick="temperaturas.actualizaHeladera()">

<!-- los elementos los cargamos por javascript -->

<!-- cerramos los tags -->
</select>
</span>
</label>
</td>
</tr>

<!-- insertamos un separador -->
<tr><td colspan='2'><br></td></tr>

<!-- presenta la primer lectura -->
<tr>
<td>
<label>Temperatura 1:
<span class='tooltip'
      title='Lectura de la primer temperatura'>
<input type='number'
       name='heladera_temperatura1'
       id='heladera_temperatura1'
       step='0.1'
       class='numero'>
</span>
</label>
</td>

<!-- presenta la segunda lectura -->
<td>
<label>Temperatura 2:
<span class='tooltip'
        title='Lectura de la segunda temperatura'>
<input type='number'
        name='heladera_temperatura2'
        id='heladera_temperatura2'
        step='0.1'
        class='numero'>
</span>
</label>
</td>
</tr>

<!-- insertamos un separador -->
<tr><td colspan='2'><br></td></tr>

<!-- presenta el botón grabar -->
<tr>
<td align='center'>
<input type='button'
       name='btnGrabaTemperatura'
       id='btnGrabaTemperatura'
       class='boton_grabar'
       value='Grabar'
       title='Graba la lectura en la base'
       onClick='temperaturas.verificaTemperatura()'>
</td>

<!-- presenta el botón cancelar -->
<td align='center'>
<input type='button'
        name='btnCancelaTemperatura'
        id='btnCancelaTemperatura'
        class='boton_cancelar'
        value='Cerrar'
        title='Cierra esta ventana'
        onClick='temperaturas.cancelaTemperatura()'>
</td>
</tr>

<!-- cerramos la tabla -->
</table>

<script>

    // instanciamos los tooltips
    new jBox('Tooltip', {
      attach: '.tooltip',
      theme: 'TooltipBorder'
    });

    // cargamos los elementos del select
    temperaturas.nominaHeladeras("heladera_temperaturas");

</script>