<!--

    Archivo: grilla_transplantes.html
    Proyecto: Diagnóstico
    Autor: Claudio Invernizzi
    E-Mail: cinvernizzi@gmail.com
    Institución: INP - Dr. Mario Fatala Chaben
    Fecha: 16/06/2019
    Version: 1.0
    Licencia: GPL
    Comentarios: Procedimiento que inicializa la pantalla principal del
                 sistema de escritorio y define los layers del documento

-->

<!-- define el formulario -->
<form name='form_transplantes' id='form_transplantes'>

<!-- definimos la tabla -->
<table width='650px' align='center' border='0'>

<!-- definimos el encabezado -->
<thead>
<tr>
<th align='left'>Organo</th>
<th>Positivo</th>
<th>Fecha</th>
<th>Usuario</th>
<th>Alta</th>
<th></th>
</tr>

<!-- agregamos la última fila -->
<tr>

<!-- presentamos el select del órgano -->
<th>
<span class='tooltip'
      title='Seleccione el órgano transplantado'>
<select name='organo_transplante'
        id='organo_transplante'
        size='1'>

<!-- la nómina de órganos la carga por javascript -->

<!-- cerramos los tags -->
</select>
</span>
</th>

<!-- presenta el combo de órgano positivo -->
<th>
<span class='tooltip'
      title='Indique si el órgano era positivo'>
<select name='organo_positivo'
        id='organo_positivo'
        size='1'>

<!-- agregamos las opciones -->
<option></option>
<option>Si</option>
<option>No</option>
<option>No Sabe</option>

<!-- cerramos los tags -->
</select>
</span>
</th>

<!-- pedimos la fecha de transplante -->
<th>
<span class='tooltip'
      title='Indique la fecha del transplante'>
<input type='text'
       name='fecha_transplante'
       id='fecha_transplante'
       size='12'
       class='datepicker'>
</span>
</th>

<!-- presenta el texto con el usuario -->
<th>
<input type='text'
       name='usuario_transplante'
       id='usuario_transplante'
       size='8'
       readonly>
</th>

<!-- presenta la fecha de alta -->
<th>
<input type='text'
       name='alta_transplante'
       id='alta_transplante'
       size='8'
       readonly>
</th>

<!-- presenta el botón agregar -->
<th>
<input type='button'
       name='btnAltaTransplante'
       id='btnAltaTransplante'
       class='botonagregar'
       title='Agrega un registro a la tabla'
       onClick='transplantes.verificaTransplante()'>
</th>

<!-- cerramos la fila -->
</tr>

<!-- cerramos el encabezado -->
</thead>

<!-- definimos el cuerpo -->
<tbody id='cuerpo_transplantes'>

<!-- cerramos la tabla -->
</tbody>
</table>

<!-- cierra el formulario -->
</form>

<script>

    // instanciamos los tooltips
    new jBox('Tooltip', {
        attach: '.tooltip',
        theme: 'TooltipBorder'
    });

    // fijamos los datepicker y configuramos el valor de retorno
    $('input.datepicker').Zebra_DatePicker({
        days: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
        format: "d/m/Y",
        months: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Augosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
        view: 'years'
    });

    // por defecto carga el usuario y la fecha actual
    document.getElementById("usuario_transplante").value = sessionStorage.getItem("Usuario");
    document.getElementById("alta_transplante").value = fechaActual();

    // cargamos la nómina de órganos
    organos.nominaOrganos("organo_transplante");

    // cargamos la grilla
    transplantes.cargaGrilla();

</script>