<!--

    Archivo: form_jurisdicciones.html
    Proyecto: Diagnóstico
    Autor: Claudio Invernizzi
    E-Mail: cinvernizzi@gmail.com
    Institución: INP - Dr. Mario Fatala Chaben
    Fecha: 15/02/2018
    Version: 1.0
    Licencia: GPL
    Comentarios: Procedimiento que arma el formulario de jurisdicciones

-->

<!-- presenta el select -->
<label>Seleccione el País de la lista:
<span class='tooltip'
      title='Seleccione el país de la lista'>
<select name='lista_paises'
        id='lista_paises'
        size='1'
        onChange='provincias.formJurisdicciones()'>
</select>
</span>
</label>

<!-- definimos el div para la nómina de jurisdicciones -->
<div id='nominajurisdicciones'>
</div>

<SCRIPT>

    // instanciamos los tooltips
    new jBox('Tooltip', {
      attach: '.tooltip',
      theme: 'TooltipBorder'
    });

    // cargamos el select de países
    provincias.cargaPaises();

</SCRIPT>