<!--

    Archivo: heladeras.html
    Proyecto: Diagnóstico
    Autor: Claudio Invernizzi
    E-Mail: cinvernizzi@gmail.com
    Institución: INP - Dr. Mario Fatala Chaben
    Fecha: 02/05/2018
    Version: 1.0
    Licencia: GPL
    Comentarios: Procedimiento que arma el formulario para el abm de heladeras

-->

<!--  definimos la clave oculta -->
<input type="hidden" name="id_heladera" id="id_heladera">

<!-- definimos la tabla -->
<table width='800px' align='center' border='0'>

<!--  pedimos la marca -->
<tr>
<td colspan='3'>
<label>Marca:
<span class="tooltip"
      title="Indique la marca de la Heladera">
<input type="text"
       name="marca_heladera"
       id="marca_heladera"
       onblur='document.getElementById("marca_heladera").value = document.getElementById("marca_heladera").value.toUpperCase()'
       size="60">
</span>
</label>
</td>
</tr>

<!--  pedimos la ubicación -->
<tr>
<td colspan='3'>
<label>Ubicación:
<span class="tooltip"
      title="Descripción de la ubicación física">
<input type="text"
       name="ubicacion_heladera"
       id="ubicacion_heladera"
       size="60">
</span>
</label>
</td>
</tr>

<!--  pedimos la clave de patrimonio -->
<tr>
<td colspan='3'>
<label>Patrimonio:
<span class="tooltip"
      title="Indique el número de patrimonio">
<input type="text"
       name="patrimonio_heladera"
       id="patrimonio_heladera"
       onblur='document.getElementById("patrimonio_heladera").value = document.getElementById("patrimonio_heladera").value.toUpperCase()'
       size="25">
</span>
</label>
</td>
</tr>

<!--  pedimos la temperatura ideal -->
<tr>
<td>
<label>Temperatura:
<span class="tooltip"
      title="Temperatura establecida para la heladera / freezer">
<input type="number"
       name="temperatura_heladera"
       id="temperatura_heladera"
       class="numero">
</span>
</label>
</td>

<!--  pedimos la segunda temperatura ideal -->
<td>
<label>Temperatura 2:
<span class="tooltip"
      title="Temperatura establecida para la heladera / freezer">
<input type="number"
       name="temperatura2_heladera"
       id="temperatura2_heladera"
       class="numero">
</span>
</label>
</td>

<!--  pedimos la tolerancia en grados -->
<td>
<label>Tolerancia:
<span class="tooltip"
      title="Tolerancia de temperatura en grados">
<input type="number"
       name="tolerancia_heladera"
       id="tolerancia_heladera"
       class="numero">
</span>
</label>
</td>
</tr>

<!--  presenta la fecha de alta -->
<tr>
<td>
<label>Alta:
<span class="tooltip"
      title="Fecha de alta del artículo">
<input type="text"
       name="alta_heladera"
       id="alta_heladera"
       size="9"
       readonly>
</span>
</label>
</td>

<!--  presenta el usuario -->
<td>
<label>Usuario:
<span class="tooltip"
      title="Usuario que ingresó el artículo">
<input type="text"
       name="usuario_heladera"
       id="usuario_heladera"
       size="9"
       readonly>
</span>
</label>
</td>

<!-- una columna en blanco -->
<td></td>

<!-- cerramos la fila -->
</tr>

<!-- presenta una fila en blanco -->
<tr><td colspan='3'><br></td></tr>

<!--  presenta el botón aceptar -->
<tr>
<td align='center'>
<input type="button"
       name="btnGrabaHeladera"
       id="btnGrabaHeladera"
       value="Grabar"
       class="boton_grabar"
       title="Pulse para grabar el registro"
       onClick="heladeras.validaHeladera()">
</td>

<!--  presenta el botón imprimir -->
<td align='center'>
<input type="button"
       name="btnImprimeHeladera"
       id="btnImprimeHeladera"
       value="Imprimir"
       class="boton_imprimir"
       title="Imprime la ficha de la heladera"
       onClick="heladeras.imprimirHeladera()">
</td>

<!--  presenta el botón cancelar -->
<td align='center'>
<input type="button"
       name="btnCancelaHeladera"
       id="btnCancelaHeladera"
       value="Cancelar"
       class="boton_cancelar"
       title="Cierra la ventana sin grabar"
       onClick="heladeras.cancelaHeladera()">
</td>
</tr>

<!-- cerramos la tabla -->
</table>

<script>

	// instanciamos los tooltips
	new jBox('Tooltip', {
	    attach: '.tooltip',
	    theme: 'TooltipBorder'
	});

	// fijamos la fecha de alta y el usuario actual
	document.getElementById("usuario_heladera").value = sessionStorage.getItem("Usuario");
	document.getElementById("alta_heladera").value = fechaActual();

	// seteamos el foco
	document.getElementById("marca_heladera").focus();

</script>