/* css de la página móvil */

/* definición de la página */
html, body {
    margin: 1px;
    padding: 0;
    height: 100%;
}

/* el fondo del cuerpo de la página */
body {
    font: 73% "Trebuchet MS", Arial, Helvetica, Tahoma, sans-serif;
    background: #f2f2f2 repeat-y top center;
}

/* el contenedor principal */
#container {
    width: 99%;
    margin: 0 auto;
    border: 5px solid #fff;
    line-height: 1.5em;
    background: #f2f2f2;
    color: #666;
    height: auto;
    min-height: 95%;
}

/* el encabezado de la página */
#top {
    padding: 0;
    height: 100px;
    background: #f2f2f2;
    color: #484500;
}

/* el tipo de letra del encabezado */
#top h1 {
    padding: 5px 0 0 25px;
    margin: 0;
    font-size: 150%;
    letter-spacing: 3px;
}

/* el pié de la página */
#footer {
    clear: both;
    margin: 0;
    padding: 0;
    font-size: 0.8em;
    border-top: 5px solid #fff;
    border-bottom: 5px solid #fff;
    color: rgb(10, 10, 10);
    background: #97c3f566;
}

/* el espaciado del pié */
#footer p {
    padding: 0 0 0 5px;
}

/* definición del párrafo */
h2 {
    margin: 1em 0 0.5em 0;
    font-size: 130%;
    letter-spacing: 3px;
}

/* definición del párrafo h3 */
h3 {
    font-size: 90%;
    letter-spacing: 1px;
}

/* el contenido de la página */
.content {
    margin-left: 0px;
    border-left: 0px;
    padding: 1em;
}

/* los labels de los formularios */
label {
    float: left;
    text-decoration: none;
    font-weight: bold;
    font-family: Verdana;
}

/* los elementos input */
input {
  font-family: Verdana;
  color: #1A1A1A;
  font-size: 11px;
  border:1px solid;
  height:16px;
  border-top-color:#62B2B2;
  border-left-color:#62B2B2;
  border-right-color:#62B2B2;
  border-bottom-color:#62B2B2;
  border-radius: 4px;
  background-color: #FFFFFF;
}

/* el diseño de los select */
select {
  font-family: Verdana;
  color: #1A1A1A;
  font-size: 11px;
  border:1px solid;
  height:18px;
  border-top-color:#62B2B2;
  border-left-color:#62B2B2;
  border-right-color:#62B2B2;
  border-bottom-color:#62B2B2;
  border-radius: 4px;
  background-color: #FFFFFF;
}

/* el diseño del checkbox */
checkbox{
  font-family: Verdana;
  color: #1A1A1A;
  font-size: 11px;
  width: 15px;
  height: 15px;
  border:1px solid;
  border-top-color:#62B2B2;
  border-left-color:#62B2B2;
  border-right-color:#62B2B2;
  border-bottom-color:#62B2B2;
  border-radius: 4px;
  background-color: #FFFFFF;
}

/* el tipo de botón confirmar con texto */
.boton_confirmar {
  font-family: Verdana;
  color: #1A1A1A;
  width:85px;
  height:25px;
  font-size: 10px;
  background-color:#E5E5E5;
  border:1px solid;
  border-top-color:#62B2B2;
  border-left-color:#62B2B2;
  border-right-color:#62B2B2;
  border-bottom-color:#62B2B2;
  border-radius: 4px;
  background-image: url(../../imagenes/confirmation.png);
  background-repeat: no-repeat;
  background-position: left;
  background-size: 18px;
  text-align: right;
}

/* para el tipo hover botón confirmar con texto */
.boton_confirmar:hover {
  font-family: Verdana;
  color: #1A1A1A;
  width:85px;
  height:25px;
  font-size: 10px;
  background-color:#E5E5E5;
  border:2px solid;
  border-top-color:#62B2B2;
  border-left-color:#62B2B2;
  border-right-color:#62B2B2;
  border-bottom-color:#62B2B2;
  font-weight: bold;
  border-radius: 4px;
  box-shadow: 0px 0px 3px 0px #000000;
  background-image: url(../../imagenes/confirmation.png);
  background-repeat: no-repeat;
  background-position: left;
  background-size: 18px;
  text-align: right;
}

/* el tipo de botón imprimir con texto */
.boton_imprimir {
  font-family: Verdana;
  color: #1A1A1A;
  width:85px;
  height:25px;
  font-size: 10px;
  background-color:#E5E5E5;
  border:1px solid;
  border-top-color:#62B2B2;
  border-left-color:#62B2B2;
  border-right-color:#62B2B2;
  border-bottom-color:#62B2B2;
  border-radius: 4px;
  background-image: url(../../imagenes/imprimir.png);
  background-repeat: no-repeat;
  background-position: left;
  background-size: 18px;
  text-align: right;
}

/* para el tipo hover botón imprimir con texto */
.boton_imprimir:hover {
  font-family: Verdana;
  color: #1A1A1A;
  width:85px;
  height:25px;
  font-size: 10px;
  background-color:#E5E5E5;
  border:2px solid;
  border-top-color:#62B2B2;
  border-left-color:#62B2B2;
  border-right-color:#62B2B2;
  border-bottom-color:#62B2B2;
  font-weight: bold;
  border-radius: 4px;
  box-shadow: 0px 0px 3px 0px #000000;
  background-image: url(../../imagenes/imprimir.png);
  background-repeat: no-repeat;
  background-position: left;
  background-size: 18px;
  text-align: right;
}

/* el tipo de botón para el panel de control */
.boton_chico {
  font-family: Verdana;
  color: #1A1A1A;
  width:100px;
  height:35px;
  font-size: 10px;
  background-color:#E5E5E5;
  border:1px solid;
  border-top-color:#62B2B2;
  border-left-color:#62B2B2;
  border-right-color:#62B2B2;
  border-bottom-color:#62B2B2;
  border-radius: 4px;
  background-repeat: no-repeat;
  text-align: center;
}

/* un tipo de botón genérico con texto */
.boton_chico:hover {
  font-family: Verdana;
  color: #1A1A1A;
  width:100px;
  height:35px;
  font-size: 10px;
  background-color:#E5E5E5;
  border:2px solid;
  border-top-color:#62B2B2;
  border-left-color:#62B2B2;
  border-right-color:#62B2B2;
  border-bottom-color:#62B2B2;
  font-weight: bold;
  border-radius: 4px;
  box-shadow: 0px 0px 3px 0px #000000;
  background-repeat: no-repeat;
  text-align: center;
}

/* el tipo de botón agregar con texto */
.boton_agregar {
  font-family: Verdana;
  color: #1A1A1A;
  width:85px;
  height:25px;
  font-size: 10px;
  background-color:#E5E5E5;
  border:1px solid;
  border-top-color:#62B2B2;
  border-left-color:#62B2B2;
  border-right-color:#62B2B2;
  border-bottom-color:#62B2B2;
  border-radius: 4px;
  background-image: url(../../imagenes/112.png);
  background-repeat: no-repeat;
  background-position: left;
  background-size: 18px;
  text-align: right;
}

/* para el tipo hover botón agregar con texto */
.boton_agregar:hover {
  font-family: Verdana;
  color: #1A1A1A;
  width:85px;
  height:25px;
  font-size: 10px;
  background-color:#E5E5E5;
  border:2px solid;
  border-top-color:#62B2B2;
  border-left-color:#62B2B2;
  border-right-color:#62B2B2;
  border-bottom-color:#62B2B2;
  font-weight: bold;
  border-radius: 4px;
  box-shadow: 0px 0px 3px 0px #000000;
  background-image: url(../../imagenes/112.png);
  background-repeat: no-repeat;
  background-position: left;
  background-size: 18px;
  text-align: right;
}

/* el tipo de botón grabar con texto */
.boton_grabar {
  font-family: Verdana;
  color: #1A1A1A;
  width:85px;
  height:25px;
  font-size: 10px;
  background-color:#E5E5E5;
  border:1px solid;
  border-top-color:#62B2B2;
  border-left-color:#62B2B2;
  border-right-color:#62B2B2;
  border-bottom-color:#62B2B2;
  border-radius: 4px;
  background-image: url(../../imagenes/grabar.png);
  background-repeat: no-repeat;
  background-position: left;
  background-size: 18px;
  text-align: right;
}

/* para el tipo hover botón agregar con texto */
.boton_grabar:hover {
  font-family: Verdana;
  color: #1A1A1A;
  width:85px;
  height:25px;
  font-size: 10px;
  background-color:#E5E5E5;
  border:2px solid;
  border-top-color:#62B2B2;
  border-left-color:#62B2B2;
  border-right-color:#62B2B2;
  border-bottom-color:#62B2B2;
  font-weight: bold;
  border-radius: 4px;
  box-shadow: 0px 0px 3px 0px #000000;
  background-image: url(../../imagenes/grabar.png);
  background-repeat: no-repeat;
  background-position: left;
  background-size: 18px;
  text-align: right;
}

/* el tipo de botón información con texto */
.boton_informacion {
  font-family: Verdana;
  color: #1A1A1A;
  width:85px;
  height:25px;
  font-size: 10px;
  background-color:#E5E5E5;
  border:1px solid;
  border-top-color:#62B2B2;
  border-left-color:#62B2B2;
  border-right-color:#62B2B2;
  border-bottom-color:#62B2B2;
  border-radius: 4px;
  background-image: url(../../imagenes/information.png);
  background-repeat: no-repeat;
  background-position: left;
  background-size: 18px;
  text-align: right;
}

/* para el tipo hover botón agregar con texto */
.boton_informacion:hover {
  font-family: Verdana;
  color: #1A1A1A;
  width:85px;
  height:25px;
  font-size: 10px;
  background-color:#E5E5E5;
  border:2px solid;
  border-top-color:#62B2B2;
  border-left-color:#62B2B2;
  border-right-color:#62B2B2;
  border-bottom-color:#62B2B2;
  font-weight: bold;
  border-radius: 4px;
  box-shadow: 0px 0px 3px 0px #000000;
  background-image: url(../../imagenes/information.png);
  background-repeat: no-repeat;
  background-position: left;
  background-size: 18px;
  text-align: right;
}

/* el tipo de botón cancelar con texto */
.boton_cancelar {
  font-family: Verdana;
  color: #1A1A1A;
  width:85px;
  height:25px;
  font-size: 10px;
  background-color:#E5E5E5;
  border:1px solid;
  border-top-color:#62B2B2;
  border-left-color:#62B2B2;
  border-right-color:#62B2B2;
  border-bottom-color:#62B2B2;
  border-radius: 4px;
  background-image: url(../../imagenes/error.png);
  background-repeat: no-repeat;
  background-position: left;
  background-size: 18px;
  text-align: right;
}

/* para el tipo hover botón cancelar con texto */
.boton_cancelar:hover {
  font-family: Verdana;
  color: #1A1A1A;
  width:85px;
  height:25px;
  font-size: 10px;
  background-color:#E5E5E5;
  border:2px solid;
  border-top-color:#62B2B2;
  border-left-color:#62B2B2;
  border-right-color:#62B2B2;
  border-bottom-color:#62B2B2;
  font-weight: bold;
  border-radius: 4px;
  box-shadow: 0px 0px 3px 0px #000000;
  background-image: url(../../imagenes/error.png);
  background-repeat: no-repeat;
  background-position: left;
  background-size: 18px;
  text-align: right;
}

/* el tipo de botón borrar con texto */
.boton_borrar {
  font-family: Verdana;
  color: #1A1A1A;
  width:85px;
  height:25px;
  font-size: 10px;
  background-color:#E5E5E5;
  border:1px solid;
  border-top-color:#62B2B2;
  border-left-color:#62B2B2;
  border-right-color:#62B2B2;
  border-bottom-color:#62B2B2;
  border-radius: 4px;
  background-image: url(../../imagenes/90.png);
  background-repeat: no-repeat;
  background-position: left;
  background-size: 18px;
  text-align: right;
}

/* para el tipo hover botón borrar con texto */
.boton_borrar:hover {
  font-family: Verdana;
  color: #1A1A1A;
  width:85px;
  height:25px;
  font-size: 10px;
  background-color:#E5E5E5;
  border:2px solid;
  border-top-color:#62B2B2;
  border-left-color:#62B2B2;
  border-right-color:#62B2B2;
  border-bottom-color:#62B2B2;
  font-weight: bold;
  border-radius: 4px;
  box-shadow: 0px 0px 3px 0px #000000;
  background-image: url(../../imagenes/90.png);
  background-repeat: no-repeat;
  background-position: left;
  background-size: 18px;
  text-align: right;
}

/* el tipo de botón mapa con texto */
.boton_mapa {
  font-family: Verdana;
  color: #1A1A1A;
  width:85px;
  height:25px;
  font-size: 10px;
  background-color:#E5E5E5;
  border:1px solid;
  border-top-color:#62B2B2;
  border-left-color:#62B2B2;
  border-right-color:#62B2B2;
  border-bottom-color:#62B2B2;
  border-radius: 4px;
  background-image: url(../../imagenes/chart.png);
  background-repeat: no-repeat;
  background-position: left;
  background-size: 18px;
  text-align: right;
}

/* para el tipo hover botón mapa con texto */
.boton_mapa:hover {
  font-family: Verdana;
  color: #1A1A1A;
  width:85px;
  height:25px;
  font-size: 10px;
  background-color:#E5E5E5;
  border:2px solid;
  border-top-color:#62B2B2;
  border-left-color:#62B2B2;
  border-right-color:#62B2B2;
  border-bottom-color:#62B2B2;
  font-weight: bold;
  border-radius: 4px;
  box-shadow: 0px 0px 3px 0px #000000;
  background-image: url(../../imagenes/chart.png);
  background-repeat: no-repeat;
  background-position: left;
  background-size: 18px;
  text-align: right;
}

/* el tipo de botón mapa con sin texto */
.botonmapa {
    font-family: Verdana;
    color: #1A1A1A;
    width:22px;
    height:22px;
    font-size: 10px;
    background-color:#E5E5E5;
    border:1px solid;
    border-top-color:#62B2B2;
    border-left-color:#62B2B2;
    border-right-color:#62B2B2;
    border-bottom-color:#62B2B2;
    border-radius: 4px;
    background-image: url(../../imagenes/chart.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 18px;
    text-align: right;
}

/* para el tipo hover botón mapa sin texto */
.boton_mapa:hover {
    font-family: Verdana;
    color: #1A1A1A;
    width:22px;
    height:22px;
    font-size: 10px;
    background-color:#E5E5E5;
    border:2px solid;
    border-top-color:#62B2B2;
    border-left-color:#62B2B2;
    border-right-color:#62B2B2;
    border-bottom-color:#62B2B2;
    font-weight: bold;
    border-radius: 4px;
    box-shadow: 0px 0px 3px 0px #000000;
    background-image: url(../../imagenes/chart.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 18px;
    text-align: right;
}

/* el botón con imágen */
.botoneditar{
    background-image:url(../../imagenes/editar.png);
    background-repeat:no-repeat;
    height:22px;
    width:22px;
    background-position:center;
    border-radius: 4px;
    background-size: 22px;
}

/* el botón con imágen hover*/
.botoneditar:hover{
    background-image:url(../../imagenes/editar.png);
    background-repeat:no-repeat;
    height:22px;
    width:22px;
    background-position:center;
    border-radius: 4px;
    background-size: 22px;
    box-shadow: 0px 0px 3px 0px #000000;
}

/* el botón borrar */
.botonborrar{
    background-image:url(../../agenes/90.png);
    background-repeat:no-repeat;
    height:22px;
    width:22px;
    background-position:center;
    border-radius: 4px;
    background-size: 22px;
}

/* el botón borrar hover */
.botonborrar:hover{
    background-image:url(../../imagenes/90.png);
    background-repeat:no-repeat;
    height:22px;
    width:22px;
    background-position:center;
    border-radius: 4px;
    background-size: 22px;
    box-shadow: 0px 0px 3px 0px #000000;
}

/* el botón grabar */
.botongrabar{
    background-image:url(../../imagenes/grabar.png);
    background-repeat:no-repeat;
    height:22px;
    width:22px;
    background-position:center;
    border-radius: 4px;
    background-size: 22px;
}

/* el botón grabar hover */
.botongrabar:hover{
    background-image:url(../../imagenes/grabar.png);
    background-repeat:no-repeat;
    height:22px;
    width:22px;
    background-position:center;
    border-radius: 4px;
    background-size: 22px;
    box-shadow: 0px 0px 3px 0px #000000;
}

/* el botón confirmar */
.botonconfirmar{
    background-image:url(../../imagenes/confirmation.png);
    background-repeat:no-repeat;
    height:22px;
    width:22px;
    background-position:center;
    border-radius: 4px;
    background-size: 22px;
}

/* el botón confirmar hover */
.botonconfirmar:hover{
    background-image:url(../../imagenes/confirmation.png);
    background-repeat:no-repeat;
    height:22px;
    width:22px;
    background-position:center;
    border-radius: 4px;
    background-size: 22px;
    box-shadow: 0px 0px 3px 0px #000000;
}

/* el botón agregar */
.botonagregar{
    background-image:url(../../imagenes/112.png);
    background-repeat:no-repeat;
    height:22px;
    width:22px;
    background-position:center;
    border-radius: 4px;
    background-size: 22px;
}

/* el botón agregar hover */
.botonagregar:hover{
    background-image:url(../../imagenes/112.png);
    background-repeat:no-repeat;
    height:22px;
    width:22px;
    background-position:center;
    border-radius: 4px;
    background-size: 22px;
    box-shadow: 0px 0px 3px 0px #000000;
}

/* el botón buscar */
.botonbuscar{
    background-image:url(../../imagenes/16.png);
    background-repeat:no-repeat;
    height:22px;
    width:22px;
    background-position:center;
    border-radius: 4px;
    background-size: 22px;
}

/* el botón buscar hover */
.botonbuscar:hover{
    background-image:url(../../imagenes/16.png);
    background-repeat:no-repeat;
    height:22px;
    width:22px;
    background-position:center;
    border-radius: 4px;
    background-size: 22px;
    box-shadow: 0px 0px 3px 0px #000000;
}

/* el botón información */
.botoninformacion{
    background-image:url(../../imagenes/information.png);
    background-repeat:no-repeat;
    height:22px;
    width:22px;
    background-position:center;
    border-radius: 4px;
    background-size: 22px;
}

/* el botón información */
.botoninformacion:hover{
    background-image:url(../../imagenes/information.png);
    background-repeat:no-repeat;
    height:22px;
    width:22px;
    background-position:center;
    border-radius: 4px;
    background-size: 22px;
    box-shadow: 0px 0px 3px 0px #000000;
}

/* para el tipo número */
.numero{
    width: 45px;
}

/* para el número grande */
.numerogrande{
    width: 70px;
}
