<!--

    Archivo: noconformidad.html
    Proyecto: Diagnóstico
    Autor: Claudio Invernizzi
    E-Mail: cinvernizzi@gmail.com
    Institución: INP - Dr. Mario Fatala Chaben
    Fecha: 04/04/2018
    Version: 1.0
    Licencia: GPL
    Comentarios: Procedimiento que arma el formulario de no conformidades

-->

<!-- definimos el formulario -->
<form name='form_conformidad' id='form_conformidad'>

<!-- presentamos oculta la clave -->
<input type='hidden' name='id_noconformidad' id='id_noconformidad'>

<!-- definimos la tabla -->
<table width='950px' align='center' border='0'>

<!-- abrimos la fila -->
<tr>

<!-- presenta el usuario -->
<td>
<label>Usuario:
<span class='tooltip'
      title='Usuario que generó la no conformidad'>
<input type='text'
       name='usuario_noconformidad'
       id='usuario_noconformidad'
       size='8'
       readonly>
</span>
</label>
</td>

<!-- presenta el título o descripción -->
<td colspan='2'>
<label>Título:
<span class='tooltip'
      title='Descripción breve de la no conformidad'>
<input type='text'
       name='titulo_noconformidad'
       id='titulo_noconformidad'
       size='40'>
</span>
</label>
</td>

<!-- presenta el jefe del laboratorio -->
<td colspan='2'>
<label>Responsable:
<span class='tooltip'
      title='Responsable o Jefe del Laboratorio'>
<input type='text'
       name='responsable_noconformidad'
       id='responsable_noconformidad'
       size='40'
       readonly>
</span>
</label>
</td>

<!-- cerramos la fila -->
</tr>
<tr>

<!-- presenta la fecha de la denuncia -->
<td>
<label>Denuncia:
<span class='tooltip'
      title='Fecha de la no conformidad'>
<input type='text'
       name='fecha_noconformidad'
       id='fecha_noconformidad'
       size='9'
       class='datepicker'>
</span>
</label>
</td>

<!-- pide el detalle -->
<td colspan='4'>
<fieldset>
<legend>Detallle No Conformidad</legend>
<textarea name='detalle_noconformidad'
          id='detalle_noconformidad'
          rows='3' cols='80'>
</textarea>
</fieldset>
</td>

<!-- cerramos la fila -->
</tr>
<tr>

<!-- pide la fecha de respuesta -->
<td>
<label>Respuesta:
<span class='tooltip'
        title='Fecha en que se respondio la no conformidad'>
<input type='text'
        name='respuesta_noconformidad'
        id='respuesta_noconformidad'
        size='9'
        class='datepicker'>
</span>
</label>
</td>

<!-- pide la causa -->
<td colspan='4'>
<fieldset>
<legend>Causa No Conformidad</legend>
<textarea name='causa_noconformidad'
          id='causa_noconformidad'
          rows='3' cols='80'>
</textarea>
</fieldset>
</td>

<!-- cerramos la fila -->
</tr>
<tr>

<!-- presenta la fecha de ejecución de la corrección -->
<td>
<label>Ejecución:
<span class='tooltip'
        title='Fecha en que se ejecutó la acción correctiva'>
<input type='text'
        name='ejecucion_noconformidad'
        id='ejecucion_noconformidad'
        size='9'
        class='datepicker'>
</span>
</label>
</td>

<!-- pide la acción correctiva -->
<td colspan='4'>
<fieldset>
<legend>Acción Correctiva</legend>
<textarea name='correccion_noconformidad'
          id='correccion_noconformidad'
          rows='3' cols='80'>
</textarea>
</fieldset>
</td>

<!-- cerramos la fila -->
</tr>
<tr>

<!-- presenta el botón grabar -->
<td align='center'>
<input type='button'
       name='btnGrabaNoConformidad'
       id='btnGrabaNoConformidad'
       value='Grabar'
       title='Graba la no conformidad en la base'
       class='boton_grabar'
       onClick='noconformidad.verificaConformidad()'>
</td>

<!-- presenta el botón imprimir -->
<td align='center'>
<input type='button'
       name='btnImprimeNoConformidad'
       id='btnImprimeNoConformidad'
       value='Imprimir'
       title='Imprime el documento'
       class='boton_imprimir'
       onClick='noconformidad.Imprimir()'>
</td>

<!-- presenta el botón cerrar -->
<td align='center'>
<input type='button'
       name='btnCierraNoConformidad'
       id='btnCierraNoConformidad'
       value='Cerrar'
       title='Cierra este formulario'
       class='boton_cancelar'
       onClick='noconformidad.cierraEditor()'>
</td>

<!-- completamos las columnas -->
<td colspan='2'></td>
</tr>

<!-- cerramos la tabla -->
</table>

<!-- cerramos el formulario -->
</form>

<SCRIPT>

    // fijamos el usuario por defecto y la fecha
    document.getElementById("usuario_noconformidad").value = sessionStorage.getItem("Usuario");
    document.getElementById("fecha_noconformidad").value = fechaActual();

    // instanciamos los tooltips
    new jBox('Tooltip', {
      attach: '.tooltip',
      theme: 'TooltipBorder'
    });

    // fijamos los datepicker y configuramos el valor de retorno
    $('input.datepicker').Zebra_DatePicker({
        days: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
        format: "d/m/Y",
        months: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Augosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre']
    });

    // configura el editor del detalle
    CKEDITOR.replace('detalle_noconformidad', {
            height: 100
        } );

    // configura el editor de la causa
    CKEDITOR.replace('causa_noconformidad', {
            height: 100
        } );

    // configura el editor de la acción correctiva
    CKEDITOR.replace('correccion_noconformidad', {
            height: 100
        } );

    // fijamos el foco en el título
    document.getElementById("titulo_noconformidad").focus();

</SCRIPT>