<!--

    Archivo: grilla_ingresos.html
    Proyecto: Diagnóstico
    Autor: Claudio Invernizzi
    E-Mail: cinvernizzi@gmail.com
    Institución: INP - Dr. Mario Fatala Chaben
    Fecha: 06/02/2019
    Version: 1.0
    Licencia: GPL
    Comentarios: Procedimiento que arma la grilla de ingresos al
                 depósito

-->

<!-- definimos la tabla -->
<table style="width:80%;" class="display" id='tingresos'>

<!-- definimos el encabezado -->
<thead>
<tr>
<th align='left'>Descripción</th>
<th align='left'>Importe</th>
<th align='left'>Remito</th>
<th align='left'>Cantidad</th>
<th align='left'>Venc.</th>
<th align='left'>Usuario</th>
<th align='left'>
<input type='button'
       name='btnNuevoIngreso'
       id='btnNuevoIngreso'
       class='botonagregar'
       title='Ingresa material al depósito'
       onClick='ingresos.verIngreso()'>
</th>
</tr>
</thead>
</table>

<script>

    // definimos la tabla aquí para ya tener el objeto
    // inicializado en el javascript
    $('#tingresos').DataTable({
        responsive: true,
        "language":{
            "url": "script/dataTables.spanish.lang"
        }});

    // cargamos los ingresos al depósito
    ingresos.cargaIngresos();

</script>