<!--

    Archivo: ingresos.html
    Proyecto: Diagnóstico
    Autor: Claudio Invernizzi
    E-Mail: cinvernizzi@gmail.com
    Institución: INP - Dr. Mario Fatala Chaben
    Fecha: 19/12/2017
    Version: 1.0
    Licencia: GPL
    Comentarios: Procedimiento que arma el formulario de ingresos al depósito

-->

<!-- definimos el formulario -->
<form name="form_ingresos" id="form_ingresos">

    <!-- presenta la id del ingreso -->
    <input type='hidden' name='idingreso' id='idingreso'>

    <!-- definimos la tabla -->
    <table border="0" align="center" width="850px">

    <!-- define el cuerpo de la tabla -->
    <tbody>

    <!-- abrimos la fila -->
    <tr>

    <!-- abrimos la primer columna -->
    <td colspan='2' style="width: 50%;">

    <!-- presenta la descripción del item -->
    <span class='tooltip'
          title='Descripción del item'>
    <input name='descripcion_ingreso'
           id='descripcion_ingreso'
           size='60'>
    </span>

    <!-- presenta la id del item -->
    <input type='hidden' name='iditem' id='iditem'>

    <!-- cierra la columna -->
    </td>

    <!-- abre una nueva columna -->
    <td>

    <!-- presenta el número de remito -->
    <label>Remito:
    <span class='tooltip'
          title='Nº de Remito de Ingreso'>
    <input type='text'
           name='remito_ingreso'
           id='remito_ingreso'
           size='10'>
    </span>
    </label>
    </td>

    <!-- abre la columna -->
    <td align='center' rowspan='4'>

    <!-- presenta la imagen del item -->
    <span class='tooltip'
            title='Imagen del artículo'>
    <img src='../../imagenes/imagen_no_disponible.gif'
            id='imagen_ingreso'
            name='imagen_ingreso'
            width='120'
            height='120'
            border='0'>
    </span>

    <!-- cierra la columna y la fila -->
    </td>
    </tr>

    <!-- abrimos una nueva fila -->
    <tr>

    <!-- abre la columna -->
    <td>

    <!-- presenta la cantidad ingresada -->
    <label>Cantidad:
    <span class='tooltip'
          title='Unidades ingresadas'>
    <input type='number'
           id='cantidad_ingreso'
           name='cantidad_ingreso'
           class='numero'>
    </span>
    </label>
    </td>

    <!-- abre otra columna -->
    <td>
    <label>Importe:
    <span class='tooltip'
          title='Importe total del remito'>
    <input type='number'
           name='importe_ingreso'
           id='importe_ingreso'
           class='numerogrande'>
     </span>
     </label>
     </td>

    <!-- abre otra columna -->
    <td>
    <label>Financiamiento:
    <span class='tooltip'
          title='Seleccione la fuente de financiamiento'>
    <select name='financiamiento_ingreso'
            id='financiamiento_ingreso'
            size='1'>

    <!-- los elementos los cargamos por javascript -->

    </select>
    </span>
    </label>
    </td>

    <!-- cerramos la fila -->
    </tr>

    <!-- abrimos una nueva fila -->
    <tr>

    <!-- pide la fecha de vencimiento -->
    <td>
      <label>Vencimiento:
      <span class='tooltip'
            title='Indique la fecha de vencimiento'>
      <input type='text'
             name='vencimiento_ingreso'
             id='vencimiento_ingreso'
             size='12'
             class='datepicker'>
      </span>
      </label>

      <!-- cerramos la columna -->
      </td>
      <td>

      <!-- presenta la fecha de alta -->
      <label>Fecha Alta:
      <span class='tooltip'
            title='Fecha de alta del registro'>
      <input type='text'
             name='alta_ingreso'
             id='alta_ingreso'
             size='8'
             readonly>
      </span>
      </label>

      <!-- cerramos la columna -->
      </td>
      <td>

      <!-- presenta el nombre del usuario -->
      <label>Usuario:
      <span class='tooltip'
            title='Usuario que ingresó el item'>
      <input type='text'
             name='usuario_ingreso'
             id='usuario_ingreso'
             size='10'
             readonly>
      </span>
      </label>

      <!-- cerramos la columna y la fila -->
      </td>

      <!-- cerramos la fila -->
      </tr>

      <!-- abrimos una fila -->
      <tr>

      <!-- pedimos el lote -->
      <td colspan='1'>
      <label>Lote:
      <span class='tooltip'
            title='Número de lote del artículo'>
      <input type='text'
             name='lote_ingreso'
             id='lote_ingreso'
             size='15'>
      </span>
      </label>
      </td>

      <!-- pedimos la ubicación -->
      <td colspan='2'>
      <label>Ubicación:
      <span class='tooltip'
            title='Ubicación física del artículo'>
      <input type='text'
             name='ubicacion_ingreso'
             id='ubicacion_ingreso'
             size='35'>
      </span>
      </label>
      </td>

      <!-- cerramos la fila -->
      </tr>

      <!-- abrimos la nueva fila y columna -->
      <tr>
      <td colspan='3' rowspan='4'>

      <!-- pide los comentarios -->
      <label>Observaciones:
      <br>
      <textarea name="observaciones_ingreso"
                  id="observaciones_ingreso"
                  rows="10"
                  cols="100">
      </textarea>
      </label>

      <!-- cerramos la columna -->
      </td>

      <!-- abrimos la columna del botón aceptar -->
      <td align='center'>

      <!-- presenta el botón grabar -->
      <input type='button'
            name='btnGrabaIngreso'
            id='btnGrabaIngreso'
            class='boton_grabar'
            title='Pulse para grabar el registro'
            value='Grabar'
            onClick='ingresos.verificaIngreso()'>

      <!-- cerramos la fila y columna -->
      </td></tr>

      <!-- abrimos la fila y columna del botón remito -->
      <tr><td align='center'>

      <!-- presenta el botón remito -->
      <input type='button'
            name='btnRemitoIngreso'
            id='btnRemitoIngreso'
            class='boton_imprimir'
            title='Pulse para imprimir el remito'
            value='Remito'
            onClick='ingresos.remitoIngreso()'>

      <!-- cerramos la fila -->
      </td></tr>

      <!-- abrimos la fila y columna del botón borrar -->
      <tr><td align='center'>

            <!-- presenta el botón cancelar -->
            <input type='button'
                  name='btnBorraIngreso'
                  id='btnBorraIngreso'
                  class='boton_borrar'
                  value='Borrar'
                  title='Elimina el ingreso'
                  onClick='ingresos.borraIngreso()'>

            <!-- cerramos la fila y columna -->
            </td></tr>

      <!-- abrimos la fila y columna del botón cancelar -->
      <tr><td align='center'>

      <!-- presenta el botón cancelar -->
      <input type='button'
            name='btnCancelaIngreso'
            id='btnCancelaIngreso'
            class='boton_cancelar'
            value='Cerrar'
            title='Cierra este formulario'
            onClick='ingresos.cancelaIngreso()'>

      <!-- cerramos la fila y columna -->
      </td></tr>

      <!-- cierra la tabla -->
      </tbody></table>

<!-- cerramos el formulario -->
</form>
<SCRIPT>

    // las opciones del autocomplete del artículo
    var options = {
        url:"stock/articulos/lista_items.php",
        getValue: "Descripcion",
        list: {
                onChooseEvent: function() {
                    valor = $("#descripcion_ingreso").getSelectedItemData().Id;
                        ingresos.selItemIngreso(valor);
                    },
                match: {enabled: true}
                },
        placeholder: "Escriba el item",
        theme: "round"
    };

    // inicializa el objeto autocomplete de directores
    $("#descripcion_ingreso").easyAutocomplete(options);

    // instanciamos los tooltips
    new jBox('Tooltip', {
        attach: '.tooltip',
        theme: 'TooltipBorder'
    });

    // fijamos los datepicker y configuramos el valor de retorno
    $('input.datepicker').Zebra_DatePicker({
        days: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
        format: "d/m/Y",
        months: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Augosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
        view: 'years'
    });

    // configura el editor
    CKEDITOR.replace('observaciones_ingreso', {
            height: 100
    } );

    // cargamos el select de financiamiento
    ingresos.cargaFinanciamiento();

    // por defecto carga el usuario y la fecha actual
    document.getElementById("usuario_ingreso").value = sessionStorage.getItem("Usuario");
    document.getElementById("alta_ingreso").value = fechaActual();


    // seteamos el foco
    document.getElementById("descripcion_ingreso").focus();

</SCRIPT>