<!--

    Archivo: egresos.html
    Proyecto: Diagnóstico
    Autor: Claudio Invernizzi
    E-Mail: cinvernizzi@gmail.com
    Institución: INP - Dr. Mario Fatala Chaben
    Fecha: 13/03/2018
    Version: 1.0
    Licencia: GPL
    Comentarios: Procedimiento que arma el formulario de egresos

-->

<!-- definimos el formulario -->
<form name='form_egresos' id='form_egresos'>

<!-- presenta oculta la clave del egreso -->
<input type='hidden' name='id_egreso' id='id_egreso'>

<!-- presenta oculta la clave del item -->
<input type='hidden' name='id_item_egreso' id='id_item_egreso'>

<!-- definimos la tabla -->
<table width='850px' align='center' border='0'>

<!-- abrimos la primer fila -->
<tr>

<!-- pide la descripción del item -->
<td>
<span class='tooltip'
      title='Ingrese parte del nombre del artículo'>
<input name='desc_item_egreso'
       id='desc_item_egreso'
       size='40'>
</span>
</td>

<!-- presenta el código sop de artículo -->
<td>
<label>Sop:
<span class='tooltip'
      title='Código SOP del artículo'>
<input type='text'
       name='sop_egreso'
       id='sop_egreso'
       size='10'
       readonly>
</span>
</label>
</td>

<!-- presenta el número de remito -->
<td>
<label>Remito:
<span class='tooltip'
      title='Número de remito del egreso'>
<input type='text'
            id='remito_egreso'
            name='remito_egreso'
            size='8'
            readonly>
</span>
</label>
</td>

<!-- presenta la cantidad egresada -->
<td>
<label>Cantidad:
<span class='tooltip'
      title='Cantidad a entregar'>
<input type='number'
            id='cantidad_egreso'
            name='cantidad_egreso'
            class='numero'>
</span>
</label>
</td>

<!-- presenta la imagen del artículo -->
<td rowspan='2'>
<span class='tooltip'
      title='Imagen del artículo'>
<img src='../../imagenes/imagen_no_disponible.gif'
            id='imagen_egreso'
            name='imagen_egreso'
            width='120'
            height='120'
            border='0'>
</span>
</td>

<!-- cerramos la fila -->
</tr>

<!-- abrimos la segunda fila -->
<tr>

<!-- presenta la fecha de egreso -->
<td>
<label>Fecha Egreso:
<span class='tooltip'
      title='Fecha de entrega del artículo'>
<input type='text'
       size='8'
       name='fecha_egreso'
       id='fecha_egreso'
       readonly>
</span>
</label>
</td>

<!-- presenta el texto con el usuario que entrega -->
<td>
<label>Entregó:
<span class='tooltip'
      title='Usuario que entregó el artículo'>
<input type='text'
       name='usuario_egreso'
       id='usuario_egreso'
       size='8'
       readonly>
</span>
</label>
</td>

<!-- presenta el combo del usuario que recibe -->
<td>
<label>Recibió:
<span class='tooltip'
      title='Usuario que recibió el artículo'>
<select name='recibio_egreso'
        id='recibio_egreso'
        size='1'>

<!-- los elementos los carga por javascript -->

</select>
</span>
</label>
</td>

<!-- presenta dos columna en blanco -->
<td></td><td></td>

<!-- cierra la fila y abre una nueva-->
</tr>
<tr>

<!-- presenta el texto con los comentarios -->
<td colspan='4' rowspan='4'>
<label>Observaciones:
<br>
<textarea name="observaciones_egreso"
          id="observaciones_egreso"
          rows="10"
          cols="100">
</textarea>
</label>
</td>

<!-- presenta el botón grabar -->
<td align='center'>
<input type='button'
       name='btnGrabaEgreso'
       id='btnGrabaEgreso'
       value='Grabar'
       class='boton_grabar'
       title='Pulse para grabar el registro'
       onClick='egresos.verificaEgreso()'>
</td>
</tr>

<!-- presenta el botón remito -->
<tr><td align='center'>
<input type='button'
       name='btnRemitoEgreso'
       id='btnRemitoEgreso'
       value='Remito'
       class='boton_imprimir'
       title='Pulse para imprimir el remito'
       onClick='egresos.remitoEgreso()'>
</td></tr>

<!-- presenta el botón borrar -->
<tr><td align='center'>
<input type='button'
       name='btnBorraEgreso'
       id='btnBorraEgreso'
       value='Borrar'
       class='boton_borrar'
       title='Pulse para borrar el Egreso'
       onClick='egresos.borraEgreso()'>
</td></tr>

<!-- presenta el botón cerrar -->
<tr><td align='center'>
<input type='button'
       name='btnCerrarEgreso'
       id='btnCerrarEgreso'
       value='Cerrar'
       class='boton_cancelar'
       title='Cierra este formulario'
       onClick='egresos.cancelaEgreso()'>
</td></tr>

<!-- cerramos la tabla -->
</table>

<!-- cerramos el formulario -->
</form>

<script>

    // las opciones del autocomplete del artículo
    var options = {
        url:"stock/articulos/lista_items.php",
        getValue: "Descripcion",
        list: {
                onChooseEvent: function() {
                    valor = $("#desc_item_egreso").getSelectedItemData().Id;
                        egresos.selItemEgreso(valor);
                    },
                match: {enabled: true}
                },
        placeholder: "Escriba el item",
        theme: "round"
    };

    // inicializa el objeto autocomplete de directores
    $("#desc_item_egreso").easyAutocomplete(options);

    // fijamos la fecha de alta y el usuario
    document.getElementById("fecha_egreso").value = fechaActual();
    document.getElementById("usuario_egreso").value = sessionStorage.getItem("Usuario");

    // instanciamos los tooltips
    new jBox('Tooltip', {
      attach: '.tooltip',
      theme: 'TooltipBorder'
    });

    // carga la nómina de usuarios que reciben material
    egresos.cargaUsuarios();

    // fija el texto de las observaciones
    CKEDITOR.replace('observaciones_egreso', {
            height: 100
    } );

    // fijamos el foco
    document.getElementById("desc_item_egreso").focus();

</script>