<!--

    Archivo: grilla_egresos.html
    Proyecto: Diagnóstico
    Autor: Claudio Invernizzi
    E-Mail: cinvernizzi@gmail.com
    Institución: INP - Dr. Mario Fatala Chaben
    Fecha: 07/02/2019
    Version: 1.0
    Licencia: GPL
    Comentarios: Procedimiento que arma la grilla de egresos

-->

<!-- definimos el título -->
<h2>Egresos del Depósito</h2>

<!-- definimos la tabla -->
<table style="width:80%;" class="display" id='tegresos'>

<!-- definimos el encabezado -->
<thead>
<tr>
<th align='left'>Descripción</th>
<th align='left'>Remito</th>
<th align='left'>Cantidad</th>
<th align='left'>Fecha</th>
<th align='left'>Entrego</th>
<th align='left'>Recibio</th>
<th align='left'>
<input type='button'
       name='btnNuevoEgreso'
       id='btnNuevoEgreso'
       class='botonagregar'
       title='Declara un egreso del depósito'
       onClick='egresos.verEgreso()'>
</th>
</tr>
</thead>
</table>

<script>

    // instanciamos aquí la tabla y así la tenemos disponible
    // en la clase javascript
    $('#tegresos').DataTable({
        responsive: true,
        "language":{
            "url": "script/dataTables.spanish.lang"
        }});

    // cargamos los egresos del depósito
    egresos.cargaEgresos();

</script>