<!--

    Archivo: form_historias.html
    Proyecto: Diagnóstico
    Autor: Claudio Invernizzi
    E-Mail: cinvernizzi@gmail.com
    Institución: INP - Dr. Mario Fatala Chaben
    Fecha: 22/07/2019
    Version: 1.0
    Licencia: GPL
    Comentarios: Procedimiento que arma el formulario de selección
                 del tipo de historia que desea imprimir

-->

<!-- definimos el formulario -->
<form name='form_historias' id='form_historias'>

<!-- abrimos la tabla -->
<table width='95%' align='center' border='0'>

<!-- presentamos el select -->
<tbody>
<tr>
<td colspan='2'>
<label>Indique el criterio de agrupamiento:
<span class='tooltip'
      title='Seleccione el criterio de impresión'>
<select name='tipo_historia'
        id='tipo_historia'
        size='1'>

<!-- agregamos las opciones -->
<option value='0'>Seleccione</option>
<option value='1'>Por Visita</option>
<option value='2'>Por Estudio</option>

<!-- cerramos los tags -->
</select>
</span>
</label>
</td>
</tr>

<!-- inserta un separador -->
<tr><td colspan='2'><br></td></tr>

<!-- presenta el botón aceptar -->
<tr>
<td align='center'>
<input type='button'
       name='btnImprimeHistoria'
       id='btnImprimeHistoria'
       value='Imprimir'
       class='boton_imprimir'
       onClick='historias.Seleccionar()'>
</td>

<!-- presenta el botón cancelar -->
<td>
<input type='button'
       name='btnCancelaHistoria'
       id='btnCancelaHistoria'
       value='Cancelar'
       class='boton_cancelar'
       onClick='historias.Cancelar()'>
</td>
</tr>

<!-- cerramos la tabla -->
</tbody>
</table>

<!-- cerramos el formulario-->
</form>

<script>

    // instanciamos los tooltips
    new jBox('Tooltip', {
      attach: '.tooltip',
      theme: 'TooltipBorder'
    });

</script>