<!--

    Archivo: form_ecocardio.html
    Proyecto: Diagnóstico
    Autor: Claudio Invernizzi
    E-Mail: cinvernizzi@gmail.com
    Institución: INP - Dr. Mario Fatala Chaben
    Fecha: 11/06/2019
    Version: 1.0
    Licencia: GPL
    Comentarios: Procedimiento que arma el formulario de datos
                 de los electrocardiogramas

-->

<!-- define el formulario -->
<form name='form_ecocardio' id='form_ecocardio'>

<!-- define la tabla -->
<table width='95%' align='center' border='0'>
<tr>

<!-- pide la fecha -->
<td colspan='2'>
<label>Fecha:
<span class='tooltip'
      title='Seleccione la fecha del estudio'>
<input type='text'
       name='fecha_eco'
       id='fecha_eco'
       size='12'
       class='datepicker'>
</span>
</label>
</td>

<!-- presenta el check de normal -->
<td colspan='2'>
<span class='tooltip'
      title='Marque si el resultado es normal'>
<input type='checkbox'
       name='econormal'
       id='econormal'
       value='Si'>Normal
</span>
</td>

<!-- agregamos dos celdas -->
<td colspan='2'></td>

<!-- cerramos la fila y abrimos una nueva -->
</tr><tr>

<!-- pide el ddvi -->
<td>
<label>DDVI:
<span class='tooltip'
      title='Indique el DDVI en milímetros'>
<input type='number'
       name='ecoddvi'
       id='ecoddvi'
       class='numero'>
</span>
</label>
</td>

<!-- pide el dsvi -->
<td>
<label>DSVI:
<span class='tooltip'
      title='Indique el DSVI en milímetros'>
<input type='number'
       name='ecodsvi'
       id='ecodsvi'
       class='numero'>
</span>
</label>
</td>

<!-- pide el fac -->
<td>
<label>FAC:
<span class='tooltip'
      title='Indique el FAC en porcentaje'>
<input type='text'
       name='ecofac'
       id='ecofac'
       size='10'>
</span>
</label>
</td>

<!-- pide el siv -->
<td>
<label>SIV:
<span class='tooltip'
      title='Indique el SIV en milímetros'>
<input type='number'
       name='ecosiv'
       id='ecosiv'
       class='numero'>
</span>
</label>
</td>

<!-- pide el pp -->
<td>
<label>PP:
<span class='tooltip'
      title='Indique el PP en milímetros'>
<input type='number'
       name='ecopp'
       id='ecopp'
       class='numero'>
</span>
</label>
</td>

<!-- pide el ai -->
<td>
<label>AI:
<span class='tooltip'
      title='Indique el AI en milímetros'>
<input type='number'
       name='ecoai'
       id='ecoai'
       class='numero'>
</span>
</label>
</td>

<!-- cerramos la fila y abrimos una nueva -->
</tr><tr>

<!-- pide el ao -->
<td>
<label>AO:
<span class='tooltip'
      title='Indique el AO en milímetros'>
<input type='number'
       name='ecoao'
       id='ecoao'
       class='numero'>
</span>
</label>
</td>

<!-- pide el fey -->
<td>
<label>FEY:
<span class='tooltip'
      title='Indique el FEY en porcentaje'>
<input type='text'
       name='ecofey'
       id='ecofey'
       size='12'>
</span>
</label>
</td>

<!-- pide el ddvd -->
<td>
<label>DDVD:
<span class='tooltip'
      title='Indique el DDVD en milímetros'>
<input type='number'
       name='ecoddvd'
       id='ecoddvd'
       class='numero'>
</span>
</label>
</td>

<!-- pide el ad -->
<td>
<label>AD:
<span class='tooltip'
      title='Indique el AD en milímetros'>
<input type='number'
       name='ecoad'
       id='ecoad'
       class='numero'>
</span>
</label>
</td>

<!-- pide la movilidad -->
<td>
<label>Movilidad:
<span class='tooltip'
      title='Indique la movilidad'>
<input type='text'
       name='ecomovilidad'
       id='ecomovilidad'
       size='15'>
</span>
</label>
</td>

<!-- pide el fsvi -->
<td>
<label>FSVI:
<span class='tooltip'
      title='Ingrese el FSVI'>
<input type='text'
       name='ecofsvi'
       id='ecofsvi'
       size='15'>
</span>
</label>
</td>

<!-- insertamos un separador -->
</tr><tr><td colspan='6'><br></td></tr><tr>

<!-- presenta la fecha de alta -->
<td>
<label>Fecha:
<span class='tooltip'
      title="Fecha de alta del registro">
<input type='text'
       name='altaeco'
       id='altaeco'
       size='10'
       readonly>
</span>
</label>
</td>

<!-- presenta el usuario -->
<td>
<label>Usuario:
<span class='tooltip'
      title='Usuario que ingresó el registro'>
<input type='text'
       name='usuarioeco'
       id='usuarioeco'
       size='10'
       readonly>
</span>
</label>
</td>

<!-- el botón grabar -->
<td>
<input type='button'
       name='btnGrabaEco'
       id='btnGrabaEco'
       value='Grabar'
       class='boton_grabar'
       title='Pulse para grabar el registro'
       onClick='ecocardio.validaEcocardio()'>
</td>

<!-- el botón cancelar -->
<td>
<input type='button'
       name='btnCancelaEco'
       id='btnCancelaEco'
       value='Cancelar'
       class='boton_cancelar'
       title='Pulse para cancelar los cambios'
       onClick='ecocardio.cancelaEcocardio()'>
</td>

<!-- presenta el botón borrar -->
<td>
<input type='button'
       name='btnBorraEco'
       id='btnBorraEco'
       value='Borrar'
       class='boton_borrar'
       title='Pulse para borrar el registro'
       onClick='ecocardio.borraEcocardio()'>
</td>

<!-- dejamos una celda en blanco -->
<td></td>

<!-- cerramos la tabla -->
</tr>
</table>

<!-- cerramos el formulario -->
</form>

<script>

    // instanciamos los tooltips
    new jBox('Tooltip', {
        attach: '.tooltip',
        theme: 'TooltipBorder'
    });

    // setea las máscaras
    $("#ecofey").mask("99.99");

    // fijamos los datepicker y configuramos el valor de retorno
    $('#fecha_eco').Zebra_DatePicker({
        days: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
        format: "d/m/Y",
        months: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Augosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
        view: 'years',
    });

    // fijamos la fecha de alta y el usuario
    document.getElementById("usuarioeco").value = sessionStorage.getItem("Usuario");
    document.getElementById("altaeco").value = fechaActual();

    // cargamos el registro
    ecocardio.getDatosEcocardio();

</script>