<!--

    Archivo: form_proyectos.html
    Proyecto: Diagnóstico
    Autor: Claudio Invernizzi
    E-Mail: cinvernizzi@gmail.com
    Institución: INP - Dr. Mario Fatala Chaben
    Fecha: 13/08/2019
    Version: 1.0
    Licencia: GPL
    Comentarios: Procedimiento que arma el formulario con los datos
                 de los proyectos de investigación

-->

<!-- definimos el formulario -->
<form name='datos_proyectos'>

<!-- define la tabla -->
<table width='99%' align='center' border='0'>

<!-- pide el título del proyecto -->
<tr>
<td colspan='4'>
<label>Título:
<span class='tooltip'
      title='Nombre o Título del proyecto'>
<input type='text'
       name='proyecto_titulo'
       id='proyecto_titulo'
       size='100'>
</span>
</label>
</td>
</tr>

<!-- pide la fecha de inicio -->
<tr>
<td>
<label>Inicio:
<span class='tooltip'
      title='Fecha de inicio del proyecto'>
<input type='text'
       name='proyecto_inicio'
       id='proyecto_inicio'
       class='datepicker'
       size='10'>
</span>
</label>
</td>

<!-- pide la fecha de finalización -->
<td>
<label>Fin:
<span class='tooltip'
      title='Fecha de finalización del proyecto'>
<input type='text'
       name='proyecto_fin'
       id='proyecto_fin'
       class='datepicker'
       size='10'>
</span>
</label>
</td>

<!-- presenta la fecha de alta -->
<td>
<label>Alta:
<span class='tooltip'
      title='Fecha de alta del proyecto'>
<input type='text'
       name='proyecto_alta'
       id='proyecto_alta'
       size='8'
       readonly>
</span>
</label>
</td>

<!-- presenta el usuario -->
<td>
<label>Usuario:
<span class='tooltip'
      title='Usuario que ingresó el registro'>
<input type='text'
       name='proyecto_usuario'
       id='proyecto_usuario'
       size='8'
       readonly>
</span>
</label>
</td>
</tr>

<!-- pide la descripción del proyecto -->
<tr>
<td colspan='4'>
<fieldset>
<legend>Descripción</legend>
<textarea name='descripcion_proyecto'
          id='descripcion_proyecto'
          rows=4 cols=80>
</textarea>
</fieldset>
</td>
</tr>

<!-- presenta el texto del consentimiento informado -->
<tr>
<td colspan='4'>
<fieldset>
<legend>Consentimiento Informado</legend>
<textarea name='consentimiento_proyecto'
          id='consentimiento_proyecto'
          rows=4 cols=80>
</textarea>
</fieldset>
</td>
</tr>

<!-- presenta el botón grabar -->
<tr>
<td align='center'>
<input type='button'
       name='btnGrabaProyecto'
       id='btnGrabaProyecto'
       value='Grabar'
       class='boton_grabar'
       title='Pulse para grabar el proyecto'
       onClick='proyectos.verificaProyecto()'>
</td>

<!-- presenta el botón cancelar -->
<td align='center'>
<input type='button'
       name='btnCancelaProyecto'
       id='btnCancelaProyecto'
       value='Cancelar'
       class='boton_cancelar'
       title='Cierra sin grabar los cambios'
       onClick='proyectos.cancelaProyecto()'>
</td>

<!-- presenta el botón con los tags del consentimiento -->
<td align='center'>
<input type='button'
       name='btnTagsProyecto'
       id='btnTagsProyecto'
       value='Tags'
       class='boton_chico'
       title='Presenta los tags del consentimiento'
       onClick='proyectos.mostrarTags()'>
</td>
</tr>

<!-- inserta una celda en blanco -->
<td></td>

<!-- cierra la tabla -->
</table>

<!-- cierra el formulario -->
</form>

<script>

    // configura el campo descripción
    CKEDITOR.replace('descripcion_proyecto', {
            height: 100
    } );

    // configura el campo consentimiento
    CKEDITOR.replace('consentimiento_proyecto', {
            height: 100
    } );

    // setea todos los objetos de la clase datepicker
    $('input.datepicker').Zebra_DatePicker({
            format: 'd/m/Y',
            view: 'years',
            days: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
            months: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Augosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre']
        });

    // carga el usuario y la fecha de alta
    document.getElementById("proyecto_alta").value = fechaActual();
    document.getElementById("proyecto_usuario").value = sessionStorage.getItem("Usuario");

    // si está editando muestra el registro
    if (proyectos.Id != 0){
        proyectos.getDatosProyecto();
    }

</script>