<!--

    Archivo: proyectos.html
    Proyecto: Diagnóstico
    Autor: Claudio Invernizzi
    E-Mail: cinvernizzi@gmail.com
    Institución: INP - Dr. Mario Fatala Chaben
    Fecha: 13/08/2019
    Version: 1.0
    Licencia: GPL
    Comentarios: Procedimiento que arma el formulario inicial de
                 los proyectos de investigación

-->

<!-- define la tabla de los proyectos -->
<table width='95%' align='center' border='0'>

    <!-- presenta el texto con el título -->
    <tr><td align='center'><b>Título</b></td>

    <!-- presenta la fecha inicial -->
    <td align='center'><b>Inicio</b></td>

    <!-- presenta la fecha de finalización -->
    <td align='center'><b>Fin</b></td>

    <!-- el botón buscar -->
    <td>
    <input type='button'
           name='btnBuscaProyecto'
           id='btnBuscaProyecto'
           title='Pulse para buscar un proyecto'
           class='botonbuscar'>
    </td>

    <!-- el botón agregar -->
    <td>
    <input type='button'
           name='btnNuevoProyecto'
           id='btnNuevoProyecto'
           title='Pulse para agregar un proyecto'
           class='botonagregar'
           onClick='proyectos.nuevoProyecto()'>
    </td>

    <!-- cierra la primer fila y abre la segunda -->
    </tr>
    <tr>

    <!-- presenta el campo título -->
    <td align='center'>
    <span class='tooltip'
          title='Título o nombre del proyecto'>
    <input type='text'
           name='titulo_proyecto'
           id='titulo_proyecto'
           size='100'>
    </span>
    </td>

    <!-- presenta el cambo inicio -->
    <td align='center'>
    <span class='tooltip'
          title='Fecha de inicio del proyecto'>
    <input type='text'
           name='inicio_proyecto'
           id='inicio_proyecto'
           size='8'
           readonly>
    </span>
    </td>

    <!-- presenta el campo fin -->
    <td align='center'>
    <span class='tooltip'
          title='Fecha de finalización del proyecto'>
    <input type='text'
           name='fin_proyecto'
           id='fin_proyecto'
           size='8'
           readonly>
    </span>
    </td>

    <!-- el botón editar -->
    <td>
    <input type='button'
           name='btnEditaProyecto'
           id='btnEditaProyecto'
           title='Pulse para editar el proyecto'
           class='botoneditar'
           onClick='proyectos.nuevoProyecto()'>
    </td>

    <!-- presenta el botón eliminar -->
    <td>
    <input type='button'
           name='btnEliminaProyecto'
           id='btnEliminaProyecto'
           title='Pulse para eliminar el proyecto'
           class='botonborrar'>
    </td>

    <!-- cierra la fila y la tabla -->
    </tr>

</table>

<!-- define la tabla de los participantes -->
<table id='grilla_pacproyectos' width='95%'>

    <!-- define los encabezados -->
    <thead>
    <tr>
        <th>Protocolo</th>
        <th>Paciente</th>
        <th>Trat.</th>
        <th>Documento</th>
        <th>Sexo</th>
        <th>Hijos</th>
        <th>Provincia</th>
        <th>Localidad</th>
        <th>Alta</th>
        <th>Usuario</th>
        <th>
            <input type='button'
                   name='btnNuevoPaciente'
                   id='btnNuevoPaciente'
                   title='Agrega un nuevo paciente al proyecto'
                   class='botonagregar'>
        </th>
    </tr>
    </thead>

<!-- cerramos la tabla -->
</table>

<script>

    // instanciamos los tooltips
    new jBox('Tooltip', {
        attach: '.tooltip',
        theme: 'TooltipBorder'
    });

    // instanciamos aquí la tabla y así la tenemos disponible
    // en la clase javascript
    $('#grilla_pacproyectos').DataTable({
        responsive: true,
        "language":{
            "url": "script/dataTables.spanish.lang"
        }});

</script>