<!--

    Archivo: tags.html
    Proyecto: Diagnóstico
    Autor: Claudio Invernizzi
    E-Mail: cinvernizzi@gmail.com
    Institución: INP - Dr. Mario Fatala Chaben
    Fecha: 20/08/2019
    Version: 1.0
    Licencia: GPL
    Comentarios: Procedimiento que arma la página con los tags
                 disponibles en el consentimiento informado

-->

<!-- definimos el título -->
<p align='justify'>
    <b>Estos son los Tags que tiene disponible en la redacción
       del Consentimiento Informado, al momento de imprimir el
       mismo, se utilizará la tabla de equivalencias que se
       presenta a continuación
    </b>
</p>

<!-- insertamos un separador -->
<br>

<!-- definimos la tabla -->
<table width='95%' align='center' border='0'>

<!-- definimos los encabezados -->
<thead>
<tr>
    <th>Tag</th>
    <th>Significado / Reemplazo</th>
</tr>
</thead>

<!-- definimos el cuerpo -->
<tbody>

    <!-- definimos los distintos tags -->
    <tr>
        <td>__Inicio__</td>
        <td>Fecha de inicio del proyecto</td>
    </tr>
    <tr>
        <td>__FIN__</td>
        <td>Fecha de finalización estimada del proyecto</td>
    </tr>
    <tr>
        <td>__PROYECTO__</td>
        <td>Título del proyecto</td>
    </tr>
    <tr>
        <td>__PROTOCOLO__</td>
        <td>Número de prootocolo del paciente</td>
    </tr>
    <tr>
        <td>__LABORATORIO__</td>
        <td>Nombre del Laboratorio participante del proyecto</td>
    </tr>
    <tr>
        <td>__INSTITUCION__</td>
        <td>Nombre de la Institución participante del proyecto
            (sinómimo de Laboratorio)
        </td>
    </tr>
    <tr>
        <td>__PACIENTE__</td>
        <td>Nombre completo del paciente (en el formato Nombre, Apellido</td>
    </tr>
    <tr>
        <td>__TIPO__</td>
        <td>Tipo de documento del paciente</td>
    </tr>
    <tr>
        <td>__DOCUMENTO__</td>
        <td>Número de documento del paciente</td>
    </tr>
    <tr>
        <td>__SEXO__</td>
        <td>Sexo del paciente</td>
    </tr>
    <tr>
        <td>__ESTADOCIVIL__</td>
        <td>Estado Civil del paciente</td>
    </tr>
    <tr>
        <td>__LOCALIDAD__</td>
        <td>Localidad de residencia del paciente</td>
    </tr>
    <tr>
        <td>__Provincia__</td>
        <td>Provincia de residencia del paciente</td>
    </tr>
    <tr>
        <td>__USUARIO__</td>
        <td>Nombre completo del usuario que imprime el
            consentimiento informado
        </td>
    </tr>
    <tr>
        <td>__MATRICULA__</td>
        <td>Número de matrícula profesional del usuario
            que imprime el consentimiento informado
        </td>
    </tr>
    <tr>
        <td>__PROFESION__</td>
        <td>Profesión del usuaario que imprime el consentimiento
            informado
        </td>
    </tr>

<!-- cerramos la tabla -->
</tbody>
</table>
