<!--

    Archivo: form_holter.html
    Proyecto: Diagnóstico
    Autor: Claudio Invernizzi
    E-Mail: cinvernizzi@gmail.com
    Institución: INP - Dr. Mario Fatala Chaben
    Fecha: 12/06/2019
    Version: 1.0
    Licencia: GPL
    Comentarios: Procedimiento que arma el formulario de datos
                 de los holter

-->

<!-- define el formulario -->
<form name='form_holter' id='form_holter'>

    <!-- define la tabla -->
<table width='95%' align='center' border='0'>
<tr>

<!-- pide la fecha -->
<td>
<label>Fecha:
<span class='tooltip'
        title='Seleccione la fecha de la administración'>
<input type='text'
       name='fecha_holter'
       id='fecha_holter'
       size='12'
       class='datepicker'>
</span>
</label>
</td>

<!-- insertamos las celdas en blanco -->
<td colspan='3'></td>

<!-- cerramos la fila y abrimos una nueva -->
</tr><tr>

<!-- pide la frecuencia media -->
<td>
<label>Frec.Media:
<span class='tooltip'
      title='Ingrese la frecuencia media'>
<input type='number'
       name='media_holter'
       id='media_holter'
       class='numero'>
</span>
</label>
</td>

<!-- pide la frecuencia mínima -->
<td>
<label>Frec.Mínima:
<span class='tooltip'
      title='Ingrese la frecuencia mínima'>
<input type='number'
       name='minima_holter'
       id='minima_holter'
       class='numero'>
</span>
</label>
</td>

<!-- pide la frecuencia máxima -->
<td>
<label>Frec.Máxima:
<span class='tooltip'
      title='Ingrese la frecuencia máxima'>
<input type='number'
       name='maxima_holter'
       id='maxima_holter'
       class='numero'>
</span>
</label>
</td>

<!-- insertamos una celda en blanco -->
<td></td>

<!-- cerramos la fila y abrimos una nueva -->
</tr><tr>

<!-- número de latidos totales -->
<td>
<label>Latidos Totales:
<span class='tooltip'
      title='Ingrese el número de latidos totales'>
<input type='number'
       name='totales_holter'
       id='totales_holter'
       class='numerogrande'>
</span>
</label>
</td>

<!-- presenta las celdas en blanco -->
<td colspan='3'></td>

<!-- cerramos la fila y abrimos una nueva -->
</tr><tr>

<!-- pide si hubo eventos -->
<td>
<span class='tooltip'
      title='Marque si hubo eventos ventriculares'>
<input type='checkbox'
       name='evholter'
       id='evholter'
       value='Si'>Eventos V.
</span>
</td>

<!-- pide el número de eventos -->
<td>
<label>N° Eventos:
<span class='tooltip'
      title='Indique el número de eventos ventriculares'>
<input type='number'
       name='nevholter'
       id='nevholter'
       class='numero'
       onBlur='holter.calculaEv()'>
</span>
</label>
</td>

<!-- presenta la tasa de eventos -->
<td>
<label>Tasa:
<span class='tooltip'
      title='Tasa de eventos '>
<input type='text'
       name='tasaevholter'
       id='tasaevholter'
       readonly
       size='10'>
</span>
</label>
</td>

<!-- inserta una celda en blanco -->
<td></td>

<!-- cierra la fila y abre una nueva -->
</tr><tr>

<!-- pide si hubo eventos supraventriculares -->
<td>
<span class='tooltip'
      title='Marque si hubo eventos supraventriculares'>
<input type='checkbox'
       name='evsholter'
       id='evsholter'
       value='Si'>Eventos SV.
</span>
</td>

<!-- pide el número de eventos supraventriculares -->
<td>
<label>N° Eventos:
<span class='tooltip'
      title='Indique el número de eventos supraventriculares'>
<input type='number'
       name='nevsholter'
       id='nevsholter'
       class='numero'
       onBlur='holter.calculaEsv()'>
</span>
</label>
</td>

<!-- presenta la tasa de eventos -->
<td>
<label>Tasa:
<span class='tooltip'
      title='Tasa de eventos '>
<input type='text'
       name='tasaesvholter'
       id='tasaesvholter'
       readonly
       size='10'>
</span>
</label>
</td>

<!-- presenta una celda en blanco -->
<td></td>

<!-- cierra la fila y abre una nueva -->
</tr><tr>

<!-- presenta el check de normal -->
<td>
<span class='tooltip'
      title='Marque si el resultado es normal'>
<input type='checkbox'
       name='normalholter'
       id='normalholter'
       value='Si'>Normal
</span>
</td>

<!-- presenta el check de bradicardia sinusal -->
<td>
<span class='tooltip'
      title='Marque si presenta bradicardia sinusal'>
<input type='checkbox'
       name='sinusalholter'
       id='sinusalholter'
       value='Si'>Bradicardia Sinusal
</span>
</td>

<!-- presenta el check de respuesta cronotropica -->
<td>
<span class='tooltip'
      title='Marque si presenta respuesta cronotrópica'>
<input type='checkbox'
       name='cronoholter'
       id='cronoholter'
       value='Si'>Rta.Cronotrópica
</span>
</td>

<!-- presenta una celda en blanco -->
<td></td>

<!-- cierra la fila y abre una nueva -->
</tr><tr>

<!-- presenta el check de arritmia ventricular severa -->
<td>
<span class='tooltip'
      title='Marque si presenta arritmia ventricular severa'>
<input type='checkbox'
       name='avholter'
       id='avholter'
       value='Si'>Arritmia Vent. Severa
</span>
</td>

<!-- presenta el check de arritmia ventricular simple -->
<td>
<span class='tooltip'
      title='Marque si presenta arritmia ventricular simple'>
<input type='checkbox'
       name='avsimpleholter'
       id='avsimpleholter'
       value='Si'>Arritmia Vent. Simple
</span>
</td>

<!-- presenta el check de arritmia supraventricular -->
<td>
<span class='tooltip'
      title='Marque si presenta arritmia supraventricular'>
<input type='checkbox'
       name='arritmiasvholter'
       id='arritmiasvholter'
       value='Si'>Arritmia Supraventricular
</span>
</td>

<!-- presenta una celda en blanco -->
<td></td>

<!-- cierra la fila y abre una nueva -->
</tr><tr>

<!-- presenta el check de bloqueo de rama -->
<td>
<span class='tooltip'
      title='Marque si presenta bloqueo de rama'>
<input type='checkbox'
       name='bramaholter'
       id='bramaholter'
       value='Si'>B. de Rama
</span>
</td>

<!-- presenta el check de bav 2° g -->
<td>
<span class='tooltip'
      title='Marque si corresponde'>
<input type='checkbox'
       name='bavholter'
       id='bavholter'
       value='Si'>BAV 2° G
</span>
</td>

<!-- presenta el check de disociación a -v -->
<td>
<span class='tooltip'
      title='Marque si presenta disociación'>
<input type='checkbox'
        name='disociacionholter'
        id='disociacionholter'
        value='Si'>Disociación A-V
</span>
</td>

<!-- presenta una celda en blanco -->
<td></td>

<!-- cierra la fila e insertamos un separador -->
</tr><tr><td colspan='4'><br></td></tr><tr>

<!-- presenta el usuario -->
<td>
<label>Usuario:
<span class='tooltip'
        title='Usuario que ingresó el registro'>
<input type='text'
        name='usuarioholter'
        id='usuarioholter'
        size='10'
        readonly>
</span>
</label>
</td>

<!-- presenta la fecha -->
<td>
<label>Fecha:
<span class='tooltip'
      title="Fecha de alta del registro">
<input type='text'
       name='altaholter'
       id='altaholter'
       size='10'
       readonly>
</span>
</label>
</td>

<!-- el botón grabar -->
<td>
<input type='button'
       name='btnGrabaHolter'
       id='btnGrabaHolter'
       value='Grabar'
       class='boton_grabar'
       title='Pulse para grabar el registro'
       onClick='holter.validaHolter()'>
</td>

<!-- el botón cancelar -->
<td>
<input type='button'
       name='btnCancelaHolter'
       id='btnCancelaHolter'
       value='Cancelar'
       class='boton_cancelar'
       title='Pulse para cancelar los cambios'
       onClick='holter.cancelaHolter()'>
</td>

<!-- cerramos la tabla -->
</tr></table>

<!-- cerramos el formulario -->
</form>

<script>

    // instanciamos los tooltips
    new jBox('Tooltip', {
        attach: '.tooltip',
        theme: 'TooltipBorder',
        zIndex: 20000
    });

    // fijamos los datepicker y configuramos el valor de retorno
    $('#fecha_holter').Zebra_DatePicker({
        days: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
        format: "d/m/Y",
        months: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Augosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
        view: 'years'
    });

    // fijamos la fecha de alta y el usuario
    document.getElementById("altaholter").value = fechaActual();
    document.getElementById("usuarioholter").value = sessionStorage.getItem("Usuario");

    // cargamos los datos
    holter.getDatosHolter();

</script>