<!--

    Nombre: form_ingreso.php
    Fecha: 17/05/2018
    Autor: Lic. Claudio Invernizzi
    E-Mail: cinvernizzi@gmail.com
    Licencia: GPL
    Producido en: INP - Dr. Mario Fatala Chaben
    Buenos Aires - Argentina
    Comentarios: procedimiento que arma el formulario de ingreso al sistema

-->

<!-- definimos el formulario -->
<form name='form_ingreso'>

<!-- presenta el título -->
<h3>Indique su nombre de usuario y contraseña</h3>

<!-- insertamos un separador -->
<br>

<!-- definimos la tabla -->
<table width='98%' align='center' border='0'>

    <!-- pedimos el usuario -->
    <tr>
        <td><b>Usuario: </b></td>
        <td>
            <span class='tooltip'
                  title='Nombre de usuario en el sistema'>
            <input type='text'
                   name='usuario'
                   id='usuario'
                   size='10'>
            </span>
        </td>
    </tr>

    <!-- pedimos la contraseña -->
    <tr>
        <td><b>Contraseña: </b></td>
        <td>
            <span class='tooltip'
                  title='Contraseña de ingreso al sistema'>
            <input type='password'
                   name='contrasenia'
                   id='contrasenia'
                   size='10'>
            </span>
        </td>
    </tr>

    <!-- insertamos un separador -->
    <tr><td colspan='2'><br></td></tr>

    <!-- presentamos el botón ingresar -->
    <tr>
        <td colspan='2' align='center'>
        <input type='button'
               name='btnIngresar'
               value='Ingresar'
               id='btnIngresar'
               title='Pulse para validar sus credenciales'
               onClick='usuarios.validarUsuario();'
               class='boton_confirmar'>
        </td>
    </tr>

<!-- cerramos la tabla -->
</table>

<!-- cerramos el formulario -->
</form>
<SCRIPT>

    // instanciamos los tooltips
    new jBox('Tooltip', {
      attach: '.tooltip',
      theme: 'TooltipBorder'
    });

    // setea el foco
    document.getElementById("usuario").focus();

</SCRIPT>