<!--

    Archivo: form_rx.html
    Proyecto: Diagnóstico
    Autor: Claudio Invernizzi
    E-Mail: cinvernizzi@gmail.com
    Institución: INP - Dr. Mario Fatala Chaben
    Fecha: 11/06/2019
    Version: 1.0
    Licencia: GPL
    Comentarios: Procedimiento que arma el formulario de datos
                 de las radiografías

-->

<!-- define el formulario -->
<form name='rxpaciente' id='rxpaciente'>

<!-- abre la tabla y la fila -->
<table width='95%' align='center' border='0'>
<tr>

<!-- pide la fecha -->
<td>
<label>Fecha:
<span class='tooltip'
      title='Seleccione la fecha de la administración'>
 <input type='text'
        name='fecha_rx'
        id='fecha_rx'
        size='12'
        class='datepicker'>
        </span>
        </label>
</td>

<!-- presenta el check de ict -->
<td>
<span class='tooltip'
      title='Marque si la ICT se encuentra conservada'>
<input type='checkbox'
        name='ictconservada'
        id='ictconservada'
        value='Si'>ICT Conservada
</span>
</td>

<!-- presenta el check de cardiomegalia -->
<td>
<span class='tooltip'
      title='Marque si presenta cardiomegalia'>
<input type='checkbox'
       name='cardiomegalia'
       id='cardiomegalia'
       value='Si'>Cardiomegalia
</span>
</td>

<!-- presenta el check de sec pleuro / pulmonar -->
<td>
<span class='tooltip'
      title='Marque si corresponde'>
<input type='checkbox'
       name='pleuro'
       id='pleuro'
       value='Si'>Sec. Pleuro / Pulmonar
</span>
</td>

<!-- cerramos la fila y abrimos una nueva -->
</tr><tr>

<!-- presenta el check de signos de epoc -->
<td>
<span class='tooltip'
      title='Marque si presenta signos de EPOC'>
<input type='checkbox'
       name='epoc'
       id='epoc'
       value='Si'>Signos de EPOC
</span>
</td>

<!-- presenta el check de calcifiaciones -->
<td>
<span class='tooltip'
      title='Marque si presenta calcificaciones'>
<input type='checkbox'
       name='calcificaciones'
       id='calcificaciones'
       value='Si'>Calcificaciones
</span>
</td>

<!-- presenta el check de no tiene -->
<td>
<span class='tooltip'
      title='Marque si no presenta'>
<input type='checkbox'
       name='notienerx'
       id='notienerx'
       value='Si'>No Tiene
</span>
</td>

<!-- dejamos una celda en blanco -->
<td></td>

<!-- cerramos la fila y abrimos una nueva
     insertando un separador-->
</tr><tr><td colspan='4'><br></td></tr><tr>

<!-- presenta el usuario -->
<td>
<label>Usuario:
<span class='tooltip'
      title='Usuario que ingresó el registro'>
<input type='text'
       name='usuariorx'
       id='usuariorx'
       size='10'
       readonly>
</span>
</label>
</td>

<!-- presenta la fecha -->
<td>
<label>Fecha:
<span class='tooltip'
      title="Fecha de alta del registro">
<input type='text'
       name='altarx'
       id='altarx'
       size='10'
       readonly>
</span>
</label>
</td>

<!-- el botón grabar -->
<td>
<input type='button'
       name='btnGrabaRx'
       id='btnGrabaRx'
       value='Grabar'
       class='boton_grabar'
       title='Pulse para grabar el registro'
       onClick='rx.verificaRx()'>
</td>

<!-- el botón cancelar -->
<td>
<input type='button'
       name='btnCancelaRx'
       id='btnCancelaRx'
       value='Cancelar'
       class='boton_cancelar'
       title='Pulse para cancelar los cambios'
       onclick='rx.cancelaRx()'>
</td>

<!-- cerramos los tags y el formulario -->
</tr>
</table>
</form>

<script>

    // instanciamos los tooltips
    new jBox('Tooltip', {
        attach: '.tooltip',
        theme: 'TooltipBorder'
    });

    // fijamos los datepicker y configuramos el valor de retorno
    $('#fecha_rx').Zebra_DatePicker({
        days: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
        format: "d/m/Y",
        months: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Augosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
        view: 'years'
    });

    // fijamos la fecha de alta y el usuario
    document.getElementById("altarx").value = fechaActual();
    document.getElementById("usuariorx").value = sessionStorage.getItem("Usuario");

    // cargamos los datos del registro
    rx.getDatosRx();

</script>