<!--

    Archivo: grilla_transfusiones.html
    Proyecto: Diagnóstico
    Autor: Claudio Invernizzi
    E-Mail: cinvernizzi@gmail.com
    Institución: INP - Dr. Mario Fatala Chaben
    Fecha: 16/09/2019
    Version: 1.0
    Licencia: GPL
    Comentarios: Método que arma la grilla con las transfusiones
                 del paciente

-->

<!-- definimos el formulario -->
<form name='nomina_transfusiones' id='nomina_transfusiones'>

<!-- definimos la tabla -->
<table width='95%' align='center' border='0'>

<!-- definimos el encabezado -->
<thead>
<tr>
<th>Fecha</th>
<th>Localidad</th>
<th>Motivo</th>
<th>Alta</th>
<th>Usuario</th>
<th></th>
</tr>

<!-- abrimos una nueva fila -->
<tr>

<!-- presenta la nueva fecha -->
<th>
<span class='tooltip'
      title='Fecha de la transfusión'>
<input type='text'
       name='fecha_transfusion'
       id='fecha_transfusion'
       size='12'
       class='datepicker'>
</span>
</th>

<!-- pide la localidad -->
<th>
<span class='tooltip'
      title='Localidad de la transfusión'>
<input type='text'
       name='localidad_transfusion'
       id='localidad_transfusion'
       size='30'>
</span>

<!-- presenta el botón buscar -->
<input type='button'
       name='btnBuscaLocalidad'
       id='btnBuscaLocalidad'
       class='botonbuscar'
       title='Busca la localidad de la transfusión'
       onClick='transfusiones.buscaLocalidad()'>
</th>

<!-- presenta el motivo -->
<th>
<span class='tooltip'
      title='Indique el motivo de la transfusiòn'>
<input type='text'
       name='motivo_transfusion'
       id='motivo_transfusion'
       size='40'>
</span>
</th>

<!-- presenta la fecha de alta -->
<th>
<span class='tooltip'
      title='Fecha de alta del registro'>
<input type='text'
       name='alta_transfusion'
       id='alta_transfusion'
       size='10'
       readonly>
</span>
</th>

<!-- presenta el usuario -->
<th>
<span class='tooltip'
      title='Usuario que ingresó el registro'>
<input type='text'
       name='usuario_transfusion'
       id='usuario_transfusion'
       size='10'
       readonly>
</span>
</th>

<!-- presenta el botón agregar -->
<th>
<input type='button'
       name='btnNuevaTransfusion'
       id='btnNuevaTransfusion'
       class='botonagregar'
       title='Agrega el registro a la base'
       onClick='transfusiones.verificaTransfusion()'>
</th>

<!-- cerramos la fila -->
</tr>

<!-- cerramos el encabezado -->
</thead>

<!-- definimos el cuerpo -->
<tbody id='cuerpo_transfusion'>

<!-- cerramos la tabla -->
</tbody>
</table>

<!-- cerramos el formulario -->
</form>

<script>

    // instanciamos los tooltips
    new jBox('Tooltip', {
        attach: '.tooltip',
        theme: 'TooltipBorder'
    });

    // fijamos los datepicker y configuramos el valor de retorno
    $('input.datepicker').Zebra_DatePicker({
        days: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
        format: "d/m/Y",
        months: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Augosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
        view: 'years'
    });

    // por defecto carga el laboratorio, el usuario y la fecha actual
    document.getElementById("usuario_transfusion").value = sessionStorage.getItem("Usuario");
    document.getElementById("alta_transfusion").value = fechaActual();

    // cargamos la grilla
    transfusiones.cargaTransfusiones();

</script>