<!--

    Archivo: form_pacientes.html
    Proyecto: Diagnóstico
    Autor: Claudio Invernizzi
    E-Mail: cinvernizzi@gmail.com
    Institución: INP - Dr. Mario Fatala Chaben
    Fecha: 12/01/2018
    Version: 1.0
    Licencia: GPL
    Comentarios: Procedimiento que arma el formulario de pacientes

-->

<!-- definimos el formulario -->
<form name='datos_pacientes' id='datos_pacientes'>

<!-- presenta oculta la clave del laboratorio -->
<input type='hidden'
       id='laboratorio_paciente'
       name='laboratorio_paciente'>

<!-- presenta oculta las coordenadas de nacimiento -->
<input type='hidden'
       name='coord_nac_paciente'
       id='coord_nac_paciente'>

<!-- presenta ocultas las coordenadas de residencia -->
<input type='hidden'
       name='coord_resid_paciente'
       id='coord_resid_paciente'>

<!-- definimos la tabla -->
<table width='95%' align='center' border='0'>

<!-- abrimos la primer fila -->
<tr>

<!-- presenta el protocolo -->
<td>
<label>Protocolo:
<span class='tooltip'
      title='Número de protocolo'>
<input type='text'
       name='protocolo_paciente'
       id='protocolo_paciente'
       size='13'
       readonly>
</span>
</label>
</td>

<!-- presenta el número de historia clínica -->
<td colspan='2'>
<label>Historia Clínica:
<span class='tooltip'
      title='Nùmero de Historia Clínica'>
<input type='text'
            name='historia_paciente'
            id='historia_paciente'
            size='13'
            readonly>
</span>
</label>
</td>

<!-- presenta el select de tipo de documento -->
<td colspan='3'>
<label>Documento:
<span class='tooltip'
      title='Seleccione el tipo de documento'>
<select name='tipo_doc_paciente'
            id='tipo_doc_paciente'
            size='1'>

<!-- los elementos los cargamos por javascript -->

</select>
</span>
</label>

<!-- insertamos un separador -->
&nbsp;&nbsp;

<!-- pide el número de documento -->
<span class='tooltip'
      title='Ingrese el número de documento'>
<input type='text'
            name='documento_paciente'
            id='documento_paciente'
            size='8'>
</span>
</td>

<!-- pide el mail -->
<td colspan='2' nowrap>
<label>E-Mail:
<span class='tooltip'
      title='Ingrese el correo electrónico'>
<input type='text'
            name='mail_paciente'
            id='mail_paciente'
            onblur='document.getElementById("mail_paciente").value = document.getElementById("mail_paciente").value.toLowerCase()'
            size='18'>
</span>
</label>
</td>

<!-- cerramos la fila y abrimos una nueva -->
</tr>
<tr>

<!-- pide el apellido -->
<td colspan='8'>
<label>Apellido:
<span class='tooltip'
      title='Apellido del Paciente'>
<input type='text'
       name='apellido_paciente'
       id='apellido_paciente'
       size='50'
       onblur='document.getElementById("apellido_paciente").value = document.getElementById("apellido_paciente").value.toUpperCase()'>
</span>
</label>

<!-- insertamos un separador -->
&nbsp;&nbsp;

<!-- pide el nombre -->
<label>Nombre:
<span class='tooltip'
      title='Nombre del paciente'>
<input type='text'
       name='nombre_paciente'
       id='nombre_paciente'
       size='50'
       onblur='document.getElementById("nombre_paciente").value = document.getElementById("nombre_paciente").value.toUpperCase()'>
</span>
</label>
</td>

<!-- cerramos la fila y abrimos una nueva -->
</tr>
<tr>

<!-- pide la fecha de nacimiento -->
<td colspan='2'>
<label>Fecha Nacimiento:
<span class='tooltip'
      title='Seleccione la fecha de nacimiento'>
<input type='text'
       name='fecha_nac_paciente'
       id='fecha_nac_paciente'
       size='12'
       class='datepicker'>
</span>
</label>
</td>

<!-- pide la edad en años -->
<td>
<label>Edad:
<span class='tooltip'
      title='Indique la edad en años'>
<input type='number'
       name='edad_paciente'
       id='edad_paciente'
       class='numero'>
</span>
</label>
</td>

<!-- presenta el select de sexos -->
<td colspan='2' nowrap>
<label>Sexo:
<span class='tooltip'
      title='Seleccione el sexo del paciente'>
<select name='sexo_paciente'
        id='sexo_paciente'
        size='1'>

<!-- los elementos los carga por javascript -->

</select>
</span>
</label>
</td>

<!-- presenta el select de estado civil -->
<td colspan='2' nowrap>
<label>Estado Civil:
<span class='tooltip'
      title='Indique el estado civil'>
<select name='estado_civil_paciente'
        id='estado_civil_paciente'
        size='1'>

<!-- los elementos los carga por javascript -->

</select>
</span>
</label>
</td>

<!-- pide el número de hijos -->
<td colspan='2'>
<label>Hijos:
<span class='tooltip'
      title='Indique el número de hijos'>
<input type='number'
       name='hijos_paciente'
       id='hijos_paciente'
       class='numero'>
</span>
</label>
</td>

<!-- cerramos la fila y abrimos una nueva -->
</tr>
<tr>

<!-- pide la dirección postal -->
<td colspan='2' nowrap>
<label>Dirección:
<span class='tooltip'
      title='Ingrese la dirección del paciente'>
<input type='text'
       name='direccion_paciente'
       id='direccion_paciente'
       size='35'
       onblur='document.getElementById("direccion_paciente").value = document.getElementById("direccion_paciente").value.toUpperCase()'>
</span>
</label>
</td>

<!-- pide el teléfono -->
<td colspan='3'>
<label>Teléfono:
<span class='tooltip'
      title='Indique el teléfono del paciente'>
<input type='text'
       name='telefono_paciente'
       id='telefono_paciente'
       size='10'>
</span>
</label>
</td>

<!-- pide la companía de celular -->
<td colspan='3'>
<label>Celular:
<span class='tooltip'
      title='Indique la companía de celular'>
<select name='compania_paciente'
        id='compania_paciente'
        size='1'>

<!-- la companía la carga por javascript -->

</select>
</span>
</label>

<!-- insertamos un separador -->
&nbsp;&nbsp;

<!-- pide el número de celular -->
<span class='tooltip'
      title='Indique el número de celular'>
<input type='text'
       name='celular_paciente'
       id='celular_paciente'
       size='10'>
</span>
</td>

<!-- cerramos la fila y abrimos una nueva -->
</tr>
<tr>

<!-- presenta el texto con el país de nacimiento -->
<td colspan='2'>
<label>País Nac.:
<span class='tooltip'
      title='País de nacimiento del paciente'>
<input type='text'
       name='pais_nac_paciente'
       id='pais_nac_paciente'
       size='15'
       readonly>
</span>
</label>
</td>

<!-- presenta el texto con la jurisdicción de nacimiento -->
<td colspan='2'>
<label>Jur. Nacimiento:
<span class='tooltip'
      title='Jurisdicción de nacimiento del paciente'>
<input type='text'
       name='jur_nac_paciente'
       id='jur_nac_paciente'
       size='30'
       readonly>
</span>
</label>
</td>

<!-- presenta el texto con la localidad de nacimiento -->
<td colspan='4'>
<label>Localidad Nacimiento:
<span class='tooltip'
      title='Ingrese parte de la localidad y <br>
             pulse <b>Buscar</b>'>
<input type='text'
       name='loc_nac_paciente'
       id='loc_nac_paciente'
       size='30'>
</span>
</label>

<!-- presenta oculto el campo clave de la localidad -->
<input type='hidden' name='id_loc_nac_paciente' id='id_loc_nac_paciente'>

<!-- insertamos un separador -->
&nbsp;&nbsp;

<!-- presenta el botón buscar localidad -->
<span class='tooltip'
      title='Busca la localidad de nacimiento'>
<input type='button'
       name='btnBuscaNacimiento'
       id='btnBuscaNacimiento'
       class='botonbuscar'
       onClick='pacientes.buscaLocalidad("nacimiento", document.getElementById("loc_nac_paciente").value)'>
</span>
</td>

<!-- cerramos la fila y abrimos una nueva -->
</tr>
<tr>

<!-- presenta el texto con el país de residencia -->
<td colspan='2'>
<label>Pais Resid.:
<span class='tooltip'
      title='País de residencia del paciente'>
<input type='text'
       name='pais_res_paciente'
       id='pais_res_paciente'
       size='15'
       readonly>
</span>
</label>
</td>

<!-- presenta el texto con la jurisdicción de residencia -->
<td colspan='2'>
<label>Jur. Residencia:
<span class='tooltip'
      title='Jurisdicción de residencia del paciente'>
<input type='text'
       name='jur_res_paciente'
       id='jur_res_paciente'
       size='30'
       readonly>
</span>
</label>
</td>

<!-- presenta el texto con la localidad de residencia -->
<td colspan='4'>
<label>Localidad Residencia:
<span class='tooltip'
      title='Localidad de residencia del paciente'>
<input type='text'
       name='loc_res_paciente'
       id='loc_res_paciente'
       size='30'>
</span>
</label>

<!-- presenta oculto el campo clave de la localidad -->
<input type='hidden' name='id_loc_res_paciente' id='id_loc_res_paciente'>

<!-- inserta un separador -->
&nbsp;&nbsp;

<!-- presenta el botón buscar localidad -->
<span class='tooltip'
      title='Pulse para buscar la localidad'>
<input type='button'
       name='btnBuscaResidencia'
       id='btnBuscaResidencia'
       class='botonbuscar'
       onClick='pacientes.buscaLocalidad("residencia", document.getElementById("loc_res_paciente").value)'>
</span>
</td>

<!-- cerramos la fila y abrimos una nueva -->
</tr>
<tr>

<!-- presenta el texto con el país de la madre -->
<td colspan='2'>
<label>País Madre:
<span class='tooltip'
      title='País de nacimiento de la madre'>
<input type='text'
       name='pais_nac_madre'
       id='pais_nac_madre'
       size='15'
       readonly>
</span>
</label>
</td>

<!-- presenta el texto con la jurisdicción de la madre -->
<td colspan='2'>
<label>Jurisdicción Madre:
<span class='tooltip'
      title='Jurisdicción de nacimiento de la madre'>
<input type='text'
       name='jur_nac_madre'
       id='jur_nac_madre'
       size='30'
       readonly>
</span>
</label>
</td>

<!-- presenta el texto con la localidad de la madre -->
<td colspan='4'>
<label>Localidad Madre:
<span class='tooltip'
      title='Localidad de nacimiento de la madre'>
<input type='text'
       name='loc_nac_madre'
       id='loc_nac_madre'
       size='30'>
</span>
</label>

<!-- presenta oculto el campo clave de la localidad -->
<input type='hidden' name='id_loc_nac_madre' id='id_loc_nac_madre'>

<!-- insertamos un separador -->
&nbsp;&nbsp;

<!-- presenta el botón buscar localidad -->
<span class='tooltip'
      title='Pulse para buscar la localidad'>
<input type='button'
       name='btnBuscaMadre'
       id='btnBuscaMadre'
       class='botonbuscar'
       onClick='pacientes.buscaLocalidad("madre", document.getElementById("loc_nac_madre").value)'>
</span>
</td>

<!-- cerramos la fila y abrimos una nueva -->
</tr>
<tr>

<!-- presenta el checkbox de madre positiva -->
<td>
<label>Madre Positiva:
<span class='tooltip'
      title='Marque si la madre es Seropositiva'>
<select name='madre_positiva'
        id='madre_positiva'
        size='1'>

<!-- agregamos las opciones -->
<option></option>
<option>Si</option>
<option>No</option>

<!-- cerramos los tags -->
</select>
</span>
</label>
</td>

<!-- presenta el texto con la ocupación -->
<td colspan='3'>
<label>Ocupación:
<span class='tooltip'
      title='Describa la ocupación del paciente'>
<input type='text'
       name='ocupacion_paciente'
       id='ocupacion_paciente'
       size='35'>
</span>
</label>
</td>

<!-- presenta el texto con la obra social -->
<td colspan='4'>
<label>Obra Social:
<span class='tooltip'
      title='Nombre de la Obra Social'>
<input type='text'
       name='obra_soc_paciente'
       id='obra_soc_paciente'
       size='30'>
</span>
</label>
</td>

<!-- cerramos la fila y abrimos una nueva -->
</tr>
<tr>

<!-- presenta el combo con el motivo de consulta -->
<td colspan='2'>
<label>Motivo:
<span class='tooltip'
      title='Indique el motivo de consulta'>
<select name='motivo_paciente'
        id='motivo_paciente'
        size='1'>

<!-- los valores los cargamos por javascript -->

</select>
</span>
</label>
</td>

<!-- presenta el select de derivación -->
<td colspan='2'>
<label>Derivó:
<span class='tooltip'
      title='Seleccione la derivación del paciente'>
<select name='derivo_paciente'
        id='derivo_paciente'
        size='1'>

<!-- los elementos los cargamos por javascript -->

<!-- cerramos los tags -->
</select>
</span>
</label>
</td>

<!-- presenta el select si recibió tratamiento -->
<td colspan='4'>
<label>Recibió Trat.:
<span class='tooltip'
      title='Marque si el paciente ha recibido<br>
             tratamiento anteriormente'>
<select name='tratamiento_paciente'
        id='tratamiento_paciente'
        size='1'>

<!-- agregamos las opciones -->
<option></option>
<option>Si</option>
<option>No</option>

<!-- cerramos los tags -->
</select>
</span>
</label>

<!-- insertamos un separador -->
&nbsp;&nbsp;&nbsp;

<!-- presenta el botón editar tratamiento -->
<input type='button'
       name='btnTratamiento'
       id='btnTratamiento'
       title='Pulse para ver los tratamientos'
       class='botoneditar'
       onClick='tratamiento.verTratamiento()'>

<!-- cerramos la fila y abrimos otra nueva -->
</td>
</tr>
<tr>

<!-- presenta el campo de comentarios -->
<td colspan='7' rowspan='5'>
<fieldset>
<legend>Observaciones y Comentarios </legend>
<textarea name='observaciones_paciente'
          id='observaciones_paciente'
          rows='3' cols='80'>
</textarea>
</fieldset>
</td>

<!-- presenta el botón grabar -->
<td align='center'>
<input type='button'
       name='BtnGrabaPaciente'
       id='BtnGrabaPaciente'
       class='boton_grabar'
       value='Grabar'
       title='Graba el registro en la base'
       onClick='pacientes.verificaPaciente()'>
</td>

<!-- cerramos la fila -->
</tr>
<tr>

<!-- presenta el botón imprimir protocolo -->
<td align='center'>
<input type='button'
       name='BtnProtocoloPaciente'
       id='BtnProtocoloPaciente'
       class='boton_imprimir'
       value='Protocolo'
       title='Imprime el protocolo'
       onClick='pacientes.protocoloPaciente()'>
</td>

<!-- cerramos la fila -->
</tr>
<tr>

<!-- presenta el botón cancelar -->
<td align='center'>
<input type='button'
       name='BtnCancelaPaciente'
       id='BtnCancelaPaciente'
       class='boton_cancelar'
       value='Cancelar'
       title='Reinicia el formulario'
       onClick='pacientes.cancelaPaciente()'>
</td>

<!-- cerramos la fila -->
</tr>
<tr>

<!-- presenta el texto de usuario -->
<td align='center'>
<label>Usuario:
<span class='tooltip'
      title='Usuario que ingresó el registro'>
<input type='text'
            name='usuario_paciente'
            id='usuario_paciente'
            size='10'
            readonly>
</span>
</label>
</td>

<!-- cerramos la fila -->
</tr>
<tr>

<!-- presenta la fecha de alta -->
<td align='center'>
<label>Alta:
<span class='tooltip'
      title='Fecha de alta del registro'>
<input type='text'
            name='alta_paciente'
            id='alta_paciente'
            size='10'
            readonly>
</span>
</label>
</td>

<!-- cerramos la última fila -->
</tr>

<!-- cerramos la tabla -->
</table>

<!-- cerramos el formulario -->
</form>
<SCRIPT>

    // instanciamos los tooltips
    new jBox('Tooltip', {
        attach: '.tooltip',
        theme: 'TooltipBorder'
    });

    // fijamos los datepicker y configuramos el valor de retorno
    $('#fecha_nac_paciente').Zebra_DatePicker({
        days: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
        format: "d/m/Y",
        months: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Augosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
        view: 'years'
    });

    // configura el editor
    CKEDITOR.replace('observaciones_paciente', {
            height: 100
    } );

    // por defecto carga el usuario y la fecha actual
    document.getElementById("usuario_paciente").value = sessionStorage.getItem("Usuario");
    document.getElementById("alta_paciente").value = fechaActual();

    // cargamos la nómina de documentos
    documentos.nominaDocumentos("tipo_doc_paciente");

    // cargamos el combo de sexos
    sexos.nominaSexos("sexo_paciente");

    // cargamos los estados civiles
    estados.nominaEstados("estado_civil_paciente");

    // carga las companias de celular
    celulares.nominaCelulares("compania_paciente");

    // cargamos los motivos de consulta
    motivos.nominaMotivos("motivo_paciente");

    // cargamos los tipos de derivación
    derivacion.nominaDerivacion("derivo_paciente");

    // por defecto ocultamos los botones
    $('#BtnGrabaPaciente').hide();
    $('#BtnProtocoloPaciente').hide();
    $('#BtnCancelaPaciente').hide();

    // seteamos el foco
    document.getElementById("historia_paciente").focus();

</SCRIPT>