<!--

    Archivo: form_instituciones.html
    Proyecto: Diagnóstico
    Autor: Claudio Invernizzi
    E-Mail: cinvernizzi@gmail.com
    Institución: INP - Dr. Mario Fatala Chaben
    Fecha: 12/01/2018
    Version: 1.0
    Licencia: GPL
    Comentarios: Procedimiento que arma el formulario de instituciones asistenciales

-->

<!-- definimos el formulario -->
<form name='form_instituciones' id='form_instituciones'>

<!-- presenta oculta la clave -->
<input type='hidden' name='id_institucion' id='id_institucion'>

<!-- presenta oculta las coordenadas -->
<input type='hidden' name='coordenadas_institucion' id='coordenadas_institucion'>

<!-- definimos la tabla -->
<table width='95%' align='center' border='0'>

<!-- abrimos la primer fila -->
<tr>

<!-- pide el nombre de la institucion -->
<td colspan='4'>
<label>Institución:
<span class='tooltip'
      title='Nombre completo de la Institución Asistencial'>
<input type='text'
       name='nombre_institucion'
       id='nombre_institucion'
       size='60'
       onblur="document.getElementById('nombre_institucion').value = document.getElementById('nombre_institucion').value.toUpperCase()">
</span>
</label>
</td>

<!-- pide el código siisa -->
<td colspan='2'>
<label>SIISA:
<span class='tooltip'
      title='Código SIISA de la Institución'>
<input type='text'
       name='id_siisa'
       id='id_siisa'
       size='10'>
</span>
</label>
</td>

<!-- cerramos la fila  y abrimos una nueva -->
</tr>
<tr>

<!-- presenta el combo de país -->
<td colspan='2'>
<label>País:
<span class='tooltip'
      title='País de la Institución'>
<select name='pais_institucion'
        id='pais_institucion'
        size='1'
        onChange='instituciones.cargaProvincias()'>

<!-- la nómina de paises la cargamos por javascript -->

<!-- cerramos los tags -->
</select>
</span>
</label>
</td>

<!-- presenta el combo de provincia -->
<td colspan='2'>
<label>Jurisdicción:
<span class='tooltip'
      title='Jurisdicción de la Institución'>
<select name='provincia_institucion'
        id='provincia_institucion'
        size='1'
        onchange="instituciones.cargaLocalidades()">

<!-- agregamos los primeros elementos -->
<option></option>
<option>Seleccione un País</option>

<!-- los elementos los cargamos por javascript -->

<!-- cerramos los tags -->
</select>
</span>
</label>
</td>

<!-- presenta el combo de localidad -->
<td colspan='2'>
<label>Localidad:
<span class='tooltip'
      title='Localidad de la Institución'>
<select name='localidad_institucion'
        style="width:200px"
        id='localidad_institucion'
        size='1'>

<!-- agregamos los primeros elementos -->
<option></option>
<option>Seleccione una Jurisdicción</option>

<!-- las localidades las cargamos por javascript -->

<!-- cerramos los tags -->
</select>
</span>
</label>
</td>

<!-- cerramos la fila y abrimos una nueva -->
</tr>
<tr>

<!-- pide la dirección postal -->
<td colspan='4'>
<label>Dirección:
<span class='tooltip'
      title='Dirección postal de la Institución'>
<input type='text'
       name='direccion_institucion'
       id='direccion_institucion'
       size='60'
       onblur="document.getElementById('direccion_institucion').value = document.getElementById('direccion_institucion').value.toUpperCase()">
</span>
</label>
</td>

<!-- pide el código postal -->
<td colspan='2'>
<label>Código Postal:
<span class='tooltip'
      title='Código Postal de la Institución'>
<input type='text'
       name='cod_postal_institucion'
       id='cod_postal_institucion'
       size='10'>
</span>
</label>
</td>

<!-- cerramos la fila y abrimos una nueva -->
</tr>
<tr>

<!-- pide el teléfono -->
<td>
<label>Teléfono:
<span class='tooltip'
      title='Teléfono con prefijos'>
<input type='text'
       name='telefono_institucion'
       id='telefono_institucion'
       size='12'>
</span>
</label>
</td>

<!-- pide el mail de la institución -->
<td colspan='2'>
<label>E-Mail:
<span class='tooltip'
      title='Correo electrónico de la institución'>
<input type='text'
       name='mail_institucion'
       id='mail_institucion'
       size='20'>
</span>
</label>
</td>

<!-- presenta el select de la dependencia -->
<td>
<label>Dependencia:
<span class='tooltip'
      title='Dependencia de la Institución'>
<select name='dependencia_institucion'
            id='dependencia_institucion'
            size='1'>

<!-- los valores los cargamos por javascript -->

<!-- cerramos los tags -->
</select>
</span>
</label>
</td>

<!-- presenta la fecha de alta -->
<td>
<label>Alta:
<span class='tooltip'
      title='Fecha de alta del registro'>
<input type='text'
            name='alta_institucion'
            id='alta_institucion'
            size='8'
            readonly>
</span>
</label>
</td>

<!-- presenta el usuario -->
<td>
<label>Usuario:
<span class='tooltip'
      title='Usuario que ingresó el registro'>
<input type='text'
            name='usuario_institucion'
            id='usuario_institucion'
            size='10'
            readonly>
</span>
</label>
</td>

<!-- cerramos la fila y abrimos una nueva -->
</tr>
<tr>

<!-- pide el responsable -->
<td colspan='3'>
<label>Responsable:
<span class='tooltip'
      title='Nombre del responsable o director'>
<input type='text'
       name='responsable_institucion'
       id='responsable_institucion'
       size='40'
       onblur="document.getElementById('responsable_institucion').value = document.getElementById('responsable_institucion').value.toUpperCase()">
</span>
</label>
</td>

<!-- presenta el botón grabar -->
<td align='center' colspan='3'>
<input type='button'
       name='btnGrabaInstitucion'
       id='btnGrabaInstitucion'
       value='Grabar'
       class='boton_grabar'
       title='Pulse para grabar el registro'
       onClick="instituciones.verificaInstitucion()">

<!-- un espaciador -->
&nbsp;&nbsp;

<!-- presenta el botón cancelar -->
<input type='button'
       name='btnCancelaInstitucion'
       id='btnCancelaInstitucion'
       value='Cancelar'
       class='boton_cancelar'
       title='Cancela los cambios y reinicia el formulario'
       onClick='instituciones.cancelaInstitucion()'>

<!-- un espaciador -->
&nbsp;&nbsp;

<!-- presenta el botón mapa -->
<input type='button'
       name='btnMapaInstitucion'
       id='btnMapaInstitucion'
       value='Mapa'
       title='Muestra el mapa de la institución'
       class='boton_mapa'>
</td>

<!-- cerramos la fila y abrimos una nueva -->
</tr>
<tr>

<!-- pide las observaciones -->
<td colspan='6'>
<fieldset>
<legend>Observaciones y Comentarios </legend>
<textarea name='observacionesinstitucion'
          id='observacionesinstitucion'
          rows='3' cols='80'>
</textarea>
</fieldset>
</td>

<!-- cerramos fila y la tabla -->
</tr>
</table>

<!-- cerramos el formulario -->
</form>

<SCRIPT>

    // instanciamos los tooltips
    new jBox('Tooltip', {
        attach: '.tooltip',
        theme: 'TooltipBorder'
    });

    // configura el editor
    CKEDITOR.replace('observacionesinstitucion', {
            height: 100
        } );

    // carga la nómina de países
    instituciones.cargaPaises();

    // carga la nómina de dependencias
    instituciones.cargaDependencias();

    // ocultamos el botón mapa
    $("#btnMapaInstitucion").hide();

    // seteamos el foco
    document.getElementById('nombre_institucion').focus();

</SCRIPT>
