<!-- formulario de usuarios -->

<!-- definimos el formulario -->
<form name='form_usuarios' id='form_usuarios'>

    <!-- la id del registro oculta -->
    <input type='hidden'
           name='id_usuario'
           id='id_usuario'>

    <!-- presenta oculta las coordenadas gps -->
    <input type='hidden'
           name='coordenadas_usuario'
           id='coordenadas_usuario'>

    <!-- presenta el botón explorar archivo de la firma
         que ahora nos permite aclarar que solo se
         subirán imágenes-->
    <input type='file'
           name='archivo_firma'
           id='archivo_firma'
           accept='image/*'
           onChange='usuarios.subirFirma()'>

    <!-- definimos la tabla -->
    <table width='95%' border='0' align='center'>

    <!-- datos de la tabla de responsables del cce -->

    <!-- abrimos la fila -->
    <tr>

        <!-- el nombre del usuario -->
        <td>
            <label>Nombre:
            <span class='tooltip'
                  title='Nombre completo del usuario'>
            <input type='text'
                   name='nombre_usuario'
                   id='nombre_usuario'
                   onblur='document.form_usuarios.nombre_usuario.value = document.form_usuarios.nombre_usuario.value.toUpperCase()'
                   size='60'>
            </span>
            </label>

            <!-- insertamos un separador -->
            &nbsp;&nbsp;

            <!-- presenta el botón mapa -->
            <span class='tooltip'
                  title='Pulse para ver el mapa'>
            <input type='button'
                   name='btnMapaUsuario'
                   id='btnMapaUsuario'
                   class='botonmapa'>
            </span>

        </td>

        <!-- el nombre de usuario para la base -->
        <td>
            <label>Usuario:
            <span class='tooltip'
                  title='Nombre del usuario en la base'>
            <input type='text'
                   name='usuario_usuario'
                   id='usuario_usuario'
                   size='15'>
            </span>
            </label>
        </td>

        <!-- pide la profesión -->
        <td>
            <label>Profesion:
            <span class='tooltip'
                  title='Profesión del usuario si corresponde'>
            <input type='text'
                   name='profesion_usuario'
                   id='profesion_usuario'
                   size='20'>
            </span>
            </label>
        </td>

        <!-- pide la matrícula -->
        <td>
            <label>Matrícula:
            <span class='tooltip'
                  title='Matrícula profesional para los protocolos'>
            <input type='text'
                   name='matricula_usuario'
                   id='matricula_usuario'
                   size='15'>
            </span>
            </label>
        </td>
    </tr>

    <!-- cerramos la tabla y abrimos otra -->
    </table>
    <table width='95%' border='0' align='center'>

    <!-- el cargo del usuario -->
    <tr>
        <td>
            <label>Cargo:
            <span class='tooltip'
                  title='Cargo que desempeña el usuario'>
            <input type='text'
                   name='cargo_usuario'
                   id='cargo_usuario'
                   onblur='document.form_usuarios.cargo_usuario.value = document.form_usuarios.cargo_usuario.value.toUpperCase()'
                   size='60'>
            </span>
            </label>
        </td>

        <!-- la institución del usuario -->
        <td>
            <label>Institución:
            <span class='tooltip'
                  title='Institución del usuario'>
            <input type='text'
                   name='institucion_usuario'
                   id='institucion_usuario'
                   onblur='document.form_usuarios.institucion_usuario.value = document.form_usuarios.institucion_usuario.value.toUpperCase()'
                   size='60'>
            </span>
            </label>
        </td>

        <!-- el departamento -->
        <td>
            <label>Departamento: 
            <span class='tooltip'
                  title='Seleccione el departamento de la lista'>
            <select name='departamento_usuario'
                    id='departamento_usuario'
                    size='1'>

            <!-- los elementos los cargamos por javascript -->

            <!-- cerramos los tags -->
            </select>
            </span>
            </label>
        </td>
    </tr>

    <!-- cerramos la tabla y abrimos una nueva -->
    </table>
    <table width='95%' align='center' border='0'>

    <!-- abrimos la fila -->
    <tr>

        <!-- teléfono del usuario -->
        <td colspan='2'>
            <label>Teléfono:
            <span class='tooltip'
                  title='Teléfono del usuario con prefijo'>
            <input type='text'
                   name='telefono_usuario'
                   id='telefono_usuario'
                   size='20'>
            </span>
            </label>
        </td>

        <!-- el mail del usuario -->
        <td colspan='2'>
            <label>Mail:
            <span class='tooltip'
                  title='Mail personal del usuario'>
            <input type='text'
                   name='mail_usuario'
                   id='mail_usuario'
                   onblur='document.form_usuarios.mail_usuario.value = document.form_usuarios.mail_usuario.value.toLowerCase()'
                   size='30'>
            </span>
            </label>
        </td>

        <!-- el checkbox de activo -->
        <td>
            <label>Activo:
            <span class='tooltip'
                  title='Marque si el usuario está activo'>
            <input type='checkbox'
                   id='activo_usuario'
                   value='activo_usuario'>
            </span>
            </label>
        </td>

        <!-- si es administrador -->
        <td>
            <label>Administrador
            <span class='tooltip'
                  title='Habilita al usuario como administrador'>
            <input type='checkbox'
                   id='chAdministrador'
                   value='administrador'>
            </span>
            </label>
        </td>

    <!-- cerramos la fila -->
    </tr>

    <!-- abrimos otra fila -->
    <tr>

        <!-- la dirección -->
        <td colspan='5'>
            <label>Dirección:
            <span class='tooltip'
                  title='Dirección postal del usuario'>
            <input type='text'
                   name='direccion_usuario'
                   id='direccion_usuario'
                   onblur='document.form_usuarios.direccion_usuario.value = document.form_usuarios.direccion_usuario.value.toUpperCase()'
                   size='60'>
            </span>
            </label>
        </td>

        <!-- el código postal -->
        <td>
            <label>Código Postal:
            <span class='tooltip'
                  title='Código Postal de la dirección'>
            <input type='text'
                   name='cod_postal_usuario'
                   id='cod_postal_usuario'
                   size='9'>
            </span>
            </label>
        </td>
    </tr>

    <!-- abrimos la fila -->
    <tr>

        <!-- el select con el país del usuario -->
        <td>
            <label>País:
            <span class='tooltip'
                  title='Seleccione el país del usuario'>
            <select name='pais_usuario'
                    id='pais_usuario'
                    size='1'
                    style='width:110px'
                    onChange='usuarios.cargaJurisdicciones()'>

            <!-- cargamos el primer elemento -->
            <option value=0>Seleccione</option>

            <!-- cerramos los tags -->
            </select>
            </span>
            </label>
        </td>

        <!-- el select con la jurisdicción del usuario -->
        <td>
            <label>Jurisdicción:
            <span class='tooltip'
                  title='Seleccione la jurisdicción del usuario'>
            <select name='jurisdiccion_usuario'
                    id='jurisdiccion_usuario'
                    size='1'
                    style='width:120px'
                    onchange='usuarios.cargaLocalidades()'>

            <!-- agregamos el primer elemento -->
            <option value=0>Seleccione</option>

            <!-- cerramos los tags -->
            </select>
            </span>
            </label>
        </td>

        <!-- el select con la localidad del usuario -->
        <td colspan='2'>
            <label>Localidad:
            <span class='tooltip'
                  title='Seleccione la localidad del usuario'>
            <select name='localidad_usuario'
                    id='localidad_usuario'
                    style='width:150px'
                    size='1'>

            <!-- cargamos el primer elemento -->
            <option value=0>Seleccione</option>

            <!-- cerramos los tags -->
            </select>
            </span>
            </label>
        </td>

        <!-- usuario que autorizó -->
        <td>
            <label>Autorizó:
            <span class='tooltip'
                  title='Usuario que autorizó el ingreso'>
            <input type='text'
                   name='autorizo_usuario'
                   id='autorizo_usuario'
                   size='12'
                   readonly>
            </span>
            </label>
        </td>

        <!-- la fecha de alta -->
        <td>
            <label>Fecha Alta:
            <span class='tooltip'
                  title='Fecha de alta del registro'>
            <input type='text'
                   name='alta_usuario'
                   id='alta_usuario'
                   size='8'
                   readonly>
            </span>
            </label>
        </td>

    </tr>

    <!-- cerramos la tabla y abrimos otra -->
    </table>
    <table width='95%' align='center' border='0'>

    <!-- datos de la tabla de usuarios de diagnóstico -->

    <!-- abrimos la fila -->
    <tr>

        <!-- laboratorio al que pertenece -->
        <td colspan='3'>
            <label>Laboratorio:
            <span class='tooltip'
                  title='Ingrese parte del nombre y pulse Buscar'>
            <input type='text'
                   name='laboratorio_usuario'
                   id='laboratorio_usuario'
                   size='70'>
            </span>
            </label>

            <!-- insertamos un separador -->
            &nbsp;&nbsp;

            <!-- presenta oculta la id del laboratorio -->
            <input type='hidden'
                   name='id_laborat_usuario'
                   id='id_laborat_usuario'>

            <!-- presenta el botón buscar -->
            <span class='tooltip'
                  title='Pulse para buscar el laboratorio'>
            <input type='button'
                   name='btnBuscaLabUsuario'
                   id='btnBuscaLabUsuario'
                   class='botonbuscar'
                   onClick='usuarios.buscaLaboratorio()'>
            </span>

        </td>

        <!-- si puede editar usuarios -->
        <td>
            <label>Usuarios
            <span class='tooltip'
                  title='El usuario podrá dar altas de otros usuarios'>
            <input type='checkbox'
                   id='chUsuarios'
                   value='usuarios'>
            </span>
            </label>
        </td>

        <!-- si puede editar personas -->
        <td>
            <label>Pacientes
            <span class='tooltip'
                  title='El usuario podrà editar pacientes'>
            <input type='checkbox'
                   id='chPersonas'
                   value='personas'>
            </span>
            </label>
        </td>

        <!-- si puede editar congénito -->
        <td>
            <label>Congénito
            <span class='tooltip'
                  title='El usuario podrà editar Chagas Congénito'>
            <input type='checkbox'
                   id='chCongenito'
                   value='congenito'>
            </span>
            </label>
        </td>

    </tr>

    <!-- cerramos la tabla y abrimos otra -->
    </table>
    <table width='95%' align='center' border='0'>

    <!-- abrimos la fila -->
    <tr>

        <!-- si puede cargar resultados -->
        <td>
            <label>Resultados
            <span class='tooltip'
                  title='El usuario podrá cargar resultados'>
            <input type='checkbox'
                   id='chResultados'
                   value='resultados'>
            </span>
            </label>
        </td>

        <!-- si puede tomar muestras -->
        <td>
            <label>Muestras
            <span class='tooltip'
                  title='El usuario podrá tomar muestras'>
            <input type='checkbox'
                   id='chMuestras'
                value='muestras'>
            </span>
            </label>
        </td>

        <!-- si puede realizar entrevistas -->
        <td>
            <label>Entrevistas
            <span class='tooltip'
                  title='El usuario podrá realizar entrevistas'>
            <input type='checkbox'
                   id='chEntrevistas'
                   value='entrevistas'>
            </span>
            </label>
        </td>

        <!-- si puede editar tablas auxiliares -->
        <td>
            <label>Auxiliares
            <span class='tooltip'
                  title='El usuario podrá editar los diccionarios del sistema'>
            <input type='checkbox'
                   id='chAuxiliares'
                   value='auxiliares'>
            </span>
            </label>
        </td>

        <!-- si puede firmar protocolos -->
        <td>
            <label>Protocolos
            <span class='tooltip'
                  title='El usuario podrá firmar protocolos'>
            <input type='checkbox'
                   id='chProtocolos'
                   value='protocolos'>
            </span>
            </label>
        </td>

        <!-- si puede editar el stock -->
        <td>
            <label>Stock
            <span class='tooltip'
                  title='El usuario podrá administrar el inventario'>
            <input type='checkbox'
                   id='chStock'
                   value='stock'>
            </span>
            </label>
        </td>

        <!-- si puede editar clìnica mèdica -->
        <td>
            <label>Clínica
            <span class='tooltip'
                    title='El usuario podrá editar historias clínicas'>
            <input type='checkbox'
                    id='chClinica'
                    value='clinica'>
            </span>
            </label>
        </td>
    </tr>

    <!-- abrimos la fila -->
    <tr>

        <!-- presenta las observaciones -->
        <td colspan='6' rowspan='2'>
            <fieldset>
            <legend>Observaciones y Comentarios </legend>
            <textarea name='observacionesusuario'
                      id='observacionesusuario'
                      rows='3' cols='80'>
            </textarea>
            </fieldset>
        </td>

        <!-- el botón grabar -->
        <td>
            <input type='button'
                       name='btnGrabaUsuario'
                       id='btnGrabaUsuario'
                       value='Grabar'
                       class='boton_grabar'
                       title='Graba el registro en la base'
                       onClick='usuarios.verificaUsuario()'>

            <!-- insertamos un separador -->
            &nbsp;&nbsp;

            <!-- el botón cancelar -->
            <input type='button'
                   name='btnCancelaUsuario'
                   id='btnCancelaUsuario'
                   value='Cancelar'
                   class='boton_cancelar'
                   title='Descarta todos los cambios'
                   onClick='usuarios.cancelaUsuario()'>
        </td>

    </tr>

    <!-- abrimos la fila -->
    <tr align='center'>

        <!-- cargamos la firma -->
        <td align='center'>
            <fieldset>
                <span class='tooltip'
                      title='Firma registrada del usuario'>
                <img src='../imagenes/imagen_no_disponible.gif'
                     onClick='usuarios.cargaFirma()'
                     id='firma_usuario'
                     name='firma_usuario'
                     width='150px'
                     height='150px'
                     border='0'>
                </span>
            </fieldset>
        </td>

    </tr>

    <!-- cerramos la tabla -->
    </table>

<!-- cerramos el formulario -->
</form>
<script>

    // ocultamos el broser de archivos
    $("#archivo_firma").hide();

    // instanciamos los tooltips
    new jBox('Tooltip', {
      attach: '.tooltip',
      theme: 'TooltipBorder'
    });

    // cargamos los departamentos por defecto 
    departamentos.nominaDepartamentos("departamento_usuario");
    
    // asignamos el editor
    CKEDITOR.replace('observacionesusuario', {
        height: 100
    } );

    // fijamos el foco
    document.getElementById("nombre_usuario").focus();

</script>
