<!--

    Archivo: form_localidades.html
    Proyecto: Diagnóstico
    Autor: Claudio Invernizzi
    E-Mail: cinvernizzi@gmail.com
    Institución: INP - Dr. Mario Fatala Chaben
    Fecha: 15/02/2018
    Version: 1.0
    Licencia: GPL
    Comentarios: Método que arma el formulario de edición de las localidades

-->

<!-- presenta el título -->
<h3>Seleccione el País y la Jurisdicción</h3>

<!-- definimos la tabla -->
<table width='70%' align='center' border='0'>

    <!-- abrimos la fila -->
    <tr>

    <!-- presenta el combo de país -->
    <td>
        <label>País:
        <span class='tooltip'
              title='Seleccione el país'>
        <select name='pais_localidad'
                id='pais_localidad'
                size='1'
                onChange='ciudades.cargaJurisdiccion()'>
        </select>
        </span>
        </label>
    </td>

    <!-- presenta el combo de jurisdicciones -->
    <td>
        <label>Jurisdicción:
        <span class='tooltip'
              title='Seleccione la Jurisdicción'>
        <select name='provincia_localidad'
                id='provincia_localidad'
                size='1'
                onChange='ciudades.cargaCiudades()'>
        <option>Seleccione</option>
        </select>
        </span>
        </label>
    </td>

<!-- cierra la tabla y la fila-->
</tr>
</table>

<!-- definimos el div para la carga -->
<div id='nominaCiudades'>
</div>

<SCRIPT>

    // instanciamos los tooltips
    new jBox('Tooltip', {
    attach: '.tooltip',
    theme: 'TooltipBorder'
    });

    // cargamos el select de países
    ciudades.cargaPaises();

</SCRIPT>