<!--

    Archivo: form_adversos.html
    Proyecto: Diagnóstico
    Autor: Claudio Invernizzi
    E-Mail: cinvernizzi@gmail.com
    Institución: INP - Dr. Mario Fatala Chaben
    Fecha: 16/06/2019
    Version: 1.0
    Licencia: GPL
    Comentarios: Procedimiento que arma el formulario de
                 efectos adversos del tratamiento

-->

<!-- definimos el formulario -->
<form name='adversos_tratamiento' id='adversos_tratamiento'>

<!-- define la tabla -->
<table width='95%' align='center' border='0'>

<!-- define los encabezados -->
<thead>
<tr>
<th>Efecto</th>
<th>Fecha</th>
<th>Usuario</th>
<th>Alta</th>
</tr>

<!-- abrimos la segunda fila -->
<tr>
<th>
<span class='tooltip'
      title='Seleccione el efecto adverso'>
<select name='efecto_tratamiento'
        id='efecto_tratamiento'
        size='1'>

<!-- los elemetos los agregamos por javascript -->

<!-- cerramos los tags -->
</select>
</span>
</th>

<!-- pide la fecha del efecto -->
<th>
<span class='tooltip'
      title='Seleccione la fecha del efecto'>
<input type='text'
       name='fecha_efecto'
       id='fecha_efecto'
       size='12'
       class='datepicker'>
</span>
</th>

<!-- presenta el usuario -->
<th>
<span class='tooltip'
      title='Usuario que ingresó el registro'>
<input type='text'
       name='usuario_efecto'
       id='usuario_efecto'
       size='10'
       readonly>
</span>
</th>

<!-- presenta la fecha de alta -->
<th>
<span class='tooltip'
      title='Fecha de alta del registro'>
<input type='text'
       name='alta_efecto'
       id='alta_efecto'
       size='10'
       readonly>
</span>
</th>

<!-- presenta el botón grabar -->
<th>
<input type='button'
       name='btnNuevoAdverso'
       id='btnNuevoAdverso'
       class='botonagregar'
       title='Agrega un nuevo efecto'
       onClick='adversospac.validaAdverso()'>
</th>
</tr>

<!-- cerramos el encabezado -->
</thead>

<!-- define el cuerpo -->
<tbody id='cuerpo_adversos'></tbody>

<!-- cerramos la tabla -->
</table>

<!-- cerramos el formulario -->
</form>

<script>

    // cargamos el select de efectos
    adversos.nominaAdversos("efecto_tratamiento");

    // fijamos el datepicker de fecha de inicio
    $('#fecha_efecto').Zebra_DatePicker({
        days: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
        format: "d/m/Y",
        months: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Augosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
        view: 'years'
    });

    // carga el usuario y la fecha de alta actual
    document.getElementById("usuario_efecto").value = sessionStorage.getItem("Usuario");
    document.getElementById("alta_efecto").value = fechaActual();

</script>