<!--

    Archivo: form_tratamiento.html
    Proyecto: Diagnóstico
    Autor: Claudio Invernizzi
    E-Mail: cinvernizzi@gmail.com
    Institución: INP - Dr. Mario Fatala Chaben
    Fecha: 13/06/2019
    Version: 1.0
    Licencia: GPL
    Comentarios: Procedimiento que arma el formulario con los
                 tratamientos recibidos por el paciente

-->

<!-- definimos la tabla -->
<table width='95%' align='center' border='0'>

<!-- definimos los encabezados -->
<thead>
<tr>
<th align='left'>Droga</th>
<th>N° Comp.</th>
<th>Inicio</th>
<th>Fin</th>
<th>Usuario</th>
<th>Fecha</th>
<th></th>
<th></th>
</tr>

<!-- abrimos la segunda fila, el formulario lo incluimos 
     como una segunda fila del encabezado -->
     <tr>

<!-- presenta el combo de drogas -->
<th align='left'>
<span class='tooltip'
      title='Seleccione la droga de la lista'>
<select name='droga_tratamiento'
        id='droga_tratamiento'
        size='1'>

<!-- los elementos los carga por javascript -->

<!-- cerramos los tags -->
</select>
</span>
</th>

<!-- presenta el número de comprimidos -->
<th>
<span class='tooltip'
      title='Número de comprimidos diarios'>
<input type='number'
       name='comprimidos_tratamiento'
       id='comprimidos_tratamiento'
       class='numero'>
</span>
</th>

<!-- presenta la fecha de inicio -->
<th>
<span class='tooltip'
      title='Seleccione la fecha de inicio'>
<input type='text'
       name='inicio_tratamiento'
       id='inicio_tratamiento'
       size='12'
       class='datepicker'>
</span>
</th>

<!-- presenta la fecha de finalización -->
<th>
<span class='tooltip'
      title='Seleccione la fecha de finalización'>
<input type='text'
       name='fin_tratamiento'
       id='fin_tratamiento'
       size='12'
       class='datepicker'>
</span>
</th>

<!-- presenta el usuario -->
<th>
<span class='tooltip'
      title='Usuario que ingresó el registro'>
<input type='text'
       name='usuario_tratamiento'
       id='usuario_tratamiento'
       size='10'
       readonly>
</span>
</th>

<!-- presenta la fecha de alta -->
<th>
<span class='tooltip'
      title='Fecha de alta del registro'>
<input type='text'
       name='alta_tratamiento'
       id='alta_tratamiento'
       size='10'
       readonly>
</span>
</th>

<!-- el botón grabar -->
<th>
<input type='button'
       name='btnGrabaTratamiento'
       id='btnGrabaTratamiento'
       title='Pulse para grabar el registro'
       class='botongrabar'
       onClick='tratamiento.validaTratamiento()'>
</th>

<!-- presenta una celda en blanco y cierra -->
<th>
</th>
</tr>

<!-- cerramos el encabezado -->
</thead>

<!-- definimos el cuerpo -->
<tbody id='cuerpo_tratamiento'>

<!-- cerramos la tabla -->
</tbody>
</table>

<script>

    // cargamos la nómina de drogas
    drogas.nominaDrogas("droga_tratamiento");

    // fijamos el datepicker de fecha de inicio
    $('#inicio_tratamiento').Zebra_DatePicker({
        days: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
        format: "d/m/Y",
        months: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Augosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
        view: 'years'
    });

    // fijamos el datepicker de fecha finalización
    $('#fin_tratamiento').Zebra_DatePicker({
        days: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
        format: "d/m/Y",
        months: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Augosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
        view: 'years'
    });

    // carga el usuario y la fecha de alta actual
    document.getElementById("usuario_tratamiento").value = sessionStorage.getItem("Usuario");
    document.getElementById("alta_tratamiento").value = fechaActual();

    // carga la nómina de tratamientos recibidos
    tratamiento.cargaTratamiento();

</script>