<!--

    Archivo: form_ergometria.html
    Proyecto: Diagnóstico
    Autor: Claudio Invernizzi
    E-Mail: cinvernizzi@gmail.com
    Institución: INP - Dr. Mario Fatala Chaben
    Fecha: 11/06/2019
    Version: 1.0
    Licencia: GPL
    Comentarios: Procedimiento que arma el formulario de datos
                 de las ergometrias

-->

<!-- definimos el formulario -->
<form name='form_ergometria' id='form_ergometria'>

<!-- abrimos la tabla y la primer fila -->
<table width='95%' align='center' border='0'>
<tr>

<!-- pide la fecha -->
<td>
<label>Fecha:
<span class='tooltip'
      title='Seleccione la fecha de realización'>
<input type='text'
       name='fecha_ergometria'
       id='fecha_ergometria'
       size='12'
       class='datepicker'>
</span>
</label>
</td>

<!-- pide la frecuencia basal -->
<td>
<label>FC Basal:
<span class='tooltip'
      title='Indique la frecuencia cardíaca basal'>
<input type='number'
       name='fc_basal'
       id='fc_basal'
       class='numero'>
</span>
</label>
</td>

<!-- pide la tensión basal -->
<td>
<label>TA Basal:
<span class='tooltip'
      title='Indique la presión arterial basal en mm/hg'>
<input type='text'
       name='ta_basal'
       id='ta_basal'
       size='10'>
</span>
</label>
</td>

<!-- pide los kms -->
<td>
<label>Kpm:
<span class='tooltip'
      title='Indique la distancia recorrida'>
<input type='number'
       name='kpm'
       id='kpm'
       class='numero'>
</span>
</label>
</td>

<!-- cerramos la fila y abrimos una nueva -->
</tr><tr>

<!-- pide la frecuencia máxima -->
<td>
<label>FC Máx:
<span class='tooltip'
      title='Indique la frecuencia cardíaca máxima'>
<input type='number'
       name='fc_max'
       id='fc_max'
       class='numero'>
</span>
</label>
</td>

<!-- pide la tensión máxima -->
<td>
<label>TA Max:
<span class='tooltip'
        title='Indique la presión arterial máxima en mm/hg'>
<input type='text'
       name='ta_max'
       id='ta_max'
       size='10'>
</span>
</label>
</td>

<!-- pide el itt máximo -->
<td>
<label>ITT Max:
<span class='tooltip'
      title='Indique la el ITT máximo'>
<input type='text'
       name='itt_max'
       id='itt_max'
       size='10'>
</span>
</label>
</td>

<!-- cerramos la última columna -->
<td></td>

<!-- cerramos la fila e insertamos un separador -->
</tr><tr><td colspan='4'><br></td></tr><tr>

<!-- presenta el usuario -->
<td>
<label>Usuario:
<span class='tooltip'
      title='Usuario que ingresó el registro'>
<input type='text'
       name='usuarioergo'
       id='usuarioergo'
       size='10'
       readonly>
</span>
</label>
</td>

<!-- presenta la fecha -->
<td>
<label>Fecha:
<span class='tooltip'
      title="Fecha de alta del registro">
<input type='text'
       name='altaergo'
       id='altaergo'
       size='10'
       readonly>
</span>
</label>
</td>

<!-- el botón grabar -->
<td>
<input type='button'
       name='btnGrabaErgo'
       id='btnGrabaErgo'
       value='Grabar'
       class='boton_grabar'
       title='Pulse para grabar el registro'
       onClick='ergometria.validaErgometria()'>
</td>

<!-- el botón cancelar -->
<td>
<input type='button'
       name='btnCancelaErgo'
       id='btnCancelaErgo'
       value='Cancelar'
       class='boton_cancelar'
       title='Pulse para cancelar los cambios'
       onClick='ergometria.cancelaErgometria()'>
</td>

<!-- cerramos la tabla -->
</tr>
</table>

<!-- cerramos el formulario -->
</form>

<script>

    // instanciamos los tooltips
    new jBox('Tooltip', {
        attach: '.tooltip',
        theme: 'TooltipBorder'
    });

    // setea las máscaras
    $("#ta_basal").mask("999/999");
    $("#ta_max").mask("999/999");

    // fijamos los datepicker y configuramos el valor de retorno
    $('#fecha_ergometria').Zebra_DatePicker({
        days: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
        format: "d/m/Y",
        months: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Augosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
        view: 'years'
    });

    // fijamos el usuario y la fecha de alta
    document.getElementById("usuarioergo").value = sessionStorage.getItem("Usuario");
    document.getElementById("altaergo").value = fechaActual();

    // cargamos el registro
    ergometria.getDatosErgometria();

</script>