<!--

    Archivo: form_reportes.html
    Proyecto: Diagnóstico
    Autor: Claudio Invernizzi
    E-Mail: cinvernizzi@gmail.com
    Institución: INP - Dr. Mario Fatala Chaben
    Fecha: 10/02/2019
    Version: 1.0
    Licencia: GPL
    Comentarios: Procedimiento que inicializa arma el formulario de
                 selección de tipo de reporte

-->

<!-- presenta el título -->
<h3 align='center'>
    Seleccione del formulario las fechas de inicio y finalización del
    reporte, luego indique el tipo de reporte que desea y pulse el
    botón <b>Generar</b>
</h3>

<!-- define el formulario -->
<form name='reportes_stock' id='reportes_stock'>

<!-- define la tabla -->
<table width='30%' align='center' border='0'>

<!-- pide la fecha de inicio del reporte -->
<tr>
<td>
<label>Inicio:
<span class='tooltip'
      title='Fecha de inicio del reporte'>
<input type='text'
       name='inicio_reporte'
       id='inicio_reporte'
       size='12'
       class='datepicker'>
</span>
</label>
</td>

<!-- pide la fecha de finalización del reporte -->
<td>
<label>Fin:
<span class='tooltip'
      title='Fecha de finalización del reporte'>
<input type='text'
        name='fin_reporte'
        id='fin_reporte'
        size='12'
        class='datepicker'>
</span>
</label>
</td>
</tr>

<!-- presenta el select del tipo de reporte -->
<tr>
<td colspan='2'>
<input type='radio' name='tiporeporte' value='ingresos'>Ingresos<br>
<input type='radio' name='tiporeporte' value='conciliadoingresos'>Conciliado Ingresos<br>
<input type='radio' name='tiporeporte' value='egresos'>Egresos<br>
<input type='radio' name='tiporeporte' value='conciliadoegresos'>Conciliado de Egresos<br>
<input type='radio' name='tiporeporte' value='critico'>Stock Crítico<br>
<input type='radio' name='tiporeporte' value='articulos'>Artículos<br>
<input type='radio' name='tiporeporte' value='inventario'>Inventario<br>
</td>
</tr>

<!-- inserta un separador -->
<tr><td colspan='2'><br></td></tr>

<!-- presenta el botón generar -->
<tr>
<td colspan='2' align='center'>
<input type='button'
       name='btnGenerar'
       id='btnGenerar'
       value='Generar'
       class='boton_confirmar'
       title='Pulse para generar el reporte'
       onClick='reportes.validarReporte()'>
</td>
</tr>

<!-- cierra la tabla -->
</table>

<!-- cierra el formulario -->
</form>

<script>

    // fijamos los datepicker y configuramos el valor de retorno
    $('input.datepicker').Zebra_DatePicker({
        days: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
        format: "d/m/Y",
        months: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Augosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
        view: 'years'
    });

</script>