<!--

    Archivo: form_visitas.html
    Proyecto: Diagnóstico
    Autor: Claudio Invernizzi
    E-Mail: cinvernizzi@gmail.com
    Institución: INP - Dr. Mario Fatala Chaben
    Fecha: 10/06/2019
    Version: 1.0
    Licencia: GPL
    Comentarios: Procedimiento que arma el formulario de visitas

-->

<!-- definimos el formulario -->
<form id='form_visitas' name='form_visitas'>

<!-- define la tabla -->
<table width='98%' align='center' border='0'>
<tr>
<td>
<!-- pedimos la clasificación -->
<label>Clasificación Enfermedad de Chagas según Kuscknir
<span class='tooltip'
      title='Seleccione el estadío de la lista'>
<select name='estadio'
        id='estadio'
        size='1'>

<!-- agregamos las opciones -->
<option></option>
<option>Estadio 0</option>
<option>Estadio I</option>
<option>Estadio II</option>
<option>Estadio III</option>

<!-- cerramos los tags -->
</select>
</span>
</label>
</td>

<!-- pide la fecha de la visita -->
<td>
<label>Fecha Visita:
<span class='tooltip'
        title='Seleccione la fecha de la visita'>
<input type='text'
        name='fecha_visita'
        id='fecha_visita'
        size='12'
        class='datepicker'>
</span>
</label>
</td>

<!-- cerramos la tabla -->
</tr>
</table>

<!-- pide los datos del exámen físico -->
<fieldset>
<legend>Exámen Físico</legend>

<!-- abrimos la tabla -->
<table width='98%' align='center' border='0'>

<!-- abrimos la primer fila -->
<tr>

<!-- pide la tensión arterial -->
<td>
<label>TA:
<span class='tooltip'
      title='Indique la presión arterial en mm/hg'>
<input type='text'
       name='ta_visita'
       id='ta_visita'
       size='10'>
</span>
</label>
</td>

<!-- pide el peso -->
<td>
<label>Peso:
<span class='tooltip'
      title='Indique el peso en kilogramos'>
<input type='text'
       name='peso_visita'
       id='peso_visita'
       size='10'>
</span>
</label>
</td>

<!-- pide la frecuencia cardíaca -->
<td>
<label>FC:
<span class='tooltip'
      title='Indique la frecuencia cardíaca'>
<input type='number'
       name='fc_visita'
       id='fc_visita'
       class='numero'>
</span>
</label>
</td>

<!-- pide la saturación de oxígeno -->
<td>
<label>SpO:
<span class='tooltip'
      title='Indique la saturación de oxígeno'>
<input type='number'
       name='saturacion_visita'
       id='saturacion_visita'
       class='numero'>
</span>
</label>
</td>

<!-- pide la talla -->
<td>
<label>Talla:
<span class='tooltip'
      title='Indique la altura'>
<input type='text'
       name='talla_visita'
       id='talla_visita'
       size='10'
       onBlur='visitas.calculaIMC()'>
</span>
</label>
</td>

<!-- pide el índice de masa corporal -->
<td>
<label>BMI:
<span class='tooltip'
        title='Indique el índice de masa corporal'>
<input type='text'
       name='indice_visita'
       id='indice_visita'
       size='10'>
</span>
</label>
</td>
</tr>

<!-- abrimos la segunda fila -->
<tr>

<!-- presenta el check de edema -->
<td>
<span class='tooltip'
      title='Marque si tiene edema de miembros inferiores'>
<input type='checkbox'
       name='edemavisita'
       id='edemavisita'
       value='Si'>Edema de M. Inferiores
</span>
</td>

<!-- presenta el check de sp -->
<td>
<span class='tooltip'
      title='Marque si corresponde'>
<input type='checkbox'
       name='spvisita'
       id='spvisita'
       value='Si'>S/P
</span>
</td>

<!-- presenta el check de mvdisminuido -->
<td>
<span class='tooltip'
      title='Marque si corresponde'>
<input type='checkbox'
       name='mvdisminuido'
       id='mvdisminuido'
       value='Si'>MV disminuido
</span>
</td>

<!-- presenta el check de crepitantes -->
<td>
<span class='tooltip'
      title='Marque si corresponde'>
<input type='checkbox'
       name='crepitantes'
       id='crepitantes'
       value='Si'>Crepitantes
</span>
</td>

<!-- presenta el check de sibilancias -->
<td>
<span class='tooltip'
      title='Marque si corresponde'>
<input type='checkbox'
       name='sibilancias'
       id='sibilancias'
       value='Si'>Sibilancias
</span>
</td>

<!-- cerramos la tabla -->
</tr></table>

<!-- cerramos el examen físico-->
</fieldset>

<!-- presenta la tabla de síntomas -->
<fieldset>
<legend>Síntomas</legend>

<!-- abrimos la tabla de síntomas -->
<table width='98%' align='center' border='0'>

<!-- abrimos la fila -->
<tr>

<!-- cada elemento tiene su propia columna -->

<!-- el select de disnea -->
<td>
<label>Disnea:
<span class='tooltip'
      title='Seleccione si presenta disnea'>
<select name='disnea_visitas'
        id='disnea_visitas'
        size='1'>

<!-- agregamos los elementos al combo -->
<option></option>
<option>En Reposo</option>
<option>Esfuerzos Leves</option>
<option>Esfuerzos Moderados</option>
<option>Grandes Esfuerzos</option>
<option>DPN</option>
<option>No Tiene</option>

<!-- cerramos los tags-->
</select>
</span>
</label>
</td>

<!-- el select de palpitaciones -->
<td>
<label>Palpitaciones:
<span class='tooltip'
      title='Indique el tipo de palpitaciones'>
<select name='palpitaciones'
        id='palpitaciones'
        size='1'>

<!-- agrega los elementos al combo -->
<option></option>
<option>Raramente</option>
<option>Frecuentes</option>
<option>No Tiene</option>

<!-- cerramos los tags-->
</select>
</span>
</label>
</td>

<!-- el select de dolor precordial -->
<td>
<label>Dolor Precordial:
<span class='tooltip'
      title='Indique el tipo de dolor precordial'>
<select name='dolorprecordial'
        id='dolorprecordial'
        size='1'>

<!-- agregamos los elementos al combo -->
<option></option>
<option>Tipico</option>
<option>Atipico</option>
<option>No Tiene</option>

<!-- cerramos los tags -->
</select>
</span>
</label>
</td>

<!-- cerramos la fila y abrimos una nueva -->
</tr><tr>

<!-- si ha tenido pérdida de consciencia -->
<td>
<span class='tooltip'
      title='Indique si ha tenido pérdida del conocimiento'>
<input type='checkbox'
       name='pdeconciencia'
       id='pdeconciencia'
       value='Si'>Pérdida de Conciencia
</span>
</td>

<!-- si ha sufrido presíncope -->
<td>
<span class='tooltip'
      title='Indique si ha sufrido presíncope'>
<input type='checkbox'
       name='presincope'
       id='presincope'
       value='Si'>Presíncope
</span>
</td>

<!-- si tiene edema de miembros inferiores -->
<td>
<span class='tooltip'
      title='Marque si tiene edema de miembros inferiores'>
<input type='checkbox'
       name='edemainferiores'
       id='edemainferiores'
       value='Si'>Edema de M. Inferiores
</span>
</td>

<!-- cerramos la tabla anidada y la fila -->
</tr></table>

<!-- cerramos el fieldset de síntomas-->
</fieldset>

<!-- presenta los antecedentes cardiovasculares -->

<!-- los elementos del aparato cardiovascular -->
<fieldset>
<legend>Aparato Cardiovascular</legend>

<!-- abrimos la tabla anidada -->
<table width='98%' align='center' border='0'>
<tr>

<!-- si la auscultación es normal -->
<td>
<span class='tooltip'
      title='Marque la auscultación es normal'>
<input type='checkbox'
       name='auscultacion'
       id='auscultacion'
       value='Si'>Auscultación Normal
</span>
</td>

<!-- si el ritmo es irregular -->
<td>
<span class='tooltip'
      title='Marque si presenta ritmo irregular'>
<input type='checkbox'
       name='irregular'
       id='irregular'
       value='Si'>Ritmo Irregular
</span>
</td>

<!-- si es de 3er -->
<td>
<span class='tooltip'
      title='Marque si corresponde'>
<input type='checkbox'
       name='tercer'
       id='tercer'
       value='Si'>3er. R
</span>
</td>

<!-- si es de 4to -->
<td>
<span class='tooltip'
      title='Marque si corresponde'>
<input type='checkbox'
       name='cuarto'
       id='cuarto'
       value='Si'>4to. R
</span>
</td>

<!-- insertamos una columna en blanco -->
<td></td>

<!-- cerramos la fila y abrimos la segunda -->
</tr><tr>

<!-- el tipo de soplos sistólicos -->
<td>
<span class='tooltip'
        title='Seleccione si presenta'>
        <input type='checkbox'
        name='eyectivo'
        id='eyectivo'
        value='Si'>Soplo Sistólico Eyectivo Aórtico
</span>
</td>

<!-- si tiene soplos regurgitativo-->
<td>
<span class='tooltip'
      title='Seleccione si presenta'>
      <input type='checkbox'
       name='regurgitativo'
       id='regurgitativo'
       value='Si'>Soplo Sistólico Regurgitativo Mitral
</span>
</td>

<!-- si no tiene -->
<td>
<span class='tooltip'
      title='Seleccione si no tiene'>
      <input type='checkbox'
       name='notiene'
       id='notiene'
       value='Si'>No Tiene Soplos Sistólicos
</span>
</td>

<!-- cerramos la fila -->
</tr><tr>

<!-- el tipo de soplos diastólicos -->
<td>
<span class='tooltip'
      title='Seleccione si presenta'>
       <input type='checkbox'
        name='aortico'
        id='aortico'
        value='Si'>Soplo Diastólico Aórtico
</span>
</td>

<!-- soplos diastólicos mitrales -->
<td>
<span class='tooltip'
      title='Seleccione si presenta'>
      <input type='checkbox'
       name='mitral'
       id='mitral'
       value='Si'>Soplo Diastólico Mitral
</span>
</td>

<!-- si no tiene -->
<td>
<span class='tooltip'
      title='Seleccione si no presenta'>
      <input type='checkbox'
       name='sindiastolico'
       id='sindiastolico'
       value='Si'>No Tiene Soplos Diastólicos
</span>
</td>

<!-- abrimos otra fila -->
</tr><tr>

<!-- si tiene hepatomegalia -->
<td>
<span class='tooltip'
      title='Marque si presenta hepatomegalia'>
<input type='checkbox'
       name='hepatomegalia'
       id='hepatomegalia'
       value='Si'>Hepatomegalia
</span>
</td>

<!-- si tiene esplenomegalia -->
<td>
<span class='tooltip'
      title='Marque si presenta esplenomegalia'>
<input type='checkbox'
       name='esplenomegalia'
       id='esplenomegalia'
       value='Si'>Esplenomegalia
</span>
</td>

<!-- si tiene ingurgitación yugular -->
<td>
<span class='tooltip'
      title='Indique si presenta ingurgitación yugular'>
<input type='checkbox'
       name='ingurgitacion'
       id='ingurgitacion'
       value='Si'>Ingurgitación Yugular
</span>
</td>

<!-- cerramos la fila y la tabla -->
</tr></table>

<!-- cerramos el fieldset de aparato cardiovascular -->
</fieldset>

<!-- define la tabla -->
<table width='98%' align='center' border='0'>
<tr>

<!-- pide las observaciones -->
<td align='left' rowspan='3'>
<fieldset>
<legend>Observaciones</legend>
<textarea name='observaciones_visita'
          id='observaciones_visita'
          rows='4' cols='80'>
</textarea>
</fieldset>
</td>

<!-- presenta el botón grabar -->
<td align='center'>
<input type='button'
       name='btnGrabaVisita'
       id='btnGrabaVisita'
       value='Grabar'
       title='Pulse para grabar el registro'
       class='boton_grabar'
       onClick='visitas.validaVisita()'>
</td>
</tr>

<!-- presenta el botón cancelar -->
<tr>
<td align='center'>
<input type='button'
       name='btnCancelaVisita'
       id='btnCancelaVisita'
       value='Cancelar'
       title='Pulse para cancelar los cambios'
       class='boton_cancelar'
       onClick='visitas.cancelaVisita()'>
</td>
</tr>

<!-- presenta el botón borrar -->
<tr>
<td align='center'>
<input type='button'
       name='btnBorraVisita'
       id='btnBorraVisita'
       value='Borrar'
       title='Elimina la visita de la base'
       class='boton_borrar'
       onClick='visitas.borraVisita()'>
</td>
</tr>

<!-- cierra la tabla -->
</table>

<!-- define la tabla de los botones -->
<table width='95%' align='center' border='0'>
<tr>

<!-- presenta el botón ver ecocardiograma -->
<td>
    <input type='button'
           name='btnEcocardiograma'
           value='Ecocardiograma'
           class='boton_grande'
           title='Pulse para ver el ecocardiograma'
           onClick='ecocardio.verEcocardio()'>
</td>

<!-- presenta el botón ver electrocardiograma -->
<td>
    <input type='button'
           name='btnElectro'
           value='Electro'
           class='boton_grande'
           title='Pulse para ver el electrocardiograma'
           onClick='electro.verElectro()'>
</td>

<!-- presenta el botón ver ergometría -->
<td>
    <input type='button'
           name='btnErgometria'
           value='Ergometria'
           class='boton_grande'
           title='Pulse para ver la ergometría'
           onClick='ergometria.verErgometria()'>
</td>

<!-- presenta el botón ver holter -->
<td>
    <input type='button'
           name='btnHolter'
           value='Holter'
           class='boton_grande'
           title='Pulse para ver el Holter'
           onClick=holter.verHolter()>
</td>

<!-- presenta el botón ver rx -->
<td>
    <input type='button'
           name='btnRx'
           value='Rx'
           class='boton_grande'
           title='Pulse para ver la Rx'
           onClick='rx.verRx()'>
</td>

<!-- cerramos la tabla -->
</tr></table>

<!-- cerramos el formulario -->
</form>

<script>

    // instanciamos los tooltips
    new jBox('Tooltip', {
        attach: '.tooltip',
        theme: 'TooltipBorder'
    });

    // setea las mascaras
    $("#ta_visita").mask("999/999");
    $("#peso_visita").mask("999.99");
    $("#talla_visita").mask("9.99");

    // configura el editor
    CKEDITOR.replace('observaciones_visita', {
            height: 65
    } );

    // fijamos los datepicker y configuramos el valor de retorno
    $('#fecha_visita').Zebra_DatePicker({
        days: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
        format: "d/m/Y",
        months: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Augosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
        view: 'years'
    });

    // si está asignada la visita
    if (visitas.IdVisita != 0){

       // cargamos el registro
       visitas.getDatosVisita();

    }

</script>