<!--

    Archivo: reporte.html
    Proyecto: Diagnóstico
    Autor: Claudio Invernizzi
    E-Mail: cinvernizzi@gmail.com
    Institución: INP - Dr. Mario Fatala Chaben
    Fecha: 18/03/2019
    Version: 1.0
    Licencia: GPL
    Comentarios: Procedimiento que arma la página con la solicitud
                 de las fechas del reporte

-->

<!-- presenta el título -->
<h3>Indique la fecha inicial y final del reporte</h3>

<!-- definimos el formulario -->
<form name='reporte_temperaturas' id='reporte_temperaturas'>

<!-- abrimos la tabla -->
<table width='90%' align='center' border='0'>

<!-- pide la fecha inicial -->
<tr>
<td>
<b>Fecha Inicial: </b>
</td>
<td align='center'>
<span class='tooltip'
      title='Seleccione la fecha lectura'>
<input type='text'
       name='fecha_inicio'
       id='fecha_inicio'
       size='12'
       class='datepicker'>
</span>
</td>
</tr>

<!-- pide la fecha final -->
<tr>
<td>
<b>Fecha Final: </b>
</td>
<td align='center'>
<span class='tooltip'
      title='Seleccione la fecha lectura'>
<input type='text'
       name='fecha_final'
       id='fecha_final'
       size='12'
       class='datepicker'>
</span>
</td>
</tr>

<!-- inserta un separador -->
<tr><td colspan='2'><br></td></tr>

<!-- presenta el botón cancelar -->
<tr>
<td align='center'>
<input type='button'
       name='btnCancelar'
       id='btnCancelar'
       title='Cancela el reporte'
       class='boton_cancelar'
       value='Cancelar'
       onClick='temperaturas.cancelaReporte()'>
</td>

<!-- presenta el botón aceptar -->
<td align='center'>
<input type='button'
        name='btnGenerar'
        id='btnGenerar'
        title='Genera el reporte'
        class='boton_imprimir'
        value='Generar'
        onClick='temperaturas.validaReporte()'>
</td>
</tr>

<!-- cierra la tabla -->
</table>

<!-- cierra el formulario -->
</form>

<script>

    // instanciamos los tooltips
    new jBox('Tooltip', {
        attach: '.tooltip',
        theme: 'TooltipBorder'
    });

    // fijamos los datepicker y configuramos el valor de retorno
    $('input.datepicker').Zebra_DatePicker({
        days: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
        format: "d/m/Y",
        months: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Augosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
        view: 'years'
    });

</script>