<!--

    Archivo: temperaturas.html
    Proyecto: Diagnóstico
    Autor: Claudio Invernizzi
    E-Mail: cinvernizzi@gmail.com
    Institución: INP - Dr. Mario Fatala Chaben
    Fecha: 10/05/2018
    Version: 1.0
    Licencia: GPL
    Comentarios: Procedimiento que arma la página para la carga de lecturas

-->

<!-- definimos el select -->
<p align='center'>
<label>Seleccione la Heladera / Freezer:
<span class='tooltip'
      title='Elija de la lista la Heladera que quiere cargar'>
<select name='lista_heladera'
        id='lista_heladera'
        size='1'
        onChange='temperaturas.grillaTemperaturas()'>
</select>
</span>
</label>
</p>

<!-- definimos el div de la grilla de temperaturas -->
<div id='grilla_lecturas'></div>

<script>

    // instanciamos los tooltips
    new jBox('Tooltip', {
      attach: '.tooltip',
      theme: 'TooltipBorder'
    });

    // cargamos la nómina de heladeras
    heladeras.nominaHeladeras("lista_heladera");

</script>