<!--

    Archivo: form_departamentos.html
    Proyecto: Diagnóstico
    Autor: Claudio Invernizzi
    E-Mail: cinvernizzi@gmail.com
    Institución: INP - Dr. Mario Fatala Chaben
    Fecha: 30/07/2019
    Version: 1.0
    Licencia: GPL
    Comentarios: Procedimiento que arma el formulario para el abm 
                 de departamentos

-->

<!-- define el formulario -->
<form name='form_departamentos' id='form_departamentos'>

<!-- define la tabla -->
<table width='60%' align='center' border='0'>

<!-- definimos los encabezados -->
<thead>
<tr>
<th align='left'>Departamento</th>
<th>Usuario</th>
<th>Alta</th>
<th></th>
</tr>

<!-- definimos la segunda fila del encabezado -->
<th align='left'>
<span class='tooltip'
      title='Nombre del departamento'>
<input type='text'
       name='nombre_departamento'
       id='nombre_departamento'
       size='20'>
</span>
</th>

<!-- presenta el usuario -->
<th>
<span class='tooltip'
      title='Usuario que ingresó el registro'>
<input type='text'
       name='usuario_departamento'
       id='usuario_departamento'
       size='10'
       readonly>
</span>
</th>

<!-- presenta la fecha de alta -->
<th>
<span class='tooltip'
      title='Fecha de alta del registro'>
<input type='text'
       name='alta_departamento'
       id='alta_departamento'
       size='8'
       readonly>
</span>
</th>

<!-- presenta el botón grabar -->
<th>
<input type='button'
       name='btnGrabaDepartamento'
       id='btnGrabaDepartamento'
       class='botongrabar'
       title='Graba el registro'
       onClick='departamentos.validaDepartamento()'>
</th>
</thead>

<!-- definimos el cuerpo que luego cargamos por javascript -->
<tbody id='cuerpo_departamentos'></tbody>

<!-- cerramos la tabla -->
</table>

<!-- cerramos el formulario -->
</form>

<script>

    // instanciamos los tooltips
    new jBox('Tooltip', {
      attach: '.tooltip',
      theme: 'TooltipBorder'
    });

    // fijamos el usuario y la fecha de alta
    document.getElementById("usuario_departamento").value = sessionStorage.getItem("Usuario");
    document.getElementById("alta_departamento").value = fechaActual();
    
    // cargamos los departamentos
    departamentos.cargaDepartamentos();

</script>