<!--

    Archivo: form_pedidos.html
    Proyecto: Diagnóstico
    Autor: Claudio Invernizzi
    E-Mail: cinvernizzi@gmail.com
    Institución: INP - Dr. Mario Fatala Chaben
    Fecha: 08/02/2019
    Version: 1.0
    Licencia: GPL
    Comentarios: Procedimiento que arma la grilla de pedidos de
                 materiales del usuario actual

-->

<!-- presentamos el título -->
<h2>Pedidos realizados</h2>

<!-- define la tabla -->
<table width='80%' align='center' border='0'>

<!-- define el encabezado -->
<thead>
    <tr>
        <th align='left'>Item</th>
        <th align='left'>Sop</th>
        <th>Cantidad</th>
        <th>Fecha</th>
        <th></th>
        <th></th>
    </tr>
</thead>

<!-- define el cuerpo -->
<tbody id='cuerpopedidos'>
</tbody>

<!-- presenta la fila de nuevo pedido
     como el pié de la tabla -->
<tfoot>
<tr>

<!-- pide la descripción -->
<td>
<span class='tooltip'
      title='Ingrese parte del nombre del artículo'>
<input type='text'
       id='item_nuevo'
       name='item_nuevo'
       size='45'>
</span>

<!-- presenta oculta la clave del nuevo item -->
<input type='hidden'
       name='id_nuevo'
       id='id_nuevo'>

<!-- cerramos la columna -->
</td>

<!-- presenta el texto del código sop -->
<td>
<span class='tooltip'
      title='Código SOP del artículo'>
<input type='text'
       name='sop_nuevo'
       id='sop_nuevo'
       size='15'
       readonly>
</span>
</td>

<!-- permite editar la cantidad -->
<td align='center'>
<span class='tooltip'
      title='Cantidad Solicitada'>
<input type='number'
       name='cantidad'
       id='cantidad_nuevo'
       class='numero'>
</span>
</td>

<!-- presenta la fecha -->
<td align='center'>
<span class='tooltip'
      title='Fecha de alta del registro'>
<input type='text'
       name='fecha_alta'
       id='alta_pedido'
       size='8'
       readonly>
</span>
</td>

<!-- presenta el botón editar -->
<td align='center'>
<input type='button'
       name='btnGrabaPedido'
       id='btnGrabaPedido'
       onClick='pedidos.verificaPedido()'
       title='Pulse para agregar un pedido'
       class='botonagregar'>
</td>

<!-- presenta la columna de borrar -->
<td></td>

<!-- cerramos la fila y el pie -->
</tr></tfoot>

<!-- cerramos la tabla -->
</table>

<script>

    // cargamos los pedidos del usuario actual
    pedidos.pedidosUsuario();

    // fijamos las opciones del autocomplete
    // las opciones del autocomplete del artículo
    var options = {
        url:"stock/articulos/lista_items.php",
        getValue: "Descripcion",
        list: {
                onChooseEvent: function() {
                    valor = $("#item_nuevo").getSelectedItemData().Id;
                        pedidos.selItem(valor);
                    },
                match: {enabled: true}
                },
        placeholder: "Escriba el item",
        theme: "round"
    };

    // inicializa el objeto autocomplete de directores
    $("#item_nuevo").easyAutocomplete(options);

    // fijamos la fecha de alta
    document.getElementById("alta_pedido").value = fechaActual();

    // instanciamos los tooltips
    new jBox('Tooltip', {
        attach: '.tooltip',
        theme: 'TooltipBorder'
    });

</script>