<!--

    Archivo: form_aprobar.html
    Proyecto: Diagnóstico
    Autor: Claudio Invernizzi
    E-Mail: cinvernizzi@gmail.com
    Institución: INP - Dr. Mario Fatala Chaben
    Fecha: 08/02/2019
    Version: 1.0
    Licencia: GPL
    Comentarios: Procedimiento que arma la grilla de pedidos de
                 materiales pendientes de entrega

-->

<!-- presentamos el título -->
<h2>Pedidos pendientes de aprobación</h2>

<!-- definimos la tabla -->
<table width='80%' align='center' border='0'>

<!-- define los encabezados -->
<thead>
<tr>
<th align='left'>Descripción</th>
<th>Sop</th>
<th align='left'>Usuario</th>
<th>Cantidad</th>
<th>Existencia</th>
<th>Fecha</th>
<th></th>
</tr>
</thead>

<!-- define el cuerpo de la tabla -->
<tbody id='cuerpopendientes'>

<!-- cerramos la tabla -->
</tbody>
</table> 

<script>

    // carga la grilla de pedidos pendientes
    pedidos.cargaPedidos();

    // instanciamos los tooltips
    new jBox('Tooltip', {
        attach: '.tooltip',
        theme: 'TooltipBorder'
    });

</script>
