<!--

    Nombre: form_ingreso.php
    Fecha: 15/12/2016
    Autor: Lic. Claudio Invernizzi
    E-Mail: cinvernizzi@gmail.com
    Licencia: GPL
    Producido en: INP - Dr. Mario Fatala Chaben
    Buenos Aires - Argentina
    Comentarios: procedimiento que arma el formulario de ingreso al sistema

-->

<!-- presentamos el título -->
<h2 align='center'>Ingreso al Sistema de Pacientes</h2>

<!-- definimos el formulario -->
<form name='form_ingreso'>

<!-- definimos la tabla -->
<table width='98%' align='center' border='0'>
    <tr>
        <td colspan='3'>
            Indique su nombre de usuario y contraseña
        </td>
    </tr>

    <!-- insertamos un separador -->
    <tr><td colspan='3'><br></td></tr>

    <!-- pedimos el usuario -->
    <tr>
        <td rowspan='2'>
            <img src='../imagenes/logo_fatala.jpg'
                    alt='INP'
                    width="90%"
                    height="90%">
        </td>
        <td><b>Usuario: </b></td>
        <td>
            <span class='tooltip'
                  title='Nombre de usuario en el sistema'>
            <input type='text' name='usuario'
                   id='usuario'
                   size='10'>
            </span>
        </td>
    </tr>

    <!-- pedimos la contraseña -->
    <tr>
        <td><b>Contraseña: </b></td>
        <td>
            <span class='tooltip'
                  title='Contraseña de ingreso al sistema'>
            <input type='password'
                   name='password'
                   id='password'
                   size='10'>
            </span>
        </td>
    </tr>

    <!-- insertamos un separador -->
    <tr><td colspan='3'><br></td></tr>

    <!-- mostramos el checkbox de mostrar password -->
    <tr>
        <td align='center' colspan='3'>
            <span class='tooltip'
                  title='Muestra el texto ingresado'>
            <label>Mostrar Contraseña
            <input type="checkbox"
                   onclick="seguridadUsuarios.muestraPassword();">
            </label>
            </span>
        </td>
    </tr>

    <!-- insertamos un separador -->
    <tr><td colspan='3'><br></td></tr>

    <!-- presentamos el enlace -->
    <tr>
        <td colspan='3' align='center'>
            <span class='tooltip'
                  title='Pulse para recuperar o generar su clave de ingreso'>
            <a href='#'
                onClick='seguridadUsuarios.recuperarPassword()'>
                Recuperar / Generar Usuario
            </a>
            </span>
        </td>
    </tr>

    <!-- insertamos un separador -->
    <tr><td colspan='3'><br></td></tr>

    <!-- presentamos el botón ingresar -->
    <tr>
        <td colspan='3' align='center'>
        <input type='button'
               name='btnIngresar'
               value='Ingresar'
               id='btnIngresar'
               title='Pulse para validar sus credenciales'
               onClick='seguridadUsuarios.validarIngreso();'
               class='boton_confirmar'>
        </td>
    </tr>

<!-- cerramos la tabla -->
</table>

<!-- cerramos el formulario -->
</form>
<SCRIPT>

    // instanciamos los tooltips
    new jBox('Tooltip', {
      attach: '.tooltip',
      theme: 'TooltipBorder'
    });

    // setea el foco
    document.form_ingreso.usuario.focus();

</SCRIPT>