<!--

    Nombre: form_password.php
    Fecha: 16/12/2016
    Autor: Lic. Claudio Invernizzi
    E-Mail: cinvernizzi@gmail.com
    Licencia: GPL
    Producido en: INP - Dr. Mario Fatala Chaben
    Buenos Aires - Argentina
    Comentarios: procedimiento que arma el formulario de cambio de password

-->

<!-- definimos el formulario -->
<form name='form_password'>

    <!-- definimos la tabla -->
    <table width='300' align='center' border='0'>

        <!-- pide la contraseña actual -->
        <tr>
            <td><b>Contraseña Actual:</b>
            <td>
                <span class='tooltip'
                      title='Contraseña Actual'>
                <input type='password'
                       name='passwordactual'
                       id='passwordactual'
                       size='10'>
                </span>
            </td>
        </tr>

        <!-- pide la nueva contraseña -->
        <tr>
            <td><b>Nueva Contraseña:</b>
            <td>
                <span class='tooltip'
                      title='Nueva Contraseña'>
                <input type='password'
                       name='passwordnuevo'
                       id='passwordnuevo'
                       size='10'>
                </span>
            </td>
        </tr>

        <!-- pide la verificación -->
        <tr>
            <td><b>Verificación:</b>
            <td>
                <span class='tooltip'
                      title='Repita la Nueva Contraseña'>
                <input type='password'
                       name='verificapassword'
                       id='verificapassword'
                       size='10'>
                </span>
            </td>
        </tr>

        <!-- inserta un separador -->
        <tr><td colspan='2'><br></td></tr>

        <!-- presenta el botón confirmar -->
        <tr>
            <td colspan='2' align='center'>
                <input type='button'
                       name='btnPassword'
                       id='btnPassword'
                       value='Aceptar'
                       title='Pulse para actualizar la contraseña'
                       onClick='seguridadUsuarios.validarPassword()'
                       class='boton_confirmar'>
            </td>
        </tr>

    </table>
</form>
<SCRIPT>

    // instanciamos los tooltips
    new jBox('Tooltip', {
      attach: '.tooltip',
      theme: 'TooltipBorder'
    });

    // setea el foco
    document.getElementById("passwordactual").focus();

</SCRIPT>