<!--

    Archivo: form_congenito.html
    Proyecto: Diagnóstico
    Autor: Claudio Invernizzi
    E-Mail: cinvernizzi@gmail.com
    Institución: INP - Dr. Mario Fatala Chaben
    Fecha: 12/01/2018
    Version: 1.0
    Licencia: GPL
    Comentarios: Procedimiento que arma el formulario de chagas congenito

-->

<!-- definimos el formulario -->
<form id='chagas_congenito' name='chagas_congenito'>

<!-- presenta oculta la clave del registro -->
<input type='hidden' name='id_congenito' id='id_congenito'>

<!-- presenta ocula la clave de la madre -->
<input type='hidden' name='id_madre_congenito' id='id_madre_congenito'>

<!-- definimos la tabla -->
<table width='900px' align='center' border='0'>

<!-- abre la primer fila -->
<tr>

<!-- presenta la id del sivila -->
<td>
<label>Sivila:
<span class='tooltip'
      title='Clave del SIVILA'>
<input type='text'
       name='id_sivila_congenito'
       id='id_sivila_congenito'
       size='8'>
</span>
</label>
</td>

<!-- presenta el combo de reportado -->
<td>
<label>Reportado:
<span class='tooltip'
      title='Indique la fecha en que fue reportado al SIVILA'>
<input type='text'
       name='reportado_congenito'
       id='reportado_congenito'
       size='8'
       class='datepicker'>
</span>
</label>
</td>

<!-- presenta el combo con el tipo de parto -->
<td>
<label>Parto:
<span class='tooltip'
      title='Indique el tipo de parto'>
<select name='parto_congenito'
        id='parto_congenito'
        size='1'>

<!-- agregamos las opciones -->
<option></option>
<option>Normal</option>
<option>Cesárea</option>

<!-- cerramos los tags -->
</select>
</span>
</label>
</td>

<!-- pide el peso en gramos -->
<td>
<label>Peso:
<span class='tooltip'
      title='Peso en gramos al nacer'>
<input type='number'
       name='peso_congenito'
       id='peso_congenito'
       class='numerogrande'>
</span>
</label>
</td>

<!-- cerramos la fila y abrimos una nueva -->
</tr>
<tr>

<!-- solicita si fue prematuro -->
<td>
<label>Prematuro:
<span class='tooltip'
      title='Indique si fue prematuro'>
<select name='prematuro_congenito'
        id='prematuro_congenito'
        size='1'>

<!-- carga las opciones -->
<option></option>
<option>Si</option>
<option>No</option>
<option>No Sabe</option>

<!-- cerramos los tags -->
</select>
</span>
</label>
</td>

<!-- presenta oculta la clave de la institución -->
<td>
<input type='hidden'
       name='id_institucion_congenito'
       id='id_institucion_congenito'>

<!-- presenta el nombre de la institución -->
<label>Institución:
<span class='tooltip'
      title='Ingrese parte del nombre y <br>
             pulse Buscar'>
<input type='text'
       name='institucion_congenito'
       id='institucion_congenito'
       size='20'>
</span>
</label>

<!-- inserta un separador -->
&nbsp;&nbsp;

<!-- presenta el botón buscar institución -->
<input type='button'
       name='btnBuscaInstitucionCongenito'
       id='btnBuscaInstitucionCongenito'
       class='botonbuscar'>

<!-- cerramos la columna -->
</td>

<!-- presenta el nombre del usuario -->
<td>
<label>Usuario:
<span class='tooltip'
      title='Usuario que ingresó el registro'>
<input type='text'
       name='usuario_congenito'
       id='usuario_congenito'
       size='8'
       readonly>
</span>
</label>
</td>

<!-- presenta la fecha de alta -->
<td>
<label>Alta:
<span class='tooltip'
      title='Fecha de alta del registro'>
<input type='text'
       name='alta_congenito'
       id='alta_congenito'
       size='8'
       readonly>
</span>
</label>
</td>

<!-- cierra la fila y abre una nueva -->
</tr>
<tr>

<!-- pide los comentarios -->
<td colspan='3' rowspan='3'>
<fieldset>
<legend>Observaciones y Comentarios </legend>
<textarea name='observaciones_congenito'
            id='observaciones_congenito'
            rows='3' cols='80'>
</textarea>
</fieldset>
</td>

<!-- presenta el botón grabar -->
<td>
<span class='tooltip'
      title='Pulse para grabar el registro'>
<input type='button'
       name='btnGrabaCongenito'
       id='btnGrabaCongenito'
       value='Grabar'
       class='boton_grabar'>
</span>
</td>
</tr>

<!-- presenta el botón ver madre -->
<tr>
<td>
<span class='tooltip'
      title='Ver el registro de la madre'>
<input type='button'
       name='btnVerMadre'
       id='btnVerMadre'
       value='Madre'
       class='boton_chico'
       style='background:url("../imagenes/nurse.png") no-repeat;'>
</span>
</td>
</tr>

<!-- presenta el botón cancelar -->
<tr>
<td>
<span class='tooltip'
      title='Reinicia el formulario sin grabar'>
<input type='button'
       name='btnCancelarCongenito'
       id='btnCancelarCongenito'
       class='boton_cancelar'
       value='Cancelar'>
</span>
</td>

<!-- cierra la última fila -->
</tr>

<!-- cerramos la tabla -->
</table>

<!-- cerramos el formulario -->
</form>

<script>

    // instanciamos los tooltips
    new jBox('Tooltip', {
        attach: '.tooltip',
        theme: 'TooltipBorder'
    });

    // fijamos los datepicker y configuramos el valor de retorno
    $('input.datepicker').Zebra_DatePicker({
        days: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
        format: "d/m/Y",
        months: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Augosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre']
    });

    // configura el editor
    CKEDITOR.replace('observaciones_congenito', {
            height: 100
    } );

    // por defecto carga el usuario y la fecha actual
    document.getElementById("usuario_congenito").value = sessionStorage.getItem("Usuario");
    document.getElementById("alta_congenito").value = fechaActual();

</script>