<!--

    Archivo: form_electro.html
    Proyecto: Diagnóstico
    Autor: Claudio Invernizzi
    E-Mail: cinvernizzi@gmail.com
    Institución: INP - Dr. Mario Fatala Chaben
    Fecha: 11/06/2019
    Version: 1.0
    Licencia: GPL
    Comentarios: Procedimiento que arma el formulario de electrocardiogramas

-->

<!-- definimos el formulario -->
<form name='form_electro' id='form_electro'>

<!-- define la tabla -->
<table width='95%' align='center' border='0'>
<tr>

<!-- pide la fecha -->
<td>
<label>Fecha:
<span class='tooltip'
      title='Seleccione la fecha del estudio'>
<input type='text'
       name='fecha_electro'
       id='fecha_electro'
       size='12'
       class='datepicker'>
</span>
</label>
</td>

<!-- presenta el check de normal -->
<td>
<span class='tooltip'
      title='Marque si el electrocardiograma es normal'>
<input type='checkbox'
       name='electro_normal'
       id='electro_normal'
       value='Si'>Normal
</span>
</td>

<!-- presenta el check de bradicardia sinusal -->
<td>
<span class='tooltip'
      title='Marque si presenta bradicardia sinusal'>
<input type='checkbox'
       name='electro_bradicardia'
       id='electro_bradicardia'
       value='Si'>Bradicardia Sinusal
</span>
</td>

<!-- pide la frecuencia -->
<td>
<label>FC:
<span class='tooltip'
      title='Ingrese la frecuencia cardíaca'>
<input type='number'
       name='frecuenciaelectro'
       id='frecuenciaelectro'
       class='numero'>
</span>
</label>
</td>

<!-- presenta el combo con el tipo de arritmia -->
<td>
<label>Arritmia:
<span class='tooltip'
      title='Seleccione el tipo de arritmia'>
<select name='arritmiaelectro'
        id='arritmiaelectro'
        size='1'>

<!-- agregamos los elementos -->
<option></option>
<option>FA</option>
<option>EVF</option>
<option>Pares</option>
<option>TV</option>
<option>No Tiene</option>

<!-- cerramos los tags -->
</select>
</span>
</label>
</td>

<!-- cerramos la fila y la tabla -->
</tr></table>

<!-- insertamos un separador -->
<br>

<!-- el item transtornos de la conducción -->
<fieldset>
<legend>Transtornos de la conducción</legend>

<!-- abrimos la tabla de transtornos de la conducción -->
<table width='95%' align='center' border='0'>
<tr>

<!-- pide el qrs -->
<td>
<label>QRS:</label>
<span class='tooltip'
      title='Indique el QRS'>
<input type='number'
       name='qrs'
       id='qrs'
       class='numero'
       step='0.01'>
</span>
</td>

<!-- pide el eje qrs -->
<td>
<label>Eje QRS:
<span class='tooltip'
      title='Ingrese el eje QRS en grados'>
<input type='number'
       name='ejeqrs'
       id='ejeqrs'
       class='numero'>
</span>
</label>
</td>

<!-- pide el pr -->
<td>
<label>PR:
<span class='tooltip'
        title='Indique el PR en segundos'>
<input type='number'
        name='pr'
        id='pr'
        class='numero'>
</span>
</label>
</td>

<!-- el check de brd -->
<td>
<span class='tooltip'
      title='Marque si corresponde'>
<input type='checkbox'
       name='brd'
       id='brd'
       value='Si'>BRD de BG
</span>
</td>

<!-- el check de brd moderado -->
<td>
<span class='tooltip'
      title='Marque si corresponde'>
<input type='checkbox'
       name='brdmoderado'
       id='brdmoderado'
       value='Si'>BRD Moderado
</span>
</td>

<!-- cerramos la fila y abrimos una nueva -->
</tr><tr>

<!-- el bcrd -->
<td>
<span class='tooltip'
      title='Marque si corresponde'>
<input type='checkbox'
       name='bcrd'
       id='bcrd'
       value='Si'>BCRD
</span>
</td>

<!-- tendencia a hbai -->
<td>
<span class='tooltip'
      title='Marque si corresponde'>
<input type='checkbox'
       name='tendenciahbai'
       id='tendenciahbai'
       value='Si'>Tendencia al HBAI
</span>
</td>

<!-- pide el hbai -->
<td>
<span class='tooltip'
      title='Marque si corresponde'>
<input type='checkbox'
       name='hbai'
       id='hbai'
       value='Si'>HBAI
</span>
</td>

<!-- pide el tciv -->
<td>
<span class='tooltip'
      title='Marque si corresponde'>
<input type='checkbox'
       name='tciv'
       id='tciv'
       value='Si'>TCIV
</span>
</td>

<!-- pide el bcri -->
<td>
<span class='tooltip'
      title='Marque si corresponde'>
<input type='checkbox'
       name='bcri'
       id='bcri'
       value='Si'>BCRI
</span>
</td>

<!-- cerramos la fila y abrimos una nueva -->
</tr><tr>

<!-- bav1g -->
<td>
<span class='tooltip'
      title='Marque si corresponde'>
<input type='checkbox'
       name='bav1g'
       id='bav1g'
       value='Si'>BAV 1°G
</span>
</td>

<!-- bav2g -->
<td>
<span class='tooltip'
      title='Marque si corresponde'>
<input type='checkbox'
       name='bav2g'
       id='bav2g'
       value='Si'>BAV 2°G
</span>
</td>

<!-- bav3g -->
<td>
<span class='tooltip'
      title='Marque si corresponde'>
<input type='checkbox'
       name='bav3g'
       id='bav3g'
       value='Si'>BAV 3°G
</span>
</td>

<!-- el no tiene -->
<td>
<span class='tooltip'
      title='Marque si no tiene transtornos'>
<input type='checkbox'
       name='sintranstornos'
       id='sintranstornos'
       value='Si'>No Tiene
</span>
</td>

<!-- dejamos una celda en blanco -->
<td></td>

<!-- cerramos la tabla de transtornos de la conducción -->
</tr></table>

<!-- cerramos el fieldset -->
</fieldset>

<!-- insertamos un separador -->
<br>

<!-- abrimos la nueva tabla -->
<table width='95%' align='center' border='0'>
<tr>

<!-- pide si presenta fibrosis -->
<td>
<span class='tooltip'
      title='Marque si presenta fibrosis'>
<input type='checkbox'
       name='fibrosis'
       id='fibrosis'
       value='Si'>Fibrosis
</span>
</td>

<!-- si tiene aumento ai -->
<td>
<span class='tooltip'
      title='Marque si presenta aumento AI'>
<input type='checkbox'
       name='aumentoai'
       id='aumentoai'
       value='Si'>Aumento AI
</span>
</td>

<!-- si tiene wpw -->
<td>
<span class='tooltip'
      title='Marque si corresponde'>
<input type='checkbox'
       name='wpw'
       id='wpw'
       value='Si'>WPW
</span>
</td>

<!-- si tiene hvi -->
<td>
<span class='tooltip'
      title='Marque si corresponde'>
<input type='checkbox'
       name='hvi'
       id='hvi'
       value='Si'>HVI
</span>
</td>

<!-- si no tiene -->
<td>
<span class='tooltip'
      title='Marque si no presenta otros transtornos'>
<input type='checkbox'
       name='sinotros'
       id='sinotros'
       value='Si'>No Tiene
</span>
</td>

<!-- cerramos la fila y abrimos una nueva -->
</tr><tr>

<!-- el combo de transtornos de repolarización -->
<td colspan='2'>
<label>Transtornos de Repolarización:
<span class='tooltip'
      title='Seleccione el transtorno correspondiente'>
<select name='repolarizacion'
        id='repolarizacion'
        size='1'>

<!-- agregamos las opciones -->
<option></option>
<option>Transt. Labil</option>
<option>Transt. Isquemico</option>
<option>Difusos Primarios</option>
<option>No Tiene</option>

<!-- cerramos los tags -->
</select>
</span>
</label>
</td>

<!-- dejamos las celdas en blanco -->
<td colspan='3'></td>

<!-- cerramos la fila e insertamos un separador -->
</tr><tr><td colspan='5'><br></td></tr><tr>

<!-- presenta la fecha de alta -->
<td>
<label>Fecha:
<span class='tooltip'
      title="Fecha de alta del registro">
<input type='text'
       name='altaelectro'
       id='altaelectro'
       size='10'
       readonly>
</span>
</label>
</td>

<!-- presenta el usuario -->
<td>
<label>Usuario:
<span class='tooltip'
      title='Usuario que ingresó el registro'>
<input type='text'
       name='usuarioelectro'
       id='usuarioelectro'
       size='10'
       readonly>
</span>
</label>
</td>

<!-- el botón grabar -->
<td>
<input type='button'
       name='btnGrabaElectro'
       id='btnGrabaElectro'
       value='Grabar'
       class='boton_grabar'
       title='Pulse para grabar el registro'
       onClick='electro.validaElectro()'>
</td>

<!-- el botón cancelar -->
<td>
<input type='button'
       name='btnCancelaElectro'
       id='btnCancelaElectro'
       value='Cancelar'
       class='boton_cancelar'
       title='Pulse para cancelar los cambios'
       onClick='electro.cancelaElecto()'>
</td>

<!-- presenta el botón borrar -->
<td>
<input type='button'
       name='btnBorraElectro'
       id='btnBorraElectro'
       value='Borrar'
       class='boton_borrar'
       title='Pulse para eliminar el registro'
       onClick='electro.borraElectro()'>
</td>

<!-- cerramos la tabla -->
</tr></table>

<!-- cerramos el formulario -->
</form>

<script>

    // instanciamos los tooltips
    new jBox('Tooltip', {
        attach: '.tooltip',
        theme: 'TooltipBorder'
    });

    // fijamos los datepicker y configuramos el valor de retorno
    $('#fecha_electro').Zebra_DatePicker({
        days: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
        format: "d/m/Y",
        months: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Augosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
        view: 'years'
    });

    // fijamos la fecha de alta y el usuario
    document.getElementById("usuarioelectro").value = sessionStorage.getItem("Usuario");
    document.getElementById("altaelectro").value = fechaActual();

    // cargamos el registro
    electro.getDatosElectro();

</script>