<!--

    Archivo: form_items.html
    Proyecto: Diagnóstico
    Autor: Claudio Invernizzi
    E-Mail: cinvernizzi@gmail.com
    Institución: INP - Dr. Mario Fatala Chaben
    Fecha: 16/12/2017
    Version: 1.0
    Licencia: GPL
    Comentarios: Procedimiento que arma el formulario de carga de items

-->

<!-- definimos el formulario -->
<form name='formulario_items' id='formulario_items'>

      <!-- la clave del item -->
      <input type='hidden' name='id_item' id='id_item'>

      <!-- presenta el botón explorar archivo de la imagen
      del item que ahora nos permite aclarar que solo se
      subirán imágenes-->
      <input type='file'
             name='archivo_item'
             id='archivo_item'
             accept='image/*'
             onChange='items.subirImagen()'>


      <!-- abrimos la tabla -->
      <table width='95%' align='center' border='0'>

      <!-- abrimos la fila -->
      <tr>

            <!-- la descripción -->
            <td>
            <label>Descripcion:
            <span class='tooltip'
                  title='Descripción del Item'>
            <input type='text'
                   id='descripcion_item'
                   name='descripcion_item'
                   size='40'>
            </span>
            </label>
            </td>

            <!-- el valor unitario -->
            <td>
            <label>Valor:
            <span class='tooltip'
                  title='Costo unitario del item'>
            <input type='number'
                   id='valor_item'
                   name='valor_item'
                   class='numerogrande'>
            </span>
            </label>
            </td>

            <!-- el número crítico -->
            <td>
            <label>Crítico:
            <span class='tooltip'
                  title='Cantidad crítica del depósito'>
            <input type='number'
                   id='critico_item'
                   name='critico_item'
                   class='numero'>
            </span>
            </label>
            </td>

            <!-- el código sop del item -->
            <td>
                  <label>Código Sop:
                        <span class='tooltip'
                              title='El código Sop del presupuesto de la APN'>
                        <input type='text'
                               name='sopitem'
                               id='sopitem'
                               size='10'>
                        </span>
                  </label>
            </td>

            <!-- la imagen del item -->
            <td rowspan=2 align='center'>
                  <span class='tooltip'
                        title='Imagen del item'>
                  <img src='../../imagenes/imagen_no_disponible.gif'
                       onClick='items.cargaImagen()'
                       id='imagen_item'
                       name='imagen_item'
                       width='100px'
                       height='100px'
                       border='0'>
                  </span>
            </td>

      <!-- cerramos la fila -->
      </tr>

      <!-- abrimos la segunda fila -->
      <tr>

            <!-- la fecha de alta -->
            <td>
                  <label>Fecha Alta:
                  <span class='tooltip'
                        title='Fecha de alta'>
                  <input type='text'
                         name='alta_item'
                         id='alta_item'
                         size='8'
                         readonly>
                  </span>
                  </label>
            </td>

            <!-- el usuario -->
            <td>
                  <label>Usuario:
                  <span class='tooltip'
                        title='Usuario que ingresó el item'>
                  <input type='text'
                         name='usuario_item'
                         id='usuario_item'
                         size='10'
                         readonly>
                  </span>
                  </label>
            </td>

            <!-- el botón aceptar -->
            <td>
            <input type='button'
                   name='btnGrabaItem'
                   id='btnGrabaItem'
                   value='Grabar'
                   class='boton_grabar'
                   title='Pulse para grabar el registro'
                   onClick='items.verificaItem()'>
            </td>

            <!-- el botón cancelar -->
            <td>
            <input type='button'
                   id='btnCancelaItem'
                   name='btnCancelaItem'
                   value='Cancelar'
                   class='boton_cancelar'
                   title='Cancela el registro'
                   onClick='items.cancelaItem()'>
            </td>

      <!-- cerramos la fila -->
      </tr>

      <!-- cerramos la tabla y el formulario -->
      </table>

<!-- cerramos el formulario -->
</form>

<script>

    // ocultamos el browser de archivos
    $("#archivo_item").hide();

    // fijamos la fecha de alta y el usuario
    document.getElementById("alta_item").value = fechaActual();
    document.getElementById("usuario_item").value = sessionStorage.getItem("Usuario");

    // instanciamos los tooltips
    new jBox('Tooltip', {
      attach: '.tooltip',
      theme: 'TooltipBorder'
    });

    // fijamos el foco
    document.getElementById("descripcion_item").focus();

</script>