<!--

    Archivo: grilla_items.html
    Proyecto: Diagnóstico
    Autor: Claudio Invernizzi
    E-Mail: cinvernizzi@gmail.com
    Institución: INP - Dr. Mario Fatala Chaben
    Fecha: 05/02/2019
    Version: 1.0
    Licencia: GPL
    Comentarios: Procedimiento que arma el div con la grilla de grilla de
                 items, los elementos los carga luego por javascript

-->

<!-- definimos la tabla -->
<table style="width:80%;" class="display" id='nominaitems'>

<!-- definimos los encabezados -->
<thead>
    <tr>
        <th align='left'>Descripcion</th>
        <th align='left'>Valor</th>
        <th align='left'>Critico</th>
        <th align='left'>Usuario</th>
        <th></th>
</tr>
</thead>

<!--cerramos la tabla -->
</table>

<script>

    // instanciamos la tabla aquí con sus propiedades y
    // luego la tenemos disponible en la clase javascript
    $('#nominaitems').DataTable({
            responsive: true,
            "language":{
                "url": "script/dataTables.spanish.lang"
        }});

    // llamamos el método que completa la grilla
    items.nominaItems();

</script>