<!--

    Archivo: form_laboratorios.php
    Autor: Claudio Invernizzi
    Fecha: 10-12-2016
    E-Mail: cinvernizzi@gmail.com
    Proyecto: CCE
    Licencia: GPL
    Comentarios: Procedimiento que arma el formulario de laboratorios

-->

<!-- definimos el formulario -->
<form name='form_laboratorios' id='form_laboratorios'>

<!-- presenta oculta la clave -->
<input type='hidden' name='idlaboratorio' id='idlaboratorio'>

<!-- presentamos oculto el campo coordenadas -->
<input type='hidden'
       name='coordenadaslaboratorio'
       id='coordenadaslaboratorio'>

<!-- presenta el botón explorar archivo del logo
      que ahora nos permite aclarar que solo se
      subirán imágenes-->
      <input type='file'
      name='archivo_logo'
      id='archivo_logo'
      accept='image/*'
      onChange='laboratorios.subirLogo()'>

<!-- abrimos la tabla -->
<table width='95%' align='center' border='0'>

<!-- pide el nombre del laboratorio -->
<tr>
<td colspan='5'>
<label>Laboratorio:
<span class='tooltip'
       title='Nombre completo del laboratorio'>
<input type='text'
       name='nombrelaboratorio'
       id='nombrelaboratorio'
       size='60'
       onblur='document.form_laboratorios.nombrelaboratorio.value = document.form_laboratorios.nombrelaboratorio.value.toUpperCase()'
       required>
</span>
</label>
</td>

<!-- presentamos el combo de la dependencia -->
<td>
<label>Dependencia:
<span class='tooltip'
      title='Seleccione de la lista la<br>
                  dependencia del laboratorio'>
<select name='dependencia'
            id='dependencia'
            size='1'>

<!-- la nómina de dependencias las carga por javascript -->

<!-- cerramos los tags -->
</select>
</span>
</label>
</td>
</tr>

<!-- pedimos el responsable del laboratorio -->
<tr>
<td colspan='5'>
<label>Responsable:
<span class='tooltip'
       title='Nombre completo del Responsable del Laboratorio'>
<input type='text' name='responsablelaboratorio'
       id='responsablelaboratorio'
       size='60'
       onblur='document.form_laboratorios.responsablelaboratorio.value = document.form_laboratorios.responsablelaboratorio.value.toUpperCase()'
       required>
</span>
</label>
</td>

<!-- pedimos el mail -->
<td>
<label>E-Mail:
<span class='tooltip'
      title='Correo electrónico del laboratorio'>
<input type='text' name='maillaboratorio'
            id='maillaboratorio'
            onblur='document.form_laboratorios.maillaboratorio.value = document.form_laboratorios.maillaboratorio.value.toLowerCase()'
            size='30'
            required>
</span>
</label>
</td>
</tr>

<!-- pedimos la dirección -->
<tr>
<td colspan='4'>
<label>Dirección:
<span class='tooltip'
      title='Indique la dirección completa del laboratorio'>
<input type='text' name='direccionlaboratorio'
            id='direccionlaboratorio'
            size='60'
            onblur='document.form_laboratorios.direccionlaboratorio.value = document.form_laboratorios.direccionlaboratorio.value.toUpperCase()'
            required>
</span>
</label>
</td>

<!-- pedimos el código postal -->
<td>
<label>Código Postal:
<span class='tooltip'
      title='Ingrese el Código Postal del Laboratorio'>
<input type='text' name='codigopostallaboratorio'
            id='codigopostallaboratorio'
            size='8'
            onblur='document.form_laboratorios.codigopostallaboratorio.value = document.form_laboratorios.codigopostallaboratorio.value.toUpperCase()'
            required>
</span>
</label>
</td>

<!-- confirma si está activo -->
<td>
<label>Activo
<span class='tooltip'
      title='Al marcar, indica que el laboratorio participa<br>
                  de los Operativos de Control de Calidad'>
<input type='checkbox'
            name='activolaboratorio'
            value='Si'
            id='activolaboratorio'>
</span>
</label>
</td>
</tr>

<!-- presentamos la nómina de países -->
<tr>
<td colspan='2'>
<label>País:
<span class='tooltip'
      title='Seleccione de la lista el País donde<br>
             se encuentra el laboratorio'>
<select name='paislaboratorio'
        id='paislaboratorio'
        size='1'
        onChange='laboratorios.cargaProvincias()'>

<!-- la nómina de países la carga por javascript -->

<!-- cerramos los tags -->
</select>
</span>
</label>
</td>

<!-- presentamos el select del provincia -->
<td colspan = '2'>
<label>Jurisdicción:
<span class='tooltip'
      title='Seleccione de la lista la <br>
             Jurisdicción donde se encuentra'>
<select name='jurisdiccionlaboratorio'
        id='jurisdiccionlaboratorio'
        size='1'
        onChange='laboratorios.cargaLocalidades()'>

<!-- la nómina la carga por javascript -->

<!-- cerramos los tags -->
</select>
</span>
</label>
</td>

<!-- agregamos el combo de localidades -->
<td colspan='2'>
<label>Localidad:
<span class='tooltip'
      title='Seleccione de la lista la localidad<br>
             donde se encuentra el laboratorio'>
<select name='localidadlaboratorio'
        id='localidadlaboratorio'
        style='width:190px'
        onblur="laboratorios.cargaResponsables()"
        size='1'>

<!-- la nómina la cargamos por javascript -->

<!-- cerramos los tags -->
</select>
</span>
</label>
</td>
</tr>

<!-- confirma si recibe muestras directamente -->
<tr>
<td>
<label>Recibe Muestras
<span class='tooltip'
      title='Al marcar, indica que el laboratorio recibe las<br>
             muestras directamente desde el Nivel Central'>
<input type='checkbox'
       name='recibemuestras'
       value='Si'
       id='recibemuestras'>
</span>
</label>
</td>

<!-- presenta el combo de los responsables jurisdiccionales -->
<td colspan='5'>
<label>Responsable Muestras:
<span class='tooltip'
      title='Si recibe muestras a través de un responsable<br>
             seleccione el mismo de la lista'>
<select name='responsablemuestras'
        id='responsablemuestras'
        size='1'>

<!-- el combo lo cargamos por javascript -->

<!-- cerramos los tags -->
</select>
</span>
</label>
</td>
</tr>

<!-- presentamos la fecha de alta -->
<tr>
<td>
<label>Fecha de Alta:
<span class='tooltip'
      title='Fecha de alta del registro (solo lectura)'>
<input type='text'
       name='fechaalta'
       id='fechaalta'
       size='8'>
</span>
</label>
</td>

<!-- presentamos el usuario -->
<td>
<label>Usuario:
<span class='tooltip'
      title='Usuario que ingresó el registro'>
<input type='text'
       name='usuariolaboratorio'
       id='usuariolaboratorio'
       size='8'>
</span>
</label>
</td>

<!-- presentamos el botón grabar -->
<td align='center'>
<input type='button'
       value='Grabar'
       id='btnGrabaLaboratorio'
       name='btnGrabaLaboratorio'
       class='boton_grabar'
       title='Graba el registro en la base de datos'
       onClick='laboratorios.verificaLaboratorio()'>
</td>

<!-- presentamos el botón cancelar -->
<td align='center'>
<input type='button'
       value='Cancelar'
       id='btnCancelaLaboratorio'
       name='btnCancelaLaboratorio'
       class='boton_cancelar'
       title='Cancela las modificaciones y reinicia el formulario'
       onClick='laboratorios.cancelaLaboratorio()'>
</td>

<!-- presentamos el botón mapa -->
<td align='left'>
<span class='tooltip'
      title='Pulse para ver un mapa de la zona'>
<input type='button'
       value='Mapa'
       id='btnMapaLaboratorio'
       name='btnMapaLaboratorio'
       class='boton_mapa'
       onClick='mapaLaboratorio()'>
</span>
</td>

<!-- dejamos una columna en blanco y cerramos la fila -->
<td></td>
</tr>

<!-- presentamos el editor de observaciones -->
<tr>
<td colspan='5'>
<fieldset>
<legend>Observaciones y Comentarios </legend>
<textarea name='observacioneslaboratorio'
          id='observacioneslaboratorio'
          rows='3' cols='80'>
</textarea>
</fieldset>
</td>

<!-- presenta el logo del laboratorio -->
<td align='center'>
<fieldset>
<legend>Logo Laboratorio</legend>
<span class='tooltip'
      title='Logo del laboratorio para los reportes'>
<img src='../imagenes/imagen_no_disponible.gif'
      onClick='document.form_laboratorios.archivo_logo.click()'
      id='logo_laboratorio'
      name='logo_laboratorio'
      width='200px'
      height='200px'
      border='0'>
</span>
</fieldset>
</td>

</tr>

<!-- cerramos la tabla -->
</table>

<!-- cerramos el formulario -->
</form>

<SCRIPT>

    // ocultamos el broser de archivos
    $("#archivo_logo").hide();

    // instanciamos los tooltips
    new jBox('Tooltip', {
      attach: '.tooltip',
      theme: 'TooltipBorder'
    });

    // configura el editor
    CKEDITOR.replace('observacioneslaboratorio', {
            height: 100
        } );

    // cargamos el select de dependencias
    laboratorios.cargaDependencias();

    // cargamos el select de países
    laboratorios.cargaPaises();

    // setea el foco
    document.getElementById("nombrelaboratorio").focus();

</SCRIPT>
