<!--

    Archivo: form_entrevistas.html
    Proyecto: Diagnóstico
    Autor: Claudio Invernizzi
    E-Mail: cinvernizzi@gmail.com
    Institución: INP - Dr. Mario Fatala Chaben
    Fecha: 12/01/2018
    Version: 1.0
    Licencia: GPL
    Comentarios: Procedimiento que arma el formulario de entrevistas

-->

<!-- definimos un formulario html con los datos de la entrevista
     y luego en un div mediante php cargamos la grilla con las
     entrevistas realizadas -->

<!-- definimos el formulario -->
<form name='entrevistas_paciente' id='entrevistas_paciente'>

<!-- presenta ocula la clave de la entrevista -->
<input type='hidden' name='id_entrevista' id='id_entrevista'>

<!-- la clave del protocolo la tomamos del formulario padre
     y la clave del laboratorio de las variables de sesión -->

<!-- abrimos la tabla -->
<table width='900px' align='center' border='0'>

<!-- abrimos la primer fila -->
<tr>

<!-- presenta el resultado de la entrevista -->
<td>
<label>Resultado:
<span class='tooltip'
      title='Indique el resultado de la entrevista'>
<select name='resultado_entrevista'
        id='resultado_entrevista'
        size='1'>

<!-- agregamos las opciones -->
<option></option>
<option>Positivo</option>
<option>Negativo</option>
<option>Otro</option>

<!-- cerramos los tags -->
</select>
</span>
</label>
</td>

<!-- pide la actitud durante la entrevista -->
<td>
<label>Actitud:
<span class='tooltip'
      title='Actitud del entrevistado'>
<select name='actitud_entrevista'
        id='actitud_entrevista'
        size='1'>

<!-- agregamos las opciones -->
<option></option>
<option>Positiva</option>
<option>Negativa</option>
<option>Indiferente</option>

<!-- cerramos los tags -->
</select>
</span>
</label>
</td>

<!-- indica si concurrió -->
<td>
<label>Concurrió:
<span class='tooltip'
      title='Indique si concurrió a la entrevista'>
<select name='concurrio_entrevista'
        id='concurrio_entrevista'
        size='1'>

<!-- agregamos las opciones -->
<option></option>
<option>Si</option>
<option>No</option>

<!-- cerramos los tags -->
</select>
</span>
</label>
</td>

<!-- pide el tipo de entrevista -->
<td>
<label>Tipo: </label>
<span class='tooltip'
        title='Indique la modalidad de la entrevista'>
<select name='tipo_entrevista'
        id='tipo_entrevista'
        size='1'>

<!-- agregamos las opciones -->
<option></option>
<option>Presencial</option>
<option>Telefonica</option>

<!-- cerramos los tags -->
</select>
</span>
</td>

<!-- cerramos la primer fila y abrimos otra -->
</tr>
<tr>

<!-- pide la fecha de la entrevista -->
<td>
<label>Fecha Entrevista:
<span class='tooltip'
      title='Indique la fecha de la entrevista'>
<input type='text'
       name='fecha_entrevista'
       id='fecha_entrevista'
       size='12'
       class='datepicker'>
</span>
</label>
</td>

<!-- presenta el nombre del entrevistador -->
<td>
<label>Entrevistador:
<span class='tooltip'
      title='Usuario que realizó la entrevista'>
<input type='text'
       name='usuario_entrevista'
       id='usuario_entrevista'
       size='8'
       readonly>
</span>
</label>
</td>

<!-- presenta el botón grabar -->
<td>
<span class='tooltip'
      title='Graba la entrevista en la base'>
<input type='button'
       name='btnGrabaEntrevista'
       id='btnGrabaEntrevista'
       value='Grabar'
       class='boton_grabar'
       onClick='entrevistas.verificaEntrevista()'>
</span>
</td>

<!-- presenta el botón cancelar -->
<td>
<span class='tooltip'
      title='Cancela sin grabar nada'>
<input type='button'
       name='btnCancelaEntrevista'
       id='btnCancelaEntrevista'
       value='Cancelar'
       class='boton_cancelar'
       onClick='entrevistas.cancelaEntrevista()'>
</span>
</td>

<!-- cerramos la segunda fila -->
</tr>

<!-- pide los comentarios -->
<tr>
<td colspan='4'>
<fieldset>
<legend>Observaciones y Comentarios </legend>
<textarea name='observaciones_entrevista'
          id='observaciones_entrevista'
          rows='3' cols='80'>
</textarea>
</fieldset>
</td>
</tr>

<!-- cerramos la tabla -->
</table>

<!-- cerramos el formulario -->
</form>

<!-- definimos el div donde cargamos la grilla -->
<div id='grilla_entrevistas'>

</div>
<SCRIPT>

    // instanciamos los tooltips
    new jBox('Tooltip', {
        attach: '.tooltip',
        theme: 'TooltipBorder'
    });

    // configura el editor
    CKEDITOR.replace('observaciones_entrevista', {
            height: 100
    } );

    // fijamos los datepicker y configuramos el valor de retorno
    $('input.datepicker').Zebra_DatePicker({
        days: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
        format: "d/m/Y",
        months: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Augosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre']
    });

    // por defecto carga el usuario y la fecha actual
    document.getElementById("usuario_entrevista").value = sessionStorage.getItem("Usuario");

    // cargamos las entrevistas previas ahora que ya generamos la página
    entrevistas.grillaEntrevistas();

</SCRIPT>