<!--

    Archivo: horarios.html
    Proyecto: Diagnóstico
    Autor: Claudio Invernizzi
    E-Mail: cinvernizzi@gmail.com
    Institución: INP - Dr. Mario Fatala Chaben
    Fecha: 17/07/2019
    Version: 1.0
    Licencia: GPL
    Comentarios: Procedimiento que arma el formulario principal para
                 la edición de horarios de los profesionales

-->

<!-- definimos el formulario -->
<form name='lista_horarios ' id ='lista_horarios'>

<!-- presenta el título -->
<h3>Horarios de Atención</h3>

<!-- presenta el combo con la nómina de profesionales -->
<label>Profesional:
<span class='tooltip'
      title='Seleccione el profesional de la lista'>
<select name='lista_profesionales'
        id='lista_profesionales'
        size='1'
        onChange='horarios.Actualizar()'>

<!-- la nómina de profesionales la cargamos por javascript -->

<!-- cerramos los tags -->
</select>
</span>
</label>

<!-- abrimos la tabla -->
<table width='98%' align='center' border='0'>

<!-- definimos el encabezado -->
<thead>
<tr>
<th>Día</th>
<th align='center'>Inicio</th>
<th align='center'>Fin</th>
<th align='center'>Usuario</th>
<th align='center'>Fecha</th>
</tr>
</thead>

<!-- definimos el cuerpo de la tabla donde vamos
     a cargar por javascript los horarios -->
<tbody id='cuerpo_horarios'></tbody>

<!-- cerramos la tabla -->
</table>

<!-- cerramos el formulario -->
</form>

<script>

    // cargamos los elementos del select
    usuarios.nominaProfesionales("lista_profesionales");

    // instanciamos los tooltips
    new jBox('Tooltip', {
        attach: '.tooltip',
        theme: 'TooltipBorder',
        zIndex: 20000
    });

</script>